{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Demos :: {% endblock %}

{% block description %}Let's demo CoreOS.{% endblock %}

{% block page_styles %}
  <link href="/css/demo.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <div class="logo col-md-1">
        <img src="/img/site/coreos.png">
      </div>
      <div class="col-md-10">
        <h1>CoreOS</h1>
        <p class="blurb">CoreOS enables warehouse-scale computing on top of a minimal, modern operating system.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 id="info-title">{% if instance.state < 4 %}Step #3: Wait for Provisioning{% else %}Step 4: Access the Instance{% endif %}</h3>
      <p><span id="info">{% if instance.state < 4 %}Please wait while the instance is started and provisioned. This page will update once CoreOS is running.{% endif %}</span> {% if instance.ipv4_address %}This instance is running an IPv4 address at <strong>{{ instance.ipv4_address }}</strong>. You may ssh into it by doing a <code>ssh core@{{ instance.ipv4_address }}</code> using your ssh key.{% elif instance.ipv6_address %}This instance is running an IPv6 address at <strong>{{ instance.ipv6_address }}</strong>. You may ssh into it by doing a <code>ssh core@{{ instance.ipv6_address }}</code> using your ssh key.{% endif %}</p>

      <div class="row instance-detail-row">
        <div class="{% if instance.state < 7 %}col-md-4{% else %}col-md-6{% endif %}">
          <div class="text-center"><h3><small>Instance Timer</small></h3></div>
          <div class="text-center">
            <input id="timer" data-state="{{ instance.state }}" data-expires="{{ instance.expires }}" data-updated="{{ instance.updated|epoch }}" data-step="1" data-readOnly=true data-min="0" value="0" data-max="{{ instance.data_max }}" data-width="230" data-height="230">
          </div>
          <div class="text-center timer-state">
            <p>{{ macros.instance_state(instance.state) }}</p>
          </div>
        </div>
        {% if instance.state < 7 %}
        <div class="col-md-4">
          <div class="text-center"><h3><small>Payment Address</small></h3></div>
          <div class="text-center" id="qrcode"></div>
          <div class="text-center" id="address"><a href="https://blockchain.info/address/{{ instance.address }}" target="_blank">{{ instance.address }}</a></div>
        </div>
        {% endif %}
        <div class="{% if instance.state < 7 %}col-md-4{% else %}col-md-6{% endif %}">
          <div class="text-center"><h3><small>Instance Location</small></h3></div>
          <div class="text-center" id="instance-map"></div>
          <div class="text-center" id="provider"><a href="#" target="_blank">{{ instance.appliance.get().name }}</a></div>
        </div>
      </div>

      <div id="back" class="row">
        <div id="back-inner" class="col-md-8 hidden">
          <button type="button" id="back-to-demos-button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> Back to Demos</button>
          <button type="button" id="instance-details-button" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> View Instance Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // vars
    var address = "{{ instance.address }}";
    var token = "{{ instance.token }}";

    // standard stuff
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // populate the address section
    var qrcode_string = "bitcoin:{{instance.address}}?amount="+(parseInt({{instance.ask}}*24)/1000000);
    $('#qrcode').qrcode({text: qrcode_string});
    $('#address').html('<a href="https://blockchain.info/address/'+address+'" target="_blank">'+address+'</a>');
    $('#back-inner').removeClass('hidden');

    // state indicator
    var state_indicator = function(state) {
      // remove all colors
      $('#state').removeClass("label-danger").removeClass("label-warning").removeClass("label-info").removeClass("label-success");

      // set label state
      if (state == 3) {
        $('#state').html("Starting");
        $('#state').addClass("label-success");
      } else if (state == 4) {
        $('#state').html("Running");
        $('#state').addClass("label-success");
      } else if (state == 5) {
        $('#state').html("Suspended");
        $('#state').addClass("label-warning");
      } else if (state == 6) {
        $('#state').html("Unsuspended");
        $('#state').addClass("label-info");
      } else if (state == 7) {
        $('#state').html("Decommissioned");
        $('#state').addClass("label-danger");
      } else if (state == 10) {
        $('#state').html("Reserved");
        $('#state').addClass("label-danger");
      } else if (state == 11) {
        $('#state').html("Loading Image");
        $('#state').addClass("label-success");
      }
    }

    // get our state and IPs after forced reload to running
    var load_state = {{ instance.state }};
    var ipv4 = "{{ instance.ipv4_address }}";
    var ipv6 = "{{ instance.ipv6_address }}";
    
    // for development instances
    if (ipv4 == "None") {
     ipv4 = "{{ instance.ipv4_private_address }}";
    }

    // for message state tracking
    var prev_state = 0;
    if (load_state > 0) {
      prev_state = load_state;
    }

    // handle channel messages
    onMessage = function(packet) {
      var data = JSON.parse(packet.data);
      var name = data.name;

      console.log("onmessage"+data.state);

      // if our ajax state is larger than the existing state
      if (data.state > prev_state) {
        if (data.state == 4) {
          // moving to state 4, we reload so we get the IPs
          window.location.reload();
        } else {
          state_indicator(data.state);
          prev_state = data.state;
        }
      } else if (data.state < prev_state) {
        // we went back a state, which means openstack is loading image
        state_indicator(11);
        prev_state = data.state;
      } else if (data.state == 4) {
        state_indicator(4);
      }
    };

    // sockets, bitches
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

    // timer knob
    $('#timer').knob();
    setInterval(function() {
      var epoch_time = parseInt((new Date).getTime()/1000);
      var expires = parseInt($('#timer').attr('data-expires'));
      var state = parseInt($('#timer').attr('data-state'));
      var timer2 = expires - epoch_time;
      if (timer2 > -1) {
        $('#timer').val(timer2).trigger("change");
      } else {
        $('#timer').val(0).trigger("change");
      }
    }, 1000);

    // wire back to demos button
    $('#back-to-demos-button').click(function() {
      window.location = "{{ uri_for('demo') }}";
    });

    // wire instance detail button
    $('#instance-details-button').click(function() {
      window.location = "{{ uri_for('lab-instance-detail', token=instance.token) }}";
    });

    // map
    var location = [{{ instance.appliance.get().location }}];
    var themap = L.mapbox.map('instance-map', 'kordless.gnm28jg1', {scrollWheelZoom: true}).setView(location, 8);
    var marker = L.marker(location).addTo(themap);
    
  });
</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/js/jquery.qrcode.js"></script>
  <script type="text/javascript" src="/js/qrcode.js"></script>
  <script type="text/javascript" src="/js/jquery.knob.js"></script>
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
{% endblock %}