{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Demos :: {% endblock %}

{% block description %}Let's demo Splunk.{% endblock %}

{% block page_styles %}
  <link href="/css/demo.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden create modal -->
<div id="modal-create" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Enter Your Public SSH Key</h4>
      </div>
      <div class="modal-body">
        <p>Paste a <strong>public</strong> key into the field below and click <strong>Reserve Instance</strong> to reserve an instance for payment. As a courtesy, your SSH keys will be removed from the system after 24 hours.</p>
        <div class="row form-group">
          <div class="col-md-12">
            <div class="row">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              {{ macros.input(form, "ssh_key", "Authorized SSH Key", "col-xs-12", class="form-control form-ssh-key", rows=10, placeholder="ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAklOUpkDHrfHY17SbrmTIpNLTGK9Tjom/BWDSUGPl+nafzlHDTYW7hdI4yZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4h9lFX5QVkbPppSwg0cda3Pbv7kOdJ/MTyBlWXFCR+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XAt3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/EnmZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbxNrRFi9wrf+M7Q== anonymous@bitcoin.local") }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" id="modal-reserve-button" class="btn btn-danger">Reserve Instance</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="inverse">
  <div class="container">
    <div class="row">
      <div class="logo col-md-1">
        <img src="/img/site/splunk.png">
      </div>
      <div class="col-md-10">
        <h1>Splunk</h1>
        <p class="blurb">Make machine data accessible, usable and valuable to everyone.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h3 id="step">Step #1: Enter an SSH Key</h3>
      <span id="info">
        <div class="bs-callout bs-callout-danger bs-callout-top">
          <h4>Disclaimer</h4>
          <p>This demo instance will be provisioned with the free version of <a href="https://www.splunk.com/">Splunk 6.1.4</a> on top of <a href="https://www.hpcloud.com/">HP's Helion Cloud</a> using a <strong>m2048.v2.d30.e0.i0</strong> instance running <a href="http://ubuntu.com/">Ubuntu</a>.  Please note that <strong>StackMonkey</strong> is not affiliated with Splunk, HP or Ubuntu.  Your mileage may vary depending on certain software and/or provider combinations.</p>
        </div>
        <p>Do you want to launch this instance with your public SSH key?</p>
        <div class="launch-buttons">
          <button type="button" id="launch-with-ssh-key" class="btn btn-info">Launch With SSH Key</button>
          <button type="button" id="launch-without-ssh-key" class="btn btn-danger">Launch Without SSH Key</button>
        </div>
      </span>
      <div class="row">
        <div class="col-md-4">
          <div class="text-center" id="qrcode"></div>
          <div class="text-center" id="address"></div>
        </div>
      </div>
      <div id="back" class="row">
        <div id="back-inner" class="col-md-4 hidden">
          <button type="button" id="delete-reservation-button" class="btn btn-danger">Cancel Reservation</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>

  <script type="text/javascript">
    $().ready(function() {
      // crate a wisp
      var create_wisp = function(ssh_key) {
        // create wisp data
        var wisp_post_data = {
          "ssh_key": ssh_key,
          "post_creation": "#cloud-init\nhostname: splunk-demo\nmanage_etc_hosts: true\nruncmd:\n- [ wget, 'http://goo.gl/cxBQR3', -O, /tmp/install.sh]\n- chmod 755 /tmp/install.sh\n- /tmp/install.sh",
          "dynamic_image_url": "http://cloud-images.ubuntu.com/trusty/current/trusty-server-cloudimg-amd64-disk1.img",
          "image_disk_format": "qcow2",
          "image_container_format": "bare"
        }

        // create a new wisp
        $.ajax({
          type: "POST",
          url: "{{ uri_for('api-wisp') }}",
          data: JSON.stringify(wisp_post_data),
          dataType: "json",
          processData: false
        }).fail(function(data) {
          alertify.error(data.responseJSON.result.message);
        }).done(function(data) {
          // create instance bid
          var wisp_id = data.result.wisp.id;
          var bid_post_data = {
            "flavor": "m2048.v2.d30.e0.i0",
            "wisp_id": data.result.wisp.id
          }

          // create a new bid
          $.ajax({
            type: "POST",
            url: "{{ uri_for('api-bids') }}",
            data: JSON.stringify(bid_post_data),
            dataType: "json",
            processData: false
          }).fail(function(data) {
            if (data.responseJSON.result.bid) {
              // go to bid/instance page
              window.location = data.responseJSON.result.bid.token+"/";
            } else {
              alertify.error(data.responseJSON.result.message);
              alertify.log("Please try again in a few minutes.")
              setTimeout(function() {
                window.location = "{{ uri_for('demo') }}";
              }, 3000);
            }
          }).done(function(data) {
            console.log(data.result);
            // go to bid/instance page
            window.location = data.result.bid.token+"/";
          });

        });
      }
      // end crating of wisp

      // enable or disable button?
      var launch_keys_disabled = false;

      // close modal
      $('#modal-create').on('hidden.bs.modal', function () {
        $('#launch-with-ssh-key').prop('disabled', launch_keys_disabled);
        $('#launch-without-ssh-key').prop('disabled', launch_keys_disabled);
;      });

      // launch with ssh key button
      $('#launch-with-ssh-key').click(function() {
        $('#launch-without-ssh-key').attr('disabled', 'disabled');
        $('#launch-with-ssh-key').attr('disabled', 'disabled');
        $('#modal-create').modal('show');
      });

      $('#launch-without-ssh-key').click(function() {
        $('#launch-without-ssh-key').attr('disabled', 'disabled');
        $('#launch-with-ssh-key').attr('disabled', 'disabled');
        create_wisp("");
      })

      // modal reserve
      $('#modal-reserve-button').click(function() {
        var ssh_key = $('#ssh_key').val();
        launch_keys_disabled = true;
        $('#modal-create').modal('hide');
        create_wisp(ssh_key);
        $('#ssh_key').val('');
      });
    });
  </script>
{% endblock %}