{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Clouds :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("clouds", user_id) }}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Manage Cloud <strong>{{ cloud.name }}</strong></small></h2>
            <div class="row">
              <div class="col-md-10">
                <div class="bs-callout bs-callout-info bs-callout-top">
                  <h4>Forming a Cloud</h4>
                  <p><strong>Clouds</strong> are groups of <strong>Instances</strong> which run on the pool's various <strong>Appliances</strong>. Appliances launch instances which meet or exceed <strong>Ask Prices</strong> for a given <strong>Instance Flavor</strong>. <strong>Instance Bid Price</strong>, <strong>Appliance Groups</strong> and <strong>Appliance Location</strong> are used by the pool to help find suitable appliances for launching your instances.</p>
                  <p>Click the <span class="label label-success">Add Instance Bid</span> button below to add an instance bid to this cloud.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button type="submit" id="add-button" class="btn btn-success">Add Instance Bid</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";
  
    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

  });

</script>
{% endblock %}

{% block extras %}
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
{% endblock %}

