{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Clouds :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="modal-delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Deleting this cloud is not allowed unless its address balance is ZERO and instances are NOT running under it.  Are you sure you want to try to delete it?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="modal-delete-button" class="btn btn-danger">Delete Cloud</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("clouds") }}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Cloud <strong>{{ cloud.name }}</strong></small></h2>
            <div class="row">
              <div class="col-md-10">
                <p>The following values can be edited for this cloud.  Changes to this cloud will only take affect after saving.</p>
                <form id="form-edit-cloud" action="{{ url|safe }}" method="post" class="form-horizontal">
                  <div class="row">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    {{ macros.input(form, "name", "Name", "col-xs-8", placeholder="My Fluffy Cloud", class="form-control required") }}
                    {{ macros.input(form, "description", "Description", "col-xs-10", placeholder="Fluffy clouds are the best clouds.", class="form-control required") }}
                  </div>
                  <button type="submit" id="create-button" class="btn btn-success">Save Cloud</button>
                  <button type="button" id="delete-button" class="btn btn-danger">Delete Cloud</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

    // remove cloud button
    $('#delete-button').click(function() {
      $('#modal-delete').modal();
      $('#modal-delete-button').click(function() {
        $('#modal-delete').modal("hide");
        $.ajax({
          url: '?_csrf_token='+csrf_token+'&channel_token='+channel_token,
          type: 'DELETE'
        });
      });
    });

    // show create modal on any errors
    {% if messages|safe %}
      {% for message in messages %}
        {% if message[1] == 'error' %}
          $("#modal-create").modal();
        {% endif %}
      {% endfor %}
    {% endif %}

  });

</script>
{% endblock %}

