{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Clouds :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Removal</h4>
      </div>
      <div class="modal-body">
        <p>Removing an instance from the cloud is irreversible. Are you sure you want to do this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="delete-button" class="btn btn-danger">Remove Instance</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->
<!-- hidden qrcode payment modal -->
<div id="qrcode-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Manual Instance Payment</h4>
      </div>
      <div class="modal-body">
        <p>The following Bitcoin address can be used to make a payment on this instance. The current ask for this instance is <code><span id="ask">XXX</span> μBTC/Hour</code>.</p>
        <div class="qrcode-address">
          <div class="text-center" id="qrcode"></div>
          <div class="text-center" id="address"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="qrcode-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("clouds", user_id) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Cloud <strong>{{ cloud.name }}</strong></small></h2>
            {% if not instances %}
            <div class="row">
              <div class="col-md-12">
                <div class="bs-callout bs-callout-info bs-callout-top">
                  <h4>Forming a Cloud</h4>
                  <p><strong>Clouds</strong> use <strong>Instance Launches</strong> to launch instances which meet or exceed <strong>Ask Prices</strong> for a given <strong>Instance Flavor</strong>. Instance launches can use <strong>Appliance Groups</strong> and <strong>Appliance Location</strong> to help find suitable appliances for launching instances.  Instance launches use <strong>Wisps</strong> to provision instances.</p>
                  <p>Click the <span class="label label-success">Add Instance</span> button below to add an instance to this cloud.</p>
                </div>
              </div>
            </div>
            {% else %}
            <div class="row">
              <div class="col-md-12">
                <div class="bs-callout bs-callout-info bs-callout-top">
                  <h4>Managing Your Cloud</h4>
                  <p>Your instances will die if you don't pay for them. You don't want dead instances, do you?</p>
                </div>
              </div>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>State</th>
                  <th>Instance ID</th>
                  <th>Flavor</th>
                  <th>Expires</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for instance in instances %}
                <tr>
                  <td>{% if instance.state == 0 %}<span title="Inactive" class="glyphicon glyphicon-remove-sign"></span>{% elif instance.state == 1 %}<span title="Waiting on payment." class="glyphicon glyphicon-time"></span>{% elif instance.state == 2 %}<span title="Payment Received" class="glyphicon glyphicon-usd"></span>{% elif instance.state == 3 %}<span title="Starting" class="glyphicon glyphicon-off"></span>{% elif instance.state == 4 %}<span title="Running" class="glyphicon glyphicon-play"></span>{% elif instance.state == 5 %}<span title="Suspended" class="glyphicon glyphicon-pause"></span>{% elif instance.state == 6 %}<span title="Unsuspend" class="glyphicon glyphicon-fire"></span>{% elif instance.state == 7 %}<span title="Decommission" class="glyphicon glyphicon-fullscreen"></span>{% elif instance.state == 10 %}<span title="Reserved" class="glyphicon glyphicon-tag"></span>{% endif %}</td>
                  <td><a href="{{ uri_for('lab-instance-detail', token=instance.token) }}">{{ instance.name }}</a></td>
                  <td>{{ instance.flavor.get().name }}</td>
                  <td id="instance-timer-{{instance.key.id()}}" data-state="{{ instance.state }}" data-expires="{{ instance.expires }}"><img src="/img/loading.gif"/></td>
                  <td>
                    {% if instance.state < 7 %}
                    <button id="instance-payment-{{ instance.address }}" title="Make a payment." data-ask="{{ instance.ask }}" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-qrcode"></span> Payment</button>
                    {% else %}
                    <button type="button" id="remove-{{instance.key.id()}}" class="btn btn-danger btn-xs" title="remove" href="#"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            <div class="row">
              <div class="col-md-4">
                <button type="submit" id="add-button" class="btn btn-success">Add New Instance</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";
  
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    // listen to our refresh channel for page reload
    onMessage = function() {
      window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

    // instance timers
    setInterval(function() {
      var epoch_time = parseInt((new Date).getTime()/1000);
      $('td[id^="instance-timer-"]').each(function(index){
        var expires = parseInt($('#'+this.id).attr('data-expires'));
        var state = parseInt($('#'+this.id).attr('data-state'));
        var timer = expires - epoch_time;
        if (timer < 0) {
          if (state == 1 || state == 10) {
            $('#'+this.id).html('Waiting on payment.');
          } else {
            $('#'+this.id).html('Payment expired.');
          } 
        } else {
          $('#'+this.id).html("Expires in "+numberWithCommas(timer)+" seconds.");
        }
      });
    }, 1000);

    // add button
    $('#add-button').click(function() {
      window.location = "{{ uri_for('lab-launcher') }}?cloud_id={{ cloud.key.id() }}";
    });

    // remove buttons
    $('button[id^="remove-"]').each(function(index){
      $('#'+this.id).click(function() {
        instance_id = this.id.split("-").pop();
        button_id = '#'+this.id;
        $('#delete').modal();
        $('#delete-button').click(function() {
          $('#delete').modal('hide');
          $.ajax({
            url: '/clouds/{{cloud.key.id()}}/instances/'+instance_id+'/?_csrf_token='+csrf_token+'&channel_token='+channel_token,
            type: 'DELETE'
          });
        });
      })
    });

    // payment buttons to show qrcodes
    $('button[id^="instance-payment-"]').each(function(index){
      $('#'+this.id).click(function() {
        $('#qrcode-modal').modal();
        var address = this.id.split("-").pop();
        var ask = $('#'+this.id).attr('data-ask');
        var qrcode_string = "bitcoin:"+address+"?amount="+(parseInt(ask)/1000000);
        $('#ask').html(ask);
        $('#qrcode').html('');
        $('#qrcode').qrcode({text: qrcode_string});
        $('#address').html(address);
      })
    });

    // show create modal on any errors
    {% if messages|safe %}
      {% for message in messages %}
        {% if message[1] == 'error' %}
          $("#modal-create").modal();
        {% endif %}
      {% endfor %}
    {% endif %}

  });

</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <script type="text/javascript" src="/js/jquery.qrcode.js"></script>
  <script type="text/javascript" src="/js/qrcode.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
{% endblock %}

