{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Clouds :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="modal-delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Deleting this cloud is not allowed unless it doesn't have any instances under it.  Are you sure you want to try to delete it?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="modal-delete-button" class="btn btn-danger">Delete Cloud</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<!-- hidden create modal -->
<div id="modal-create" class="modal fade">
  <div class="modal-dialog">
    <form id="form-new-cloud" action="{{ url|safe }}" method="post" class="form-horizontal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create New Cloud</h4>
        </div>
        <div class="modal-body">
          <p>Enter the name and description for the new cloud.</p>
          <div class="row form-group">
            <div class="col-md-12">
              <div class="row">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                {{ macros.input(form, "name", "Name", "col-xs-8", placeholder="My Fluffy Cloud", class="form-control required") }}
                {{ macros.input(form, "description", "Description", "col-xs-12", placeholder="Fluffy clouds are the best clouds.", class="form-control required") }}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="modal-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="modal-create-button" class="btn btn-success">Create Cloud</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end modal -->

<!-- hidden edit modal -->
<div id="modal-edit" class="modal fade">
  <div class="modal-dialog">
    <form id="form-edit-cloud" action="{{ url|safe }}" method="post" class="form-horizontal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-edit-title">Editing Cloud</h4>
        </div>
        <div class="modal-body">
          <p>Edit the name and description of the cloud and then click <strong>Save Cloud</strong>.</p>
          <div class="row form-group">
            <div class="col-md-12">
              <div class="row">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                {{ macros.input(form, "name", "Name", "col-xs-8", placeholder="My Fluffy Cloud", class="form-control required edit") }}
                {{ macros.input(form, "description", "Description", "col-xs-12", placeholder="Fluffy clouds are the best clouds.", class="form-control required edit") }}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="modal-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="modal-save-button" class="btn btn-success">Save Cloud</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("clouds", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Account Clouds</small></h2>
            <div class="row">
              <div class="col-md-12">
                <div class="bs-callout bs-callout-info bs-callout-top">
                  <h4>Clouds</h4>
                  <p><strong>Clouds</strong> are groups of <strong>Instances</strong> which run on the pool's various <strong>Appliances</strong>. Click on the <strong>Cloud Name</strong> to view its instances. If you need to rename a cloud, use the <span class="glyphicon glyphicon-pencil"></span> button to edit.  Use the <span class="glyphicon glyphicon-remove"></span> to delete the cloud.</p><p>Click on the <span class="label label-success">New Cloud</span> button below to create a new cloud.</p>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Cloud</th>
                      <th>Description</th>
                      <th class="text-center"># Instances</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for cloud in clouds %}
                    <tr>
                      <td><a href="{{ uri_for('account-clouds-configure', self.request, cloud_id=cloud.key.id()) }}">{{ cloud.name }}</a></td>
                      <td>{{ cloud.description }}</td>
                      <td class="text-center">{{ cloud.instance_count }}</td>
                      <td>
                        <button type="button" data-name="{{ cloud.name }}" data-description="{{ cloud.description }}" id="edit-{{cloud.key.id()}}" class="btn btn-inverse btn-xs" title="edit" href="#"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button type="button" id="remove-{{cloud.key.id()}}" class="btn btn-danger btn-xs" title="remove" href="#"><span class="glyphicon glyphicon-remove"></span></button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <button type="button" id="new-cloud-button" class="btn btn-success">New Cloud</button>
        </div>
      </div>  
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

    // create new cloud button
    $('#new-cloud-button').click( function() {
      $('#modal-create').modal();
    });

    // set focus on input when modal is done showing up
    $('#modal-create').on('shown.bs.modal', function () {
      $('#name').focus();
    });

    // set focus on input when modal is done showing up
    $('#modal-edit').on('shown.bs.modal', function () {
      $('#name.edit').focus();
    });

    // edit buttons
    $('button[id^="edit-"]').each(function(index){
      $('#'+this.id).click(function() {
        cloud_id = this.id.split("-").pop();
        cloud_name = $('#'+this.id).attr('data-name');
        cloud_description = $('#'+this.id).attr('data-description');
        $('#name.edit').val(cloud_name);
        $('#description.edit').val(cloud_description);
        $('#form-edit-cloud').attr('action', "/clouds/" + cloud_id + "/");
        $('#modal-edit-title').html('Editing <em>' + cloud_name + '</em>');
        $('#modal-edit').modal();
      })
    });

    // remove buttons
    $('button[id^="remove-"]').each(function(index){
      $('#'+this.id).click(function() {
        cloud_id = this.id.split("-").pop();
        button_id = '#'+this.id;
        $('#modal-delete').modal();
        $('#modal-delete-button').click(function() {
          $('#modal-delete').modal("hide");
          $.ajax({
            url: '/clouds/'+cloud_id+'/?_csrf_token='+csrf_token+'&channel_token='+channel_token,
            type: 'DELETE'
          });
        });
      })
    });

    // show create modal on any errors
    {% if messages|safe %}
      {% for message in messages %}
        {% if message[1] == 'error' %}
          $("#modal-create").modal();
        {% endif %}
      {% endfor %}
    {% endif %}

  });

</script>
{% endblock %}

