{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Clouds :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("clouds") }}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Create a <strong>New Cloud</strong></small></h2>
            <div class="row">
              <div class="col-md-10">
              	<div class="bs-callout bs-callout-info bs-callout-top">
			    				<h4>Clouds</h4>
			    			  <p><strong>Clouds</strong> are groups of <strong>Instances</strong> which run on the pool's various <strong>Appliances</strong>. Clouds are comprised of <strong>Segments</strong>.  Segments use <strong>Flavors</strong>, <strong>Wisps</strong>, <strong>Instance Bids</strong> and <strong>Appliance Location</strong> to build instances after a cloud receives a Bitcoin payment.</p>
			  				</div>
  				      <form id="form-new-wisp" action="{{ url|safe }}" method="post" class="form-horizontal">
                  <div class="row">
  		            	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  			            {{ macros.input(form, "name", "Name", "col-xs-8", placeholder="My Fluffy Cloud", class="form-control required") }}
                    {{ macros.input(form, "description", "Description", "col-xs-10", placeholder="Fluffy clouds are the best clouds.", class="form-control required") }}
			            </div>
                  <button type="submit" id="create-button" class="btn btn-success">Create Cloud</button>
					      </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

  });

</script>
{% endblock %}

