{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}About :: {% endblock %}

{% block page_styles %}
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
  <link href="/css/about.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row text-center">
      <h1>About {{ app_name }}</h1>
      <p class="blurb">{{ app_name }} is a <a href="http://techblog.netflix.com/2012/07/chaos-monkey-released-into-wild.html">chaos monkey</a> model compute pool based on the <a href="https://github.com/stackmonkey/">xovio cloud framework</a>. Powered by <a href="http://openstack.org">OpenStack</a> and Bitcoin.</p>
      <div class="address">
        <p>Some Dude's Garage</p>
        <p>1092 Sanders Drive</p>
        <p>Moraga, CA 94556</p>
        <p>&nbsp;</p>
        <p>@stackape</p>
        <p>{{ app_email }}</p>
        <p>(510) 230-3482</p>
      </div>
    </div>
  </div>
</div>
<a name="contact"></a>
<div class="container">
  <div class="row text-center">
    <h1 class="team">Meet the Team</h1>
    <img src="/img/about/kord.jpg" alt="Kord" class="img-rounded">
    <a name="contact"></a>
    <h3><a href="https://www.google.com/search?q=Kord+Campbell">Kord Campbell</a>, Solo Founder</h3>
    <p class="paddme">Follow @<a href="http://twitter.com/kordless">kordless</a> on Twitter.  He's a hoot.</p>
  </div>
</div>
<div class="inverse">
  <div class="container">
    <div class="row text-center contact">
      <h1 class="team">Give Us a Holler</h1>
      <form action="{{ url|safe }}" method="post" role="form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        {{ macros.input(form, "name", ("Name"), placeholder=("Wow. Your name is awesome."), class="form-control focused required") }}
        {{ macros.input(form, "email", ("Email"), placeholder=("you@example.com"), class="form-control required") }}
        {{ macros.input(form, "message", "Message", placeholder="I'd like to work on this, actually.",class="form-control required", cols="40", rows="8") }}
        <div class="form-actions">
          <button type="submit" class="btn btn-success">Send Message</button>
        </div>
      </form>  
    </div>
  </div>
</div>
<div id="map"></div>
{% endblock %}

{% block javascript %}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
  <script type="text/javascript">
    $().ready(function() {
      // map + map update
      var themap = L.mapbox.map('map', 'kordless.hifh5abd', {scrollWheelZoom: false, zoomControl: false}).setView([37.87, -122.14], 12);
      var marker = L.marker([37.834, -122.127]).addTo(themap);
    });

  </script>
{% endblock %}