{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}About :: {% endblock %}

{% block page_styles %}
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
  <link href="/css/about.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row text-center">
      <h1>About {{ app_name }}</h1>
      <p class="blurb">{{ app_name }} is a <a href="http://techblog.netflix.com/2012/07/chaos-monkey-released-into-wild.html">chaos monkey</a> compute pool based on the <a href="http://utter.io/">Utter.io Cloud Framework</a>. Powered by <a href="http://openstack.org">OpenStack</a> and <a href="https://bitcoin.org/">Bitcoin</a>.</p>
      <div class="address">
        <p>Some Dude's Garage</p>
        <p>1092 Sanders Drive</p>
        <p>Moraga, CA 94556</p>
        <p>&nbsp;</p>
        <p>{{ app_email }}</p>
        <p>(510) 230-3482</p>
        <p>&nbsp;</p>
        <iframe src="https://mdo.github.io/github-buttons/github-btn.html?user=stackmonkey&amp;repo=utter-va&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="30"></iframe>
        <a href="https://twitter.com/stackape" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @stackape</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>        <a name="contact"></a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <h1>Say Howdy to the Team</h1>
    <ul class="team">
      <li>
        <b>Kord</b>
        <a target="_blank" href="https://twitter.com/kordless"><img src="/img/site/twitter.png" alt="Twitter"></a>
        <a target="_blank" href="https://github.com/kordless"><img src="/img/site/github.png" alt="Github"></a>
        <img src="/img/about/kord.png">
        <span class="mask"></span>
      </li>
      <li>
        <b>Mauro</b>
        <a target="_blank" href="https://twitter.com/r3pl4y"><img src="/img/site/twitter.png" alt="Twitter"></a>
        <a target="_blank" href="https://github.com/replay"><img src="/img/site/github.png" alt="Github"></a>
        <img src="/img/about/mauro.png">
        <span class="mask"></span>
      </li>
    </ul>
  </div>
</div>
<div class="inverse">
  <div class="container">
    <div class="row text-center contact">
      <h1>Give Us a Holler</h1>
      <form action="{{ url|safe }}" method="post" role="form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        {{ macros.input(form, "name", ("Name"), placeholder=("Wow. Your name is awesome."), class="form-control focused required") }}
        {{ macros.input(form, "email", ("Email"), placeholder=("you@example.com"), class="form-control required") }}
        {{ macros.input(form, "message", "Message", placeholder="I'm awesome.",class="form-control required", cols="40", rows="8") }}
        <div class="form-actions">
          <button type="submit" class="btn btn-success">Send Message</button>
        </div>
      </form>  
    </div>
  </div>
</div>
<div id="map"></div>
{% endblock %}

{% block javascript %}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
  <script type="text/javascript">
    $().ready(function() {
      // map + map update
      var themap = L.mapbox.map('map', 'kordless.hifh5abd', {scrollWheelZoom: false, zoomControl: false}).setView([37.87, -122.14], 12);
      var marker = L.marker([37.834, -122.127]).addTo(themap);
    });

  </script>
{% endblock %}