{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Demos :: {% endblock %}

{% block description %}Enjoy the demos!{% endblock %}

{% block page_styles %}
  <link href="/css/demo.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row text-center">
      <h1>Instance Demos</h1>
      <p class="blurb">The following software can be launched as demo instances by paying with <strong>Bitcoin</strong>. Simply click to get started.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <ul class="demos">
      <li id="demo-splunk" class="software">
        <b>Splunk</b>
        <a target="_blank" href="https://twitter.com/splunk"><img src="/img/site/twitter.png" alt="Twitter"></a>
        <a target="_blank" href="https://gist.github.com/"><img src="/img/site/github.png" alt="Github"></a>
        <span><img src="/img/site/splunk.png"></span>
        <span class="mask"></span>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {
      $('li[id^="demo-"]').each(function(index) {
        $('#'+this.id).click(function() {
          var demo = this.id.split("-").pop();
          window.location = "/demo/"+demo+"/";
        });
      });
    });
  </script>
{% endblock %}