{% import "macros.html" as macros %}
{% extends base_layout %}

{% block page_styles %}
    <!-- Home Page -->
    <link href="/css/docs.css" rel="stylesheet">
    <link href="/css/documentation.css" rel="stylesheet"> 
    <link href="/css/font-awesome.css" rel="stylesheet">

{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>Documentation</h1>
      <p class="blurb">Welcome to the {{ app_name }} documentation! All your compute are belong to us.</p>
    </div>
  </div>
</div>
<div id="docs" class="container">
  <div class="row">
    <!--Main Content -->
    <div class="col-xs-9">
      <section id="overview" class="group">
        <h3>Overview</h3>
        <p>The {{ app_name }} site is an instance of the <a href="http://utter.io/">Utter.io</a> compute pool.  Utter.io is like AirBnb for excess compute, providing fast location and provisioning of compute resources within a cooperative set of systems managed by <a href="http://superuser.openstack.org/">OpenStack operators</a>. Resource accounting inside the network is settled with <a href="https://bitcoin.org/">Bitcoin</a> and purchases of compute instances can be made by users without an account.</p>
        <div class="bs-callout bs-callout-warning bs-callout-top">
          <h4>Software Licensing</h4>
          <p>All <a href="https://www.github.com/stackmonkey/">project code</a> is Open Source and licensed under the <a href="http://opensource.org/licenses/MIT">MIT License</a>. You may do whatever you please with the code.</p>
        </div>

        <div id="how-it-works" class="subgroup">
          <h4>How It Works</h4>
          <p>Providers run <a href="https://www.github.com/stackmonkey/utter-va">virtual appliances</a> on top of their <strong>OpenStack clusters</strong>, which allows a limited amount of control over the cluster by the appliances.  Appliances listen to the <strong>Bitcoin blockchain</strong> for payments to a given <strong>Bitcoin address</strong>.  When a payment is noted to an address, an instance is started using the <strong>Instance Flavor</strong> associated with that address.</p>
          <p>Right before an instance is started, the appliance will ask the <a href="https://www.github.com/stackmonkey/utter-pool">pool software</a> for provisioning details related to the instance, including ssh-keys and post boot configuration scripts.</p>
          <p>The pool software provides a centralized location where appliances can advertise their instances for sale for a given <strong>Ask Price</strong>. By providing users the ability to search and bid on instances, this effectively creates a marketplace where compute can be openly sold, purchased or traded.  These transactions are currently done via <strong>Instance Reservations</strong>.  Here is a screenshot of an instance reservation using an OpenStack service provider located in Nairobi, Kenya:</p>
          <p class="text-center"><img src="/img/site/instance_reservation.png"/></p>
        </div>

        <div id="is-it-secure" class="subgroup">
          <h4>Is It Secure?</h4>
          <p>From a security standpoint, the system management and payment portions of the project should be reasonably secure against bad actors. The project is Open Source and can be audited by <a href="https://github.com/stackmonkey/">viewing the appliance and pool repositories on Github</a>.</p><p>Please <a href="https://github.com/StackMonkey/utter-pool/issues/new">open a ticket</a> if you find a security related issue.</p>
          <p>Instance starts on the network only occur after an appliance has noted a payment on the Bitcoin blockchain.  The notifications are sent into the appliance via webhook calls from <a href="https://www.coinbase.com/docs/merchant_tools/callbacks">Coinbase's payment callbacks</a>. Before an instance is started by the appliance, the callback payload from Coinbase must contact a tokenized hostname with the correct Bitcoin address and a special address token known only to Coinbase.</p>
          <p>The address tokens and tokenized hostname are never shared with the pool and the pool is incapable of contacting an appliance directly to give it commands. Appliances only call into the pool to give status updates on instances and to fetch flavor varieties.</a>
        </div>

        <div id="can-i-trust-it" class="subgroup">
          <h4>Can I Trust It?</h4>
          <p>Trusting public cloud infrastructure has been an ongoing challenge for companies with higher level trust-based use cases.  Because cloud computing use cases come in a wide variety of required trust levels, the answer to whether you can trust a coop infrastructure varies wildly with your specific use case.</p>
          <p>For example, trusting an unknown provider to do continuous integration tests for you on Open Source software requires a much lower trust level than handling financial transactions using closed source proprietary code.</p>
          <p>For high trust use cases, Utter.io provides a feature called <strong>Appliance Groups</strong> which allows users and operators to <a href="#pool-groups">form hybrid cloud groups</a>, allowing the sharing of excess compute resources between entities who trust each other.  Future version of the software will provide these types of additional trust levels automatically.</p>
        </div>

        <div class="bs-callout bs-callout-danger bs-callout-top">
          <h4>High Trust Levels?</h4>
          <p>{{ app_name }} recommends you use <strong>Appliance Groups</strong> you form with trusted parties for higher trust level uses cases.  <a href="/groups/">Click here</a> to create your first trusted appliance group.</p>
        </div>
      </section>
      <section id="pool" class="group">
        <h3>Compute Pool</h3>
          <p>This section of the documentation covers the use of the compute pool functionality at {{ app_name }}.</p>
          <div id="account-setup" class="subgroup">
            <h4>Account Setup</h4>
            <p>Accounts on the compute pool are provided via federated logins with Google.  When you <a href="{{ uri_for('login') }}">login to {{ app_name }}</a> you will see a Google account chooser.  Select the account you want to use on {{ app_name }}.</p>
            <p class="text-center"><img src="/img/site/google_chooser.png"/></p>
            <p>Once you've logged into your Google account, you will be informed about the level of access {{ app_name }} will have to your Google account.  {{ app_name }} only needs access to your <strong>email address</strong>.
            </p>
            <p class="text-center"><img src="/img/site/google_access.png"/></p>
            <p>Click on the <strong>Accept Button</strong> to create and login to your {{ app_name }} account.</p>
          </div>
          <div id="two-factor-authentication" class="subgroup">
            <h4>Two Factor Authentication</h4>
            <p>Once you have created your account, you should enable two factor authentication.  Start by clicking on the <strong>settings tab</strong> in the left navigation menu, then click on the slider under the <strong>Two Factor Authentication</strong> section.  You will be presented with a two factor authentication setup modal:</p>
            <p class="text-center"><img src="/img/site/two_factor.png"/></p>
            <p>To install Google Authenticator you can visit the <a target="_blank" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en">Google Play Store</a> or the <a target="_blank" href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS App Store</a>.  Once you've installed Authenticator, set up a new account by clicking <strong>Set Up Account</strong> and then clicking <strong>Scan Barcode</strong> and scanning the barcode in the site's modal.  Finish the setup by using the Authenticator app to enter the verification code in the modal.</p>
            <div class="bs-callout bs-callout-warning bs-callout-top">
              <h4>Note</h4>
              <p>After you've enabled two factor authentication on your account, you'll be prompted to enter a code from your phone's <strong>Google Authenticator app</strong> whenever you attempt to login to the {{ app_name }} site.</p>
            </div>
          </div>
          <div id="forming-clouds" class="subgroup">
            <h4>Forming Clouds</h4>
            <p>Quisque efficitur metus in condimentum posuere. Maecenas lacinia viverra orci, sit amet cursus augue congue sit amet. Nunc quis luctus arcu, nec gravida risus. Sed augue eros, varius eu fringilla non, vulputate ut mi. Nullam id sollicitudin massa, eu lacinia eros. Pellentesque mi sem, malesuada sit amet aliquam id, finibus vel dui. Curabitur vitae fringilla magna. Pellentesque elementum gravida nibh et pretium. Vivamus tempor tempus elit, nec aliquet ligula sodales et. Praesent vitae enim aliquet, aliquet lorem at, feugiat nisl. Fusce vel tortor ac mi lobortis volutpat.</p>
          </div>
          <div id="launching-instances" class="subgroup">
            <h4>Launching Instances</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non massa ac ligula pellentesque facilisis. Duis nec pretium nunc. Pellentesque feugiat, tortor et efficitur placerat, nisl felis imperdiet erat, vitae lacinia urna ligula vel ex. Duis tellus velit, aliquet nec luctus at, maximus id elit. Praesent luctus eu elit et porta. Nunc posuere commodo volutpat. Nam convallis, nulla sed eleifend fermentum, ipsum ligula eleifend libero, quis posuere ligula lectus eget ipsum. Donec ultricies, quam eget blandit fermentum, leo purus maximus libero, a scelerisque elit turpis vel nibh. Duis vel venenatis libero. Nam id dictum neque. Donec tellus turpis, dictum nec posuere at, vulputate a est. Phasellus enim metus, viverra sed leo tempor, accumsan vestibulum turpis. Vivamus in lobortis purus, eget convallis mi.</p>
          </div>
          <div id="server-wisps" class="subgroup">
            <h4>Server Wisps</h4>
            <p>Quisque efficitur metus in condimentum posuere. Maecenas lacinia viverra orci, sit amet cursus augue congue sit amet. Nunc quis luctus arcu, nec gravida risus. Sed augue eros, varius eu fringilla non, vulputate ut mi. Nullam id sollicitudin massa, eu lacinia eros. Pellentesque mi sem, malesuada sit amet aliquam id, finibus vel dui. Curabitur vitae fringilla magna. Pellentesque elementum gravida nibh et pretium. Vivamus tempor tempus elit, nec aliquet ligula sodales et. Praesent vitae enim aliquet, aliquet lorem at, feugiat nisl. Fusce vel tortor ac mi lobortis volutpat.</p>
          </div>
          <div id="appliances" class="subgroup">
            <h4>Appliances</h4>
            <p>Quisque efficitur metus in condimentum posuere. Maecenas lacinia viverra orci, sit amet cursus augue congue sit amet. Nunc quis luctus arcu, nec gravida risus. Sed augue eros, varius eu fringilla non, vulputate ut mi. Nullam id sollicitudin massa, eu lacinia eros. Pellentesque mi sem, malesuada sit amet aliquam id, finibus vel dui. Curabitur vitae fringilla magna. Pellentesque elementum gravida nibh et pretium. Vivamus tempor tempus elit, nec aliquet ligula sodales et. Praesent vitae enim aliquet, aliquet lorem at, feugiat nisl. Fusce vel tortor ac mi lobortis volutpat.</p>
          </div>
          <div id="hybrid-groups" class="subgroup">
            <h4>Hybrid Groups</h4>
            <p>Quisque efficitur metus in condimentum posuere. Maecenas lacinia viverra orci, sit amet cursus augue congue sit amet. Nunc quis luctus arcu, nec gravida risus. Sed augue eros, varius eu fringilla non, vulputate ut mi. Nullam id sollicitudin massa, eu lacinia eros. Pellentesque mi sem, malesuada sit amet aliquam id, finibus vel dui. Curabitur vitae fringilla magna. Pellentesque elementum gravida nibh et pretium. Vivamus tempor tempus elit, nec aliquet ligula sodales et. Praesent vitae enim aliquet, aliquet lorem at, feugiat nisl. Fusce vel tortor ac mi lobortis volutpat.</p>
          </div>
      </section>

      <section id="installing-the-appliance" class="group">
        <h3>Installing the Appliance</h3>
          <p>The virtual appliance requires a running OpenStack cluster. If you don't have an OpenStack cluster already running, fear not! You may follow the instructions for <a href="http://www.stackgeek.com/guides/gettingstarted.html">Installing OpenStack in 10 minutes</a> on the <a href="http://stackgeek.com/">StackGeek website</a> to get a fully functional OpenStack deployment running.</p>
          <p>The following video will help familiarize you with the process of installing the appliance on an OpenStack cluster:</p>
          <div class="text-center"><iframe src="//player.vimeo.com/video/100944207" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
          <p></p>

          <div id="creating-a-user-and-tenant" class="subgroup">
            <h4>Creating a User and Tenant</h4>
            <p>If you have an admin account on the OpenStack cluster, you'll want to create a separate user and tenant for running the appliance:</p>
            <ul>
              <li>Click on the <strong>Admin</strong> tab to the far left and then click on <strong>Identity Panel..Projects</strong>. To the right, click on the <strong>Create Project</strong> button and then enter a new project name called <strong>stackmonkey</strong> in the name field.</li>
              <li>Click on <strong>Create Project</strong> below to create the new project.</li>
              <li>Back in the <strong>Admin</strong> panel, click on <strong>Users</strong>.  To the right, click on the <strong>Create User</strong> button and then create a new user called <strong>stackmonkey</strong> and set the user's password.</li>
              <li>Set the primary project to <strong>stackmonkey</strong> and set role of the new user account to either <strong>member</strong> or <strong>admin</strong>.</li>
              <li>Log out of the system and then log back in as the <strong>stackmonkey</strong> user. </li>
            </ul>
            <div class="bs-callout bs-callout-warning bs-callout-top">
              <h4>Don't Have Admin?</h4>
              <p>No worries! If you don't have an admin account on the OpenStack cluster, you can simply skip to the <a href="#install-an-ubuntu-image">Install an Ubuntu Image</a> section below. There will be a few limitations in functionality, but the appliance can still sell instances for you!</p>
            </div>
          </div>

          <div id="install-an-ubuntu-image" class="subgroup">
            <h4>Install an Ubuntu Image</h4>
            <p>The appliance requires an Ubuntu backed instance to run. If you don't have an Ubuntu image installed on your OpenStack cluster, follow these steps:</p>
            <ul>
              <li>Click on the <strong>Project</strong> tab to the far left and then click on <strong>Images</strong>.</li>
              <li>Click on the <strong>Create Image</strong> button to the top right.</li>
              <li>Name the image <strong>Ubuntu Trusty 14.04LTS</strong> and paste the URL <code><a href="http://goo.gl/u2IBP9">http://goo.gl/u2IBP9</a></code> into the location field.</li>
              <li>Select the <strong>QCOW2</strong> format in the pulldown and make the image public.</li>
              <li>Click <strong>Create Image</strong> to create the new system image.</li>
            </ul>
            <p>You will want to keep this image live on the cluster in case you decide to start another appliance.</p>
          </div>

          <div id="create-a-keypair" class="subgroup">
            <h4>Create a Keypair</h4>
            <p>You need to create a key pair that you can use to access the virtual appliance's command line console.  Follow these steps to create the key:</p>
            <ul>
              <li>Click on the <strong>Project</strong> tab to the far left and then click on <strong>Compute..Instances</strong>. Click on <strong>Access &amp; Security</strong> and then click on the <strong>Key Pairs</strong> tab at the top.</li>
              <li>Click <strong>Create Key Pair</strong> and name the key pair <strong>stackmonkey</strong>.  Click <strong>Create Key Pair</strong> to create the key pair.  The private key will be downloaded to your local machine.</li>
            </ul>
            <p>You need to move the private key into your <strong>.ssh directory</strong> (or similar for Windows) and then change the permissions on it:</p>
<pre>
  cd ~/Downloads/
  mv stackmonkey.pem ~/.ssh/
  chmod 600 ~/.ssh/stackmonkey.pem
</pre>
          </div>

          <div id="set-the-access-rules" class="subgroup">
            <h4>Set the Access Rules</h4>
            <p>The instances being sold by the appliance will need unrestricted access from the Internet if they have publicly accessible addresses. For now, the appliance does not manage the security groups, so you need to open up the default group to allow all access to the instances you will be starting.  Follow these steps to setup your access rules for the appliance:</p>
            <ul>
              <li>Click on the <strong>Project</strong> tab to the far left and then click on <strong>Compute..Access &amp; Security</strong>.</li>
              <li>Click on the <strong>Security Groups</strong> tab at the top.  To the right, click on the <strong>Create Security Group</strong> button.</li>
              <li>Name the security group <strong>'appliance'</strong> and enter a short description.  Click <strong>Create Security Group</strong> to create the group.</li>
              <li>Click the <strong>Manage Rules</strong> button to the right in the <strong>appliance</strong> security group row.  Click <strong>Add Rule</strong> and then enter the number <strong>'22'</strong> (ssh) in the port field.  Click <strong>Add</strong>.  Repeat this step and enter the number <strong>'80'</strong> (http) in the port field instead.  Click <strong>Add</strong> again.</li>
              <li>Click the <strong>Manage Rules</strong> button again, but this time click on the <strong>Rule</strong> pulldown and select <strong>Custom ICMP Rule</strong>.  Enter the number '-1' in <strong>both</strong> the <strong>Type</strong> and <strong>Code</strong> fields.  Click <strong>Add</strong> to add the rule.</li>
            </ul>
            <p>Your <strong>appliance</strong> security group rules should now look like this:</p>
            <p class="text-center"><a target="_blank" href="/img/site/appliance_groups.png"><img src="/img/site/appliance_groups_thumb.png" alt="OpenStack Groups"></a></p>          
            <p>Next, follow these steps to set up the access rules for the instances that will be started on the cluster by the appliance:</p>
            <ul>
              <li>Click on the <strong>Project</strong> tab to the far left and then click on <strong>Compute..Access &amp; Security</strong>.</li>
              <li>Click the <strong>Manage Rules</strong> button to the right in the <strong>default</strong> security group row.</li>
              <li>Delete any existing rules for the default group by clicking on <strong>Delete Rule</strong> in any of the existing rule's rows.</li>
              <li>Click <strong>Add Rule</strong> and then select <strong>Custom TCP Rule</strong> from the <strong>Rule</strong> pulldown and <strong>Port Range</strong> from the <strong>Open Port</strong> pulldown.</li>
              <li>Enter the number <strong>'1'</strong> in the <strong>From Port</strong> field. Enter the number <strong>'65535'</strong> in the <strong>To Port</strong> field. Click <strong>Add</strong>.</li>
              <li>Repeat the previous two steps, but this time select <strong>Custom UDP Rule</strong> from the <strong>Rule</strong> pulldown.  Enter the same numbers for the range.</li>
              <li>Click <strong>Add Rule</strong> and then select <strong>Custom ICPMP Rule</strong> from the <strong>Rule</strong> pulldown.</li>
              <li>Enter the number <strong>'-1'</strong> in <strong>both</strong> the <strong>Type</strong> and <strong>Code</strong> fields.  Click <strong>Add</strong> to add the rule.</li>
            </ul>
            <p>Your <strong>default</strong> security group rules should now look like this:</p>
            <p class="text-center"><a href="https://raw.githubusercontent.com/StackMonkey/utter-va/master/webapp/static/img/readme/default_groups.png"><img src="https://raw.githubusercontent.com/StackMonkey/utter-va/master/webapp/static/img/readme/default_groups_thumb.png" alt="OpenStack Groups"></a></p>
          </div>

          <div id="create-a-flavor-for-the-appliance" class="subgroup">
            <h4>Create a Flavor for the Appliance</h4>
            <p>The appliance needs about 8GB of drive space for caching boot images. To create a new flavor that is the right size for for the appliance, do the following:</p>
            <ul>
              <li>Click on the <strong>Admin</strong> tab to the far left and then click on <strong>System Panel..Flavors</strong>.  Click the <strong>Create Flavor</strong> button at the top right.</li>
              <li>Name the flavor <strong>'m512.v1.d8'</strong>. For <strong>VCPUs</strong> put the number <strong>'1'</strong>.  For <strong>RAM</strong> put <strong>'512'</strong>.  For <strong>Root Disk GB</strong> put <strong>'8'</strong> and then click <strong>Create Flavor</strong> to create the new flavor.</li>
            </ul>
            <p class="text-center"><img src="https://raw.githubusercontent.com/StackMonkey/utter-va/master/webapp/static/img/readme/flavor_thumb.png" alt="OpenStack Flavor"></p>
          </div>

          <div id="start-the-appliance" class="subgroup">
            <h4>Start the Appliance</h4>
            <p>Now all the components of the instance have been created, you can launch an instance which will configure itself into a StackMonkey virtual appliance.  Follow these instructions to launch the instance:</p>
            <ul>
              <li>Click on the <strong>Project</strong> tab to the far left and then click on <strong>Compute..Instances</strong>. To the right, click on the <strong>Launch Instance</strong> button.</li>
              <li>Name the instance <strong>'StackMonkey VA'</strong> and then click on the <strong>Flavor</strong> pulldown and select the <strong>m512.v1.d8</strong> flavor.</li>
              <li>Click on the <strong>Instance Boot Source</strong> pulldown at the bottom and select <strong>Boot from image</strong>.  Under <strong>Image Name</strong>, select the <strong>Ubuntu Trusty 14.04LTS</strong> image you installed earlier.</li>
              <li>Click on the <strong>Access &amp; Security</strong> tab at the top.  Use the <strong>Key Pair</strong> pulldown to select the <strong>stackmonkey</strong> key pair you generated earlier.</li>
              <li>In the same tab, check the <strong>appliance</strong> security group, and uncheck the <strong>default</strong> group.</li>
              <li>Click on the <strong>Post-Creation</strong> tab at the top.</li>
            </ul>
            <p>In the Customization Script text area that appears in the modal, paste the following exactly as shown:</p>
            <pre><code>
#cloud-config
hostname: stackmonkey-va
manage_etc_hosts: true
runcmd:
 - [ wget, "http://goo.gl/KJH5Sa", -O, /tmp/install.sh ]
 - chmod 755 /tmp/install.sh
 - /tmp/install.sh
            </code></pre>
            <p>Click on the <strong>Launch</strong> button to launch the appliance.  You can monitor the instance's build state by refreshing the console log tab viewable by clicking on the instance name in the instance list.</p>
            <p>The appliance takes about 10 minutes to build.</p>
          </div>
          <div id="create-a-keypair" class="subgroup">
            <h4>Create a Keypair</h4>

          </div>
          <div id="create-a-keypair" class="subgroup">
            <h4>Create a Keypair</h4>

          </div>
      </section>   
      <section id="appliance-operation" class="group">
        <h3>Group C</h3>
          <p>Before we setup the appliance, you'll need to create or have the following accounts available for setup:</p>
          <ul>
            <li>a <a href="https://www.stackmonkey.com/login/">StackMonkey account</a></li>
            <li>a <a href="https://coinbase.com/signup?r=52a9c6bf937ab6453a00001e&utm_campaign=user-referral&src=referral-link">Coinbase account</a></li>
            <li>an <a href="https://ngrok.com/user/signup">Ngrok account</a></li>
          </ul>
          <div id="appliance-operation-flavors" class="subgroup">
            <h4>Flavor synchronization from OpenStack cluster</h4>
            <p>You can sell the existing <strong>flavors</strong> of your OpenStack cluster via <strong>StackMonkey</strong> by marking them with an <strong>extra_specs</strong> key indicating that a flavor should be sold and the <strong>price</strong> you are asking for it</p>
            <p>This <strong>example</strong> demonstrates how you would sell your <strong>flavor</strong> with the id <strong><code>1000</code></strong> for a price of <strong>5 μBTC</strong>. It needs to be run as a user with sufficient <strong>permissions</strong>, for example <strong>admin</strong>:<p>
            <p><strong><code># nova flavor-key 1000 set stackmonkey:ask_price=5</code></strong></p>
            <p><strong>After a few minutes</strong> the newly marked flavor should be <strong>synced</strong> and appear on this page with the defined <strong>price</strong>.</p>
                  <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Flavor permissions</small></h2>
            <div class="bs-callout bs-callout-info bs-callout-top">
              <p>On many <strong>OpenStack</strong> installations a normal user cannot create or delete flavors by default. In such a case <strong>StackMonkey</strong> will be <strong>unable</strong> to <strong>install</strong> a flavor unless it's <strong>OpenStack user</strong> is <strong>admin</strong> or especially <strong>granted</strong> to execute certain API calls. If you don't feel comfortable making the user an <strong>admin</strong>, you can also allow the <strong>StackMonkey user</strong> to create and edit flavors by editing nova's <strong>policy.json</strong>.</p>
              <p>For <strong>Example</strong> if your the OpenStack user's <strong>id</strong> is <strong><code>12345</code></strong>, you could <strong>grant</strong> her the necessary permissions by editing the following lines in <strong><code>/etc/nova/policy.json</code></strong> to look like this:
              </p>
              <p>
                <code>
                  "compute_extension:flavorextraspecs:create": "rule:admin_api or user_id:12345",<br />
                  "compute_extension:flavorextraspecs:update": "rule:admin_api or user_id:12345",<br />
                  "compute_extension:flavorextraspecs:delete": "rule:admin_api or user_id:12345",<br />
                  "compute_extension:flavormanage": "rule:admin_api or user_id:12345",
                </code>
              </p>
              <p>After <strong>restarting</strong> the <strong><code>nova-api</code></strong> service, the user with the <strong>id</strong> <strong><code>12345</code></strong> should be able to <strong>install flavors</strong>.
              </p>
            </div>
          </div>
        </div>
      </div>

          </div>
          <div id="GroupCSub2" class="subgroup">
            <h4>Group C Sub 2</h4>
            <p>Quisque efficitur metus in condimentum posuere. Maecenas lacinia viverra orci, sit amet cursus augue congue sit amet. Nunc quis luctus arcu, nec gravida risus. Sed augue eros, varius eu fringilla non, vulputate ut mi. Nullam id sollicitudin massa, eu lacinia eros. Pellentesque mi sem, malesuada sit amet aliquam id, finibus vel dui. Curabitur vitae fringilla magna. Pellentesque elementum gravida nibh et pretium. Vivamus tempor tempus elit, nec aliquet ligula sodales et. Praesent vitae enim aliquet, aliquet lorem at, feugiat nisl. Fusce vel tortor ac mi lobortis volutpat.</p>
          </div>
      </section>    
    </div>

    <!--Nav Bar -->
    <nav class="col-xs-3 bs-docs-sidebar">
      <ul id="sidebar" class="nav nav-stacked" data-spy="affix" data-offset-top="120">
        <li>
          <a href="#overview">Overview</a>
          <ul class="nav nav-stacked">
            <li><a href="#how-it-works">How It Works</a></li>
            <li><a href="#is-it-secure">Is It Secure?</a></li>
            <li><a href="#can-i-trust-it">Can I Trust It?</a></li>
          </ul>
        </li>
        <li>
          <a href="#pool">Compute Pool</a>
          <ul class="nav nav-stacked">
            <li><a href="#account-setup">Account Setup</a></li>
            <li><a href="#two-factor-authentication">Two Factor Auth</a></li>
            <li><a href="#pool-launcher">Launcher</a></li>
            <li><a href="#pool-clouds">Clouds</a></li>
            <li><a href="#pool-wisps">Wisps</a></li>
            <li><a href="#pool-appliances">Appliances</a></li>
            <li><a href="#pool-groups">Groups</a></li>
            <li><a href="#pool-api">API</a></li>
          </ul>
        </li>
        <li>
          <a href="#installing-the-appliance">Appliance Install</a>
          <ul class="nav nav-stacked">
            <li><a href="#appliance-install-openstack">Install OpenStack</a></li>
            <li><a href="#appliance-install-user">Create User</a></li>
            <li><a href="#appliance-install-tenant">Create Tenant</a></li>
            <li><a href="#appliance-install-instance">Launch Instance</a></li>
          </ul>
        </li> 
        <li>
          <a href="#appliance-operation">Appliance Operation</a>
          <ul class="nav nav-stacked">
            <li><a href="#appliance-operation-settings">Basic Settings</a></li>
            <li><a href="#appliance-operation-openstack">OpenStack</a></li>
            <li><a href="#appliance-operation-flavors">Flavors</a></li>
            <li><a href="#appliance-operation-ask">Ask Prices</a></li>
            <li><a href="#appliance-operation-addresses">Bitcoin Addresses</a></li>
            <li><a href="#appliance-operation-instances">Instances</a></li>
            <li><a href="#appliance-operation-twitter">Twitter Bot</a></li>
            <li><a href="#appliance-operation-api">APIs</a></li>
           </ul>
        </li> 
      </ul>
    </nav>
  </div>  
</div>

{% endblock %}

{% block javascript %}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
  <script type="text/javascript">
    $().ready(function() {
      // scrollspy
      $('body').scrollspy({
        target: '.bs-docs-sidebar',
        offset: 40
      });
    });
  </script>
{% endblock %}