{% import "macros.html" as macros %}
{% extends base_layout %}

{% block page_styles %}
    <!-- Home Page -->
    <link href="/css/docs.css" rel="stylesheet">
    <link href="/css/documentation.css" rel="stylesheet"> 
    <link href="/css/font-awesome.css" rel="stylesheet">

{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>Documentation</h1>
      <p class="blurb">Welcome to the {{ app_name }} documentation.</p>
    </div>
  </div>
</div>
<div id="docs" class="container">
	<div class="row">
    <!--Main Content -->
    <div class="col-xs-9">
      <section id="GroupA" class="group">
        <h3>Group A</h3>
        <p>Pellentesque nec vulputate erat. Donec massa nisl, feugiat ut rutrum in, vulputate in mi. Nunc sed ligula feugiat, viverra massa ac, scelerisque est. Etiam ut nisi eu nibh lobortis volutpat. Duis viverra risus vitae magna mollis gravida. Donec eu viverra magna. Vivamus ornare tristique quam at maximus. Suspendisse potenti. Praesent elementum vestibulum ligula non sodales. Phasellus eleifend risus non hendrerit malesuada. Aliquam eros nibh, posuere in justo</p>

        <div id="GroupASub1" class="subgroup">
          <h4>Group A Sub 1</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non massa ac ligula pellentesque facilisis. Duis nec pretium nunc. Pellentesque feugiat, tortor et efficitur placerat, nisl felis imperdiet erat, vitae lacinia urna ligula vel ex. Duis tellus velit, aliquet nec luctus at, maximus id elit. Praesent luctus eu elit et porta. Nunc posuere commodo volutpat. Nam convallis, nulla sed eleifend fermentum, ipsum ligula eleifend libero, quis posuere ligula lectus eget ipsum. Donec ultricies, quam eget blandit fermentum, leo purus maximus libero, a scelerisque elit turpis vel nibh. Duis vel venenatis libero. Nam id dictum neque. Donec tellus turpis, dictum nec posuere at, vulputate a est. Phasellus enim metus, viverra sed leo tempor, accumsan vestibulum turpis. Vivamus in lobortis purus, eget convallis mi.</p>
          <p>Pellentesque nec vulputate erat. Donec massa nisl, feugiat ut rutrum in, vulputate in mi. Nunc sed ligula feugiat, viverra massa ac, scelerisque est. Etiam ut nisi eu nibh lobortis volutpat. Duis viverra risus vitae magna mollis gravida. Donec eu viverra magna. Vivamus ornare tristique quam at maximus. Suspendisse potenti. Praesent elementum vestibulum ligula non sodales. Phasellus eleifend risus non hendrerit malesuada. Aliquam eros nibh, posuere in justo</p>
        </div>
        <div id="GroupASub2" class="subgroup">
          <h4>Group A Sub 2</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non massa ac ligula pellentesque facilisis. Duis nec pretium nunc. Pellentesque feugiat, tortor et efficitur placerat, nisl felis imperdiet erat, vitae lacinia urna ligula vel ex. Duis tellus velit, aliquet nec luctus at, maximus id elit. Praesent luctus eu elit et porta. Nunc posuere commodo volutpat. Nam convallis, nulla sed eleifend fermentum, ipsum ligula eleifend libero, quis posuere ligula lectus eget ipsum. Donec ultricies, quam eget blandit fermentum, leo purus maximus libero, a scelerisque elit turpis vel nibh. Duis vel venenatis libero. Nam id dictum neque. Donec tellus turpis, dictum nec posuere at, vulputate a est. Phasellus enim metus, viverra sed leo tempor, accumsan vestibulum turpis. Vivamus in lobortis purus, eget convallis mi.</p>
          <p>Pellentesque nec vulputate erat. Donec massa nisl, feugiat ut rutrum in, vulputate in mi. Nunc sed ligula feugiat, viverra massa ac, scelerisque est. Etiam ut nisi eu nibh lobortis volutpat. Duis viverra risus vitae magna mollis gravida. Donec eu viverra magna. Vivamus ornare tristique quam at maximus. Suspendisse potenti. Praesent elementum vestibulum ligula non sodales. Phasellus eleifend risus non hendrerit malesuada. Aliquam eros nibh, posuere in justo</p>
        </div>
      </section>
      <section id="GroupB" class="group">
        <h3>Group B</h3>
          <div id="GroupBSub1" class="subgroup">
            <h4>Group B Sub 1</h4>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non massa ac ligula pellentesque facilisis. Duis nec pretium nunc. Pellentesque feugiat, tortor et efficitur placerat, nisl felis imperdiet erat, vitae lacinia urna ligula vel ex. Duis tellus velit, aliquet nec luctus at, maximus id elit. Praesent luctus eu elit et porta. Nunc posuere commodo volutpat. Nam convallis, nulla sed eleifend fermentum, ipsum ligula eleifend libero, quis posuere ligula lectus eget ipsum. Donec ultricies, quam eget blandit fermentum, leo purus maximus libero, a scelerisque elit turpis vel nibh. Duis vel venenatis libero. Nam id dictum neque. Donec tellus turpis, dictum nec posuere at, vulputate a est. Phasellus enim metus, viverra sed leo tempor, accumsan vestibulum turpis. Vivamus in lobortis purus, eget convallis mi.</p>
          </div>
          <div id="GroupBSub2" class="subgroup">
            <h4>Group B Sub 2</h4>
            <p>Quisque efficitur metus in condimentum posuere. Maecenas lacinia viverra orci, sit amet cursus augue congue sit amet. Nunc quis luctus arcu, nec gravida risus. Sed augue eros, varius eu fringilla non, vulputate ut mi. Nullam id sollicitudin massa, eu lacinia eros. Pellentesque mi sem, malesuada sit amet aliquam id, finibus vel dui. Curabitur vitae fringilla magna. Pellentesque elementum gravida nibh et pretium. Vivamus tempor tempus elit, nec aliquet ligula sodales et. Praesent vitae enim aliquet, aliquet lorem at, feugiat nisl. Fusce vel tortor ac mi lobortis volutpat.</p>
          </div>
      </section>
      <section id="GroupC" class="group">
        <h3>Group C</h3>
        	<p>Quisque efficitur metus in condimentum posuere. Maecenas lacinia viverra orci, sit amet cursus augue congue sit amet. Nunc quis luctus arcu, nec gravida risus. Sed augue eros, varius eu fringilla non, vulputate ut mi. Nullam id sollicitudin massa, eu lacinia eros. Pellentesque mi sem, malesuada sit amet aliquam id, finibus vel dui. Curabitur vitae fringilla magna. Pellentesque elementum gravida nibh et pretium. Vivamus tempor tempus elit, nec aliquet ligula sodales et. Praesent vitae enim aliquet, aliquet lorem at, feugiat nisl. Fusce vel tortor ac mi lobortis volutpat.</p>
          <div id="GroupCSub1" class="subgroup">
            <h4>Group C Sub 1</h4>
          	<p>Quisque efficitur metus in condimentum posuere. Maecenas lacinia viverra orci, sit amet cursus augue congue sit amet. Nunc quis luctus arcu, nec gravida risus. Sed augue eros, varius eu fringilla non, vulputate ut mi. Nullam id sollicitudin massa, eu lacinia eros. Pellentesque mi sem, malesuada sit amet aliquam id, finibus vel dui. Curabitur vitae fringilla magna. Pellentesque elementum gravida nibh et pretium. Vivamus tempor tempus elit, nec aliquet ligula sodales et. Praesent vitae enim aliquet, aliquet lorem at, feugiat nisl. Fusce vel tortor ac mi lobortis volutpat.</p>
          </div>
          <div id="GroupCSub2" class="subgroup">
            <h4>Group C Sub 2</h4>
            <p>Quisque efficitur metus in condimentum posuere. Maecenas lacinia viverra orci, sit amet cursus augue congue sit amet. Nunc quis luctus arcu, nec gravida risus. Sed augue eros, varius eu fringilla non, vulputate ut mi. Nullam id sollicitudin massa, eu lacinia eros. Pellentesque mi sem, malesuada sit amet aliquam id, finibus vel dui. Curabitur vitae fringilla magna. Pellentesque elementum gravida nibh et pretium. Vivamus tempor tempus elit, nec aliquet ligula sodales et. Praesent vitae enim aliquet, aliquet lorem at, feugiat nisl. Fusce vel tortor ac mi lobortis volutpat.</p>
          </div>
      </section>    
    </div>

    <!--Nav Bar -->
    <nav class="col-xs-3 bs-docs-sidebar">
      <ul id="sidebar" class="nav nav-stacked" data-spy="affix" data-offset-top="120">
        <li>
		      <a href="#GroupA">Group A</a>
		      <ul class="nav nav-stacked">
	          <li><a href="#GroupASub1">Sub-Group 1</a></li>
	          <li><a href="#GroupASub2">Sub-Group 2</a></li>
		      </ul>
        </li>
        <li>
          <a href="#GroupB">Group B</a>
          <ul class="nav nav-stacked">
            <li><a href="#GroupBSub1">Sub-Group 1</a></li>
            <li><a href="#GroupBSub2">Sub-Group 2</a></li>
          </ul>
        </li>
          <li>
            <a href="#GroupC">Group C</a>
            <ul class="nav nav-stacked">
              <li><a href="#GroupCSub1">Sub-Group 1</a></li>
              <li><a href="#GroupCSub2">Sub-Group 2</a></li>
            </ul>
          </li>
      </ul>
    </nav>
	</div>	
</div>

{% endblock %}

{% block javascript %}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
  <script type="text/javascript">
    $().ready(function() {
			// scrollspy
			$('body').scrollspy({
				target: '.bs-docs-sidebar',
    		offset: 40
			});
  	});
  </script>
{% endblock %}