{% import "macros.html" as macros %}
{% extends base_layout %}

{% block page_styles %}
    <!-- Docs Page -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
    <link href="/css/documentation.css" rel="stylesheet"> 
{% endblock %}

{% block description %}It looks like you've managed to find the Wisdom documentation; things are looking up for you!{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>Documentation</h1>
      <p class="blurb">&#8220;The Things which hurt, instruct.&#8221; ― Benjamin Franklin</p>
    </div>
  </div>
</div>
<div id="docs" class="container">
  <div class="row">
    <!--Main Content -->
    <div class="col-xs-9">
      <section id="wisdoms-apis" class="group">
        <h3>Introduction</h3>
        <p>Wisdom's service provides proxied API calls to various third party services. Eventually, these proxied API calls will carry identity and payment information, effectively implementing the <strong>402</strong> HTTP response code for proof of payment for a given call or credential.</p>
        For now, current the deployment supports adding new APIs, proxying calls to those APIs, and providing data about the calls being made.  </p>

        <div id="service-apis" class="subgroup">
          <h4>Service APIs</h4>
          <p>Wisdom's service APIs may or may not require payment to make a call. Service APIs live at the following URL:</p> 
          <h5>https://api.wisdom.sh/api/</h5>
        </div>

        <div id="service-status" class="subgroup">
          <h4>Service Status</h4>
          <p>To get started with our APIs, issue a <span class="label label-info">GET</span> request to <strong>api.wisdom.sh</strong> for the <strong>/api/status</strong> endpoint in your bash terminal. A JSON formatted response giving system status is returned:</p> 
        
          <h5>GET /api/status</h5>
<pre>
curl -X GET https://api.wisdom.sh/api/status

{  
  "type": "GET",
  "status": "200",
  "view": "https://wisdom.sh/api/status",
  "timestamp": "2017-09-01 12:00:00",
  "qps": "2.0"
}
</pre>

        </div>

        <div class="bs-callout bs-callout-warning bs-callout-top">
          <h4>Authentication</h4>
          <p>Service endpoints on the <strong>/api/</strong> path do not require authentication. However, some endpoints may require payment depending on demand for a given API resource. Endpoints on paths outside the <strong>/api/</strong> service may or may not require authentication.</p>
        </div>

        <div id="api-add" class="subgroup">
          <h4>Add API</h4>
          <p>Wisdom proxies API endpoints which are added to the system by users. To add an API to the system, create a <span class="label label-warning">POST</span> request, including the desired <strong>upstream_url</strong> to proxy and the desired <strong>uri</strong> to map onto the <strong>//api.wisdom.sh/</strong> space.</p>
          <h5>POST /api/</h5>
        </div>
<pre>
curl -X POST \
  -d '{"upstream_url": "https://api.fixer.io/latest", "uri": "/eurorates"}' \
  https://api.wisdom.sh/api/

{  
  "type": "PUT",
  "status": "",
  "preserve_host":false,
  "created_at":1502942747239,
  "upstream_connect_timeout":60000,
  "upstream_url":"https:\/\/api.fixer.io\/latest",
  "uris":[  
    "\/eurorates"
   ],
  "view": "https://wisdom.sh/api/eurorates",
  "timestamp": "2017-09-01 12:00:00",
  "qps": "2.0"
}
</pre>

      </section>

      <section id="third-party-apis" class="group">
        <h3>Third Party APIs</h3>
        <p>Wisdom's API space includes proxied third party APIs. As an example, this <span class="label label-info">GET</span> request mapped to the <strong>/eurorates</strong> path returns a default JSON response from the <strong>/latest</strong> path on the <a href=""><strong>fixer.io</strong></a> API:</p>
        
        <h5>GET //api.wisdom.sh/eurorates</h5>
<pre>
curl https://api.wisdom.sh/eurorates

{  
   "base":"EUR",
   "date":"2017-09-01",
   "rates":{  
      "AUD":1.5021,
      "BGN":1.9558,
      "BRL":3.7423,
      ...
      "TRY":4.0981,
      "USD":1.192,
      "ZAR":15.418
   }
}
</pre>

        <div id="api-status" class="subgroup">
          <h4>API Status</h4>
          <p>Wisdom maps third party APIs and credentials for those APIs onto the <strong>//api.wisdom.com/</strong> space. Use a <span class="label label-info">GET</span> request against the <strong>/api/</strong> service path to query the status of the third party API and the proxy serving it:</p>
          <h5>GET /api/&lt;api_id&gt;/</h5>
        </div>
<pre>
curl https://api.wisdom.sh/api/eurorates/

{  
   "methods":[  
      "GET"
   ],
   "http_if_terminated":true,
   "id":"eafaf153-21cb-4985-a274-2166f46b1d4f",
   "hosts":[  
      "api.wisdom.sh"
   ],
   "preserve_host":false,
   "created_at":1502942747239,
   "upstream_connect_timeout":60000,
   "upstream_url":"https:\/\/api.fixer.io\/latest",
   "uris":[  
      "\/money"
   ],
   "upstream_send_timeout":60000,
   "https_only":false,
   "upstream_read_timeout":60000,
   "strip_uri":true,
   "name":"moneyapi",
   "retries":5
}
</pre>
      </section>

    </div>
    
    <!--Nav Bar -->
    <nav class="col-xs-3 bs-docs-sidebar">
      <ul id="sidebar" class="nav nav-stacked" data-spy="affix" data-offset-top="120">
        <li>
          <a href="#wisdoms-apis">Wisdom's APIs</a>
          <ul class="nav nav-stacked">
            <li><a href="#service-apis">Service APIs</a></li>
            <li><a href="#service-status">Service Status</a></li>
            <li><a href="#api-add">Add API</a></li>
          </ul>
        </li> 
        <li>
          <a href="#third-party-apis">Third Party APIs</a>
          <ul class="nav nav-stacked">
            <li><a href="#api-status">API Status</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>  
</div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {
      // scrollspy
      $('body').scrollspy({
        target: '.bs-docs-sidebar',
        offset: 40
      });
    });
  </script>
{% endblock %}