<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wisdom - Micro Payments for APIs">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>API Micro Payments - Wisdom</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/index-new.css" rel="stylesheet">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@deploywisdom" />
    <meta name="twitter:title" content="https://wisdom.sh/" />
    <meta name="twitter:description" content="Micropayments for your APIs. Powered by the blockchain." />
    <meta name="twitter:image" content="https://wisdom.sh/img/moon.png" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/cmkdbmfndkfgebldhnkbfhlneefdaaip">
    <script async="" type="text/javascript" charset="utf-8" src="https://rec.smartlook.com/recorder.js"></script>
  </head>
  <body>


    <!--navbar start-->
    <img src="img/whatruns_bg.png" alt="background-image" class="img-responsive nav-bg">
    <nav class="navbar navbar-default navbar-trans padding-10 nomargin">
<div class="container">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>Menu
          <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">
      <img class="logo animate img-responsive" src="/img/whatruns_logo_1.png" alt="whatruns">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/docs/">Docs</a></li>
        <li><a href="https://github.com/wisdomapi/">Github</a></li>
        <li><a target="_blank" href="/blog">Blog</a></li>

      </ul>
    </div>
  </div>
</div>
    </nav>
<!-- navbar end -->

    <div class="text-color-black">
      <!--section 1 start-->
      <div class="container-fluid">
        <div class="left-img">
          <div class="img-position" style="position:absolute">
          <div class="wrs-bg-image bg-img-1 mobile-hide" style="display:none"></div>
        </div>
        </div>
        <div class="right-data mobile-text-center">
          <div class="inner-content">
          <div class="title">
            <h3 class="mobile-text-center">Micro Payments for APIs</h3>
          </div>
          <div class="sub-heading">
            <h5>Wisdom's microservice-architected proxy helps you add identity and micropayment revenue to your favorite APIs in seconds with minimal installation and overhead.</h5>
            <h5>Think &lt;<a href="https://httpstatuses.com/402">402</a> payment required&gt; using the blockchain.</h5>
            <button id="hero-login-button" class="btn btn-warning">Login</button>
            <button id="hero-docs-button" class="btn btn-success">Add API</button>
          </div>
        </div>
        </div>
</div>

<!-- section 3 start-->

<div class="bg-white padding-elements">
  <div class="container text-color-black">
    <div class="col-md-12 text-center">
      <h2 class="font-45" style="font-weight:100;margin-top:4em;margin-bottom:2rem;">
        Thousands of APIs. Millions of revenue models. What revenue will you build?
      </h2>
      <h4>
        <em>"We can try to use words to help the situation until code gets there." - Satoshi Nakamoto</em>
      </h4>
    </div>
    <div class="col-md-12 text-center">
      <div class="sub-heading">
      <h5 style="margin-top:0px">
					Bitcoin was just the beginning. Wisdom unlocks a new revenue model for API services using the blockchain. Satoshi's vision of decentralized exchange of value has enabled us to invision an <em>Open Federated Cloud™</em> where users, developers and revenue <strong>may grow and improve together</strong> for the long haul. 

      </div>
    </div>
  </div>
</div>
<div class="container elements">
  <div class="col-xs-12 mobile-no-padding">
    <div class="apps-container">
      <section id="third" class="clearfix">
    		<div class="wrapper">
    			<ul class="clearfix">
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Litecoin" class="medium dark">
              <img src="img/litecoin.png" alt="logo">
            </li>
    			</ul>
          <ul class="clearfix">
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Litecoin" class="medium dark">
              <img src="img/litecoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Litecoin" class="medium dark">
              <img src="img/litecoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Litecoin" class="medium dark">
              <img src="img/litecoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Litecoin" class="medium dark">
              <img src="img/litecoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Litecoin" class="medium dark">
              <img src="img/litecoin.png" alt="logo">
            </li> 
          </ul>
          <ul class="clearfix">
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Litecoin" class="medium dark">
              <img src="img/litecoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Litecoin" class="medium dark">
              <img src="img/litecoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Litecoin" class="medium dark">
              <img src="img/litecoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Litecoin" class="medium dark">
              <img src="img/litecoin.png" alt="logo">
            </li>
            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Bitcoin" class="medium dark">
              <img src="img/bitcoin.png" alt="logo">
            </li>
          </ul>
    		</div>
      </section>
    </div>
  </div>
</div>
    </div>
  </div>
</div>

<!--section 3 end-->

<!-- section 4 start -->
<div class="padding-25 text-color-black">
  <div class="container">
    <div class="col-md-12 text-center padding-25">
      <h2 class="font-40 mobile-font-40" style="font-weight:600;margin-bottom:2rem;">Get ready for the next revolution.</h2>
      <div class="sub-heading">
        <h5 style="margin-top:0;">Register your Github or Google account for early access!</h5>
      </div>
      <button id="ready-login-button" class="btn btn-warning">Register</button>
    </div>
  </div>
</div>
<!-- section 4 end -->



<!-- section-5 start -->
<div class="footer padding-25">
	<div class="row">
		<div class="container">
			<div class="col-xs-12 mobile-text-center">
				<div class="col-sm-8 col-xs-12 mobile-padding-bottom-20" style="padding-left:0px;">
					<img class="logo animate" src="/img/whatruns_logo_1.png" alt="whatruns">
				</div>
				<div class="col-sm-2 col-xs-6 text-left mobile-text-center">
					<h5>COMPANY</h5>
					<ul class="no-padding">
						<li><a href="/about">About</a></li>
						<li><a href="https://twitter.com/wisdomapi" target="_blank">Twitter</a></li>
						<li><a href="https://github.com/wisdomapi/">Github</a></li>
					</ul>
				</div>
				<div class="col-sm-2 col-xs-6 text-left mobile-text-center">
					<h5>SUPPORT</h5>
					<ul class="no-padding ">
						<li><a href="/about/#contactus">Contact</a></li>
						<li><a href="/terms">Terms</a></li>
						<li><a href="/privacy">Privacy</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12  mobile-text-center">
				<div class="col-md-12 no-padding">
					<div class="col-md-6">
						<span>&copy; 2017 Wisdom, Inc. All Rights Reserved.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section-5 end -->

<!-- footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
    var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
    var isFirefox = typeof InstallTrigger !== 'undefined';
    var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification);

    if(isOpera) $('.browser-name').text("Opera");
    else if(isFirefox){
    	 $('.browser-name').text("FireFox");
    	 $('.fa-chrome').addClass('fa-firefox').removeClass("fa-chrome");
    }
    else {
      $('.browser-name').text("Chrome");
    $('.browser-name').addClass("active");
    }

    $(document).ready( function(e){
      $('.bg-img-1').show();
      
      // buttons
      $('#hero-login-button').on('click', function(e) { 
        window.location = "/login"; 
      });
      $('#ready-login-button').on('click', function(e) { 
        window.location = "/login"; 
      });
      $('#hero-docs-button').on('click', function(e) { 
        window.location = "/docs/#api-add"; 
      });

    });
    
    </script>
  </body>
</html>
