{% import "macros.html" as macros %}
{% extends base_layout %}

{% block page_styles %}
    <!-- Home Page -->
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block description %}Micropayment Proxy for APIs.{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
  <!--top container-->
  <div class="inversetop">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="prop">Micropayment Proxy for APIs</h1>
          <p class="blurb">Wisdom provides developers a quick and easy way to add trusted micropayments and identity to their APIs using the magic of the blockchain. </p>
          <button id="browse-projects-button" class="btn btn-info">Browse the APIs</button>
          <button id="add-project-button" class="btn btn-success"></span>Add a New API</button>
        </div>
        <div class="col-md-6">
          <div id="heroimage"></div>
        </div>
      </div>
    </div>
  </div>
  <!--/top container-->

  <!--middle container-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        stuff
      </div>
    </div>
  </div>
  <!--/middle container-->

  <!--bottom container-->
  <div class="container">
    <!--marketing-->
    <div class="marketing">  
      <!--row-->
      <div class="row drivel">
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-gift"></span> Efficent</h3>
          <p><img src="/img/site/underconstruction.gif"/>
        </div>
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-lock"></span> Secure</h3>
          <p>Wisdom's service runs on Google Cloud. The codebase uses the Envoy L4/L7 proxy to bridge API calls to the Lightning Network, a layer 2 protocol for the Bitcoin and Litecoin blockchains. </p>
        </div>
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-heart"></span> Identity</h3>
          <p>Federated identities can be used against any API, enabling a federated cloud to be formed and run on the blockchain.</p>
        </div>
      </div>
      <!--/row-->
    </div>
  </div>
  <!--/container-->
{% endblock %}

<!--what are you looking at?-->
{% block javascript %}
  <script type='text/javascript' src='/js/jquery.cookie.js'></script>
  <script type="text/javascript">
    $().ready(function() {
      // buttons
      $('#add-project-button').on('click', function(e) { 
        window.location = ""; 
      });
      $('#browse-projects-button').on('click', function(e) { 
        window.location = ""; 
      });
    })
  </script>
{% endblock %}