{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Projects :: {% endblock %}

{% block description %}This is a list of public projects using StackMonkey.{% endblock %}

{% block page_styles %}
  <link href="/css/demo.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <div class="logo col-md-1">
        <img src="/img/site/tldr.png">
      </div>
      <div class="col-md-10">
        <h1>Public Projects</h1>
        <p class="blurb">The following Open Source projects can be launched and supported by paying with <strong>Bitcoin</strong>. Click one to get started!</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="demos">
        {% for project in projects %}
        <a href="{{ uri_for('account-projects-view', project_id=project.key.id()) }}"><li><b>{{ project.name }}</b><span><img src="{{ project.icon_url }}"></span><span class="mask"></span><span class="clickmask"></span></li></a>
        {% endfor %}
      </ul>
      {% if not projects %}
      <div class="container">
        <div class="text-center">
          <h2>Oh dear, there were zero public projects found.</h2>
          <p>Maybe you should <a href="/projects/new/">get to work</a> and create one!</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {

    });
  </script>
{% endblock %}