{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Projects :: {% endblock %}

{% block description %}This is a list of public projects using StackMonkey.{% endblock %}

{% block page_styles %}
  <link href="/css/demo.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>Public Projects</h1>
      <p class="blurb">The following Open Source projects can be launched and supported by paying with <strong>Bitcoin</strong>. Click one to get started!</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul class="demos">
      {% for project in projects %}
      <li id="demo-{{ project.key }}" class="software">
        <b>{{ project.name }}</b>
        <a target="_blank" href="{{ project.url }}"><img src="/img/site/twitter.png" alt="Twitter"></a>
        <a target="_blank" href="{{ project.url }}"><img src="/img/site/github.png" alt="{{ project.name }} on Github"></a>
        <span><img src="{{ project.icon_url }}"></span>
        <span class="mask"></span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {
      $('li[id^="demo-"]').each(function(index) {
        $('#'+this.id).click(function() {
          var demo = this.id.split("-").pop();
          window.location = "/demo/"+demo+"/";
        });
      });
    });
  </script>
{% endblock %}