{% extends base_layout %}

{% block header_title %}
        {% trans %}Sign Up{% endtrans %}
{% endblock %}

{% block header_title_lead %}
    <h1>Tour</h1>
    <p class="lead">
      This will eventually be the tour page.  Right now, there's not much to tour.
    </p>
{% endblock %}

{% block extra_nav %}
    {{ macros.nav_menu('tour', user_id) }}
{% endblock %}

{% block content %}
Go on, click another link and get on out of here!  Damn kids.
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {

    });
</script>
{% endblock %}