{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Instance Reservation :: Labs :: {% endblock %}

{% block page_styles %}
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
  <link href="/css/lab.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("launcher", user_id) }}
    </div>
    <div class="col-md-9">
      <div class="row">
				<div class="col-md-12"
          <div class="section-header">
            <h2><small>Instance Reservation <strong>{{ bid.name }}</strong></small></h2>
            <div class="row instance-detail-row">
              <div class="col-md-4">
                <div class="text-center"><h3><small>Reservation Timer</small></h3></div>
                <div class="text-center">
                  <input id="timer" data-state="{{ instance.state }}" data-expires="{{ bid.expires|epoch }}" data-updated="{{ instance.updated|epoch }}" data-step="1" data-readOnly=true data-min="0" value="0" data-max="300" data-width="230" data-height="230">
                </div>
                <div class="text-center timer-state">
                  <p>{{ macros.instance_state(instance.state) }}</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-center"><h3><small>Payment Address</small></h3></div>
                <div class="text-center" id="qrcode"></div>
                <div class="text-center" id="address"><a href="https://blockchain.info/address/{{ instance.address }}" target="_blank">{{ instance.address }}</a></div>
              </div>
              <div class="col-md-4">
                <div class="text-center"><h3><small>Instance Location</small></h3></div>
                <div class="text-center" id="instance-map"></div>
                <div class="text-center" id="provider">{{ instance.appliance.get().name }}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div><h3><small>Instance Attributes</small></h3></div>
                <div>
                  <table class="table table-striped table-responsive">
                    <tr>
                      <td><strong>VPUs</strong></td>
                      <td colspan="2">{{ bid.flavor.get().vpus }} Core</td>
                    </tr>
                    <tr>
                      <td><strong>Memory</strong></td>
                      <td colspan="2">{{ bid.flavor.get().memory }}MB</td>
                    </tr>
                    <tr>
                      <td><strong>Disk</strong></td>
                      <td colspan=2>{{ bid.flavor.get().disk }}GB</td>
                    </tr>
                    <tr>
                      <td><strong>Ingress</strong></td>
                      <td colspan="2">{% if bid.flavor.get().network_down < 1 %}<span title="Unlimited Bandwidth" class="glyphicon glyphicon-ban-circle"></span>{% else %}{{ bid.flavor.get().network_down }} Mb/sec{% endif %}</td>
                    </tr>
                    <tr>
                      <td><strong>Egress</strong></td>
                      <td colspan="2">{% if bid.flavor.get().network_up < 1 %}<span title="Unlimited Bandwidth" class="glyphicon glyphicon-ban-circle"></span>{% else %}{{ bid.flavor.get().network_up }} Mb/sec{% endif %}</td>
                    </tr>
                    <tr>
                      <td><strong>Ask</strong></td>
                      <td>{{ instance.ask }} μBTC/Hour</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-md-6">
                <h3><small>Instance Resources</small></h3>
                <table class="table table-striped table-responsive">

                  {% if bid.callback_url %}
                  <tr>
                    <td><strong>Callback URL</strong></td>
                    <td><a href="{{ bid.callback_url|safe }}">{{ bid.callback_url|safe|truncate(32, killwords=True) }}</a></td>
                  </tr>
                  {% endif %}

                  {% if bid.cloud %}
                  <tr>
                    <td><strong>Cloud</strong></td>
                    <td><a href="">{{ bid.cloud.get().name }}</a></td>
                  </tr>
                  {% endif %}

                  {% if bid.wisp %}
                    <tr>
                      <td><strong>Wisp</strong></td>
                      <td><a href="">{{ bid.wisp.get().name }}</a></td>
                    </tr>
                    {% if bid.wisp.get().dynamic_image_url %}
                    <tr>
                      <td><strong>Dynamic Image URL</strong></td>
                      <td><a href="{{ bid.wisp.get().dynamic_image_url }}">{{ bid.wisp.get().dynamic_image_url }}</a></td>
                    </tr>
                    {% endif %}
                    {% if bid.wisp.get().callback_url %}
                    <tr>
                      <td><strong>Callback URL</strong></td>
                      <td><a href="{{ bid.wisp.get().callback_url }}">{{ bid.wisp.get().callback_url }}</a></td>
                    </tr>
                    {% endif %}
                    {% if bid.wisp.get().image %}
                    <tr>
                      <td><strong>Image</strong></td>
                      <td><a href="">{{ bid.wisp.get().image.get().name }}</a></td>
                    </tr>
                    {% endif %}
                    {% if bid.wisp.get().ssh_key %}
                    <tr>
                      <td><strong>SSH-Key</strong></td>
                      <td>{{ bid.wisp.get().ssh_key|truncate(32, killwords=True) }}</td>
                    </tr>
                    {% endif %}
                  {% endif %}

                  <tr>
                    <td><strong>Public IPv4</strong></td>
                    <td>{% if instance.appliance.get().ipv4enabled %}<span title="A public IPv4 address is available on this instance." class="glyphicon glyphicon-ok">{% else %}<span title="A public IPv4 address is NOT available on this instance." class="glyphicon glyphicon-ban-circle">{% endif %}</td>
                  </tr>
                  <tr>
                    <td><strong>Public IPv6</strong></td>
                    <td>{% if instance.appliance.get().ipv6enabled %}<span title="A public IPv6 address is available on this instance." class="glyphicon glyphicon-ok">{% else %}<span title="A public IPv6 address is NOT available on this instance." class="glyphicon glyphicon-ban-circle">{% endif %}</td>
                  </tr>

                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row button-padding">
          <div class="col-md-8">
            <button id="back-to-instances" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> Back to Instance Launcher</button> 
            <button id="delete-reservation" class="btn btn-danger"></span> Delete Reservation</button>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // back to instances
    $('#back-to-instances').click( function() {
      window.location = "{{ uri_for('lab-launcher') }}";
    });

    // timer knob
    $('#timer').knob();
    setInterval(function() {
      var epoch_time = parseInt((new Date).getTime()/1000);
      var expires = parseInt($('#timer').attr('data-expires'));
      var state = parseInt($('#timer').attr('data-state'));
      var timer2 = expires - epoch_time;
      if (timer2 > -1) {
        $('#timer').val(timer2).trigger("change");
      } else {
        $('#timer').val(0).trigger("change");
        // delete from webpage (cron will also handle this on server)
        $('#delete-reservation').trigger('click');
      }
    }, 1000);

    // delete reservation
    $('#delete-reservation').click(function() {
      $.ajax({
        type: "DELETE",
        url: "{{ uri_for('api-bids-detail', token=bid.token) }}",
        processData: false
      }).done(function(data) {
        window.location = "{{ uri_for('lab-launcher') }}";
      });
    });

    // build the QR code for the instance address
    var qrcode_string = "bitcoin:{{instance.address}}?amount="+(parseInt({{instance.ask}})/1000000);
    $('#qrcode').qrcode({text: qrcode_string});

    // listen to our refresh channel for instance booting callback
    onMessage = function(packet) {
      data = jQuery.parseJSON(packet.data);
      if (data.token == "{{ bid.token }}") {
        alertify.success("Payment received! Loading instance...")
        setTimeout(function() {
          window.location = "{{ uri_for('lab-instance-detail', token=bid.token) }}";
        }, 3000);
      }
    };

    // map
    var location = [{{ instance.appliance.get().location }}];
    var themap = L.mapbox.map('instance-map', 'kordless.gnm28jg1', {scrollWheelZoom: true}).setView(location, 8);
    var marker = L.marker(location).addTo(themap);
    
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;
  });
</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/js/jquery.qrcode.js"></script>
  <script type="text/javascript" src="/js/qrcode.js"></script>
  <script type="text/javascript" src="/js/jquery.knob.js"></script>
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
{% endblock %}

