{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Instance {{ instance.name }} :: Labs :: {% endblock %}

{% block page_styles %}
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
  <link href="/css/lab.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("clouds", user_id) }}
    </div>
    <div class="col-md-9">
      <div class="row">

        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Instance <strong>{{ instance.name }}</strong></small></h2>
            <div class="row instance-detail-row">
              <div class="{% if instance.state < 7 %}col-md-4{% else %}col-md-6{% endif %}">
                <div class="text-center"><h3><small>Instance Timer</small></h3></div>
                <div class="text-center">
                  <input id="timer" data-state="{{ instance.state }}" data-expires="{{ instance.expires }}" data-updated="{{ instance.updated|epoch }}" data-step="1" data-readOnly=true data-min="0" value="0" data-max="{{ instance.data_max }}" data-width="230" data-height="230">
                </div>
                <div class="text-center timer-state">
                  <p>{{ macros.instance_state(instance.state) }}</p>
                </div>
              </div>
              {% if instance.state < 7 %}
              <div class="col-md-4">
                <div class="text-center"><h3><small>Payment Address</small></h3></div>
                <div class="text-center" id="qrcode"></div>
                <div class="text-center" id="address"><a href="https://blockchain.info/address/{{ instance.address }}" target="_blank">{{ instance.address }}</a></div>
              </div>
              {% endif %}
              <div class="{% if instance.state < 7 %}col-md-4{% else %}col-md-6{% endif %}">
                <div class="text-center"><h3><small>Instance Location</small></h3></div>
                <div class="text-center" id="instance-map"></div>
                <div class="text-center" id="provider"><a href="#" target="_blank">{{ instance.appliance.get().name }}</a></div>
              </div>
            </div>
            

            <div class="row">

              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#instance" data-toggle="tab">Instance</a></li>
                <li><a href="#console" data-toggle="tab">Console Log</a></li>
              </ul>
              
              <div class="tab-content">
                <div class="tab-pane active" id="instance">
                  {% if instance.state > 3 %}
                  <div class="col-md-6">
                    <h3><small>Instance IPs</small></h3>
                    <table class="table table-striped table-responsive">
                      <tr>
                        <td><strong>Public IPv6</strong></td>
                        <td><input id="{% if instance.ipv6_address %}{{ instance.ipv6_address }}{% else %}None{% endif %}" class="ip" value="{% if instance.ipv6_address %}{{ instance.ipv6_address }}{% else %}None{% endif %}"></input></td>
                      </tr>
                      <tr>
                        <td><strong>Public IPv4</strong></td>
                        <td><input id="{% if instance.ipv4_address %}{{ instance.ipv4_address }}{% else %}None{% endif %}" class="ip" value="{% if instance.ipv4_address %}{{ instance.ipv4_address }}{% else %}None{% endif %}"></input></td>
                      </tr>
                      <tr>
                        <td><strong>Private IPv4</strong></td>
                        <td><input id="{% if instance.ipv4_private_address %}{{ instance.ipv4_private_address }}{% else %}None{% endif %}" class="ip" value="{% if instance.ipv4_private_address %}{{ instance.ipv4_private_address }}{% else %}None{% endif %}"></input></td>
                      </tr>
                    </table>
                  </div>
                  {% endif %}

                  <div class="col-md-6">
                    <h3><small>Instance Resources</small></h3>
                    <table class="table table-striped table-responsive">
                      {% if instance.callback_url %}
                      <tr>
                        <td><strong>Callback URL</strong></td>
                        <td><a href="{{ instance.callback_url }}">{{ instance.callback_url|truncate(32, killwords=True) }}</a></td>
                      </tr>
                      {% endif %}                      
                      {% if instance.cloud %}
                      <tr>
                        <td><strong>Cloud</strong></td>
                        <td><a href="{{ uri_for('account-clouds-configure', cloud_id=instance.cloud.get().key.id()) }}">{{ instance.cloud.get().name }}</a></td>
                      </tr>
                      {% endif %}

                      {% if instance.wisp %}
                        <tr>
                          <td><strong>Wisp</strong></td>
                          <td><a href="{{ uri_for('account-wisps-detail', wisp_id=instance.wisp.get().key.id()) }}">{{ instance.wisp.get().name }}</a></td>
                        </tr>
                        {% if instance.wisp.get().dynamic_image_url %}
                        <tr>
                          <td><strong>Dynamic Image URL</strong></td>
                          <td><a href="{{ instance.wisp.get().dynamic_image_url }}">{{ instance.wisp.get().dynamic_image_url }}</a></td>
                        </tr>
                        {% endif %}
                        {% if instance.wisp.get().callback_url %}
                        <tr>
                          <td><strong>Callback URL</strong></td>
                          <td><a href="{{ instance.wisp.get().callback_url }}">{{ instance.wisp.get().callback_url }}</a></td>
                        </tr>
                        {% endif %}
                        {% if instance.wisp.get().image %}
                        <tr>
                          <td><strong>Image</strong></td>
                          <td><a href="{{ instance.wisp.get().image.get().url }}">{{ instance.wisp.get().image.get().name }}</a></td>
                        </tr>
                        {% endif %}
                        {% if instance.wisp.get().ssh_key %}
                        <tr>
                          <td><strong>SSH-Key</strong></td>
                          <td>{{ instance.wisp.get().ssh_key|truncate(32, killwords=True) }}</td>
                        </tr>
                        {% endif %}
                      {% endif %}
                    </table>
                  </div>
                
                  <div class="col-md-6">
                    <div><h3><small>Instance Attributes</small></h3></div>
                    <div>
                      <table class="table table-striped table-responsive">
                        <tr>
                          <td><strong>VPUs</strong></td>
                          <td colspan="2">{{ instance.flavor.get().vpus }} Core</td>
                        </tr>
                        <tr>
                          <td><strong>Memory</strong></td>
                          <td colspan="2">{{ instance.flavor.get().memory }}MB</td>
                        </tr>
                        <tr>
                          <td><strong>Disk</strong></td>
                          <td colspan=2>{{ instance.flavor.get().disk }}GB</td>
                        </tr>
                        <tr>
                          <td><strong>Egress</strong></td>
                          <td colspan="2">{% if instance.flavor.get().network_up < 1 %}<span title="Unlimited Bandwidth" class="glyphicon glyphicon-ban-circle"></span>{% else %}{{ instance.flavor.get().network_up }} Mb/sec{% endif %}</td>
                        </tr>
                        <tr>
                          <td><strong>Ingress</strong></td>
                          <td colspan="2">{% if instance.flavor.get().network_down < 1 %}<span title="Unlimited Bandwidth" class="glyphicon glyphicon-ban-circle"></span>{% else %}{{ instance.flavor.get().network_down }} Mb/sec{% endif %}</td>
                        </tr>
                        <tr>
                          <td><strong>Ask</strong></td>
                          <td>{{ instance.ask }} μBTC/Hour</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              
                <div class="tab-pane" id="console">
                  <pre id="console_log">{% if instance.console_output %}{{ instance.console_output }}{% else %}Waiting on console log...{% endif %}</pre>
                </div>
              
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row button-padding">
        <div class="col-md-12">
          {% if instance.cloud %}
          <button id="back-to-cloud" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> Back to {{ instance.cloud.get().name }}</button>
          {% endif %}
          <button id="open-launcher" class="btn btn-success">Add New Instance</button>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // current state when page loads
    var state = {{ instance.state }};

    {% if instance.cloud %}
    // add new instance button
    $('#open-launcher').click(function() {
      window.location = "{{ uri_for('lab-launcher') }}?cloud_id={{ instance.cloud.get().key.id() }}";
    });

    // back to instances
    $('#back-to-cloud').click( function() {
      window.location = "{{ uri_for('account-clouds-configure', cloud_id=instance.cloud.get().key.id()) }}";
    });
    {% else %}
    $('#open-launcher').click(function() {
      window.location = "{{ uri_for('lab-launcher') }}";
    });
    {% endif %}

    // timer knob
    $('#timer').knob();
    setInterval(function() {
      var epoch_time = parseInt((new Date).getTime()/1000);
      var expires = parseInt($('#timer').attr('data-expires'));
      var state = parseInt($('#timer').attr('data-state'));
      var timer2 = expires - epoch_time;
      if (timer2 > -1) {
        $('#timer').val(timer2).trigger("change");
      } else {
        $('#timer').val(0).trigger("change");
      }
    }, 1000);

    // build the QR code for the instance address
    var qrcode_string = "bitcoin:{{instance.address}}?amount="+(parseInt({{instance.ask}})/1000000);
    $('#qrcode').qrcode({text: qrcode_string});

    // state indicator
    var state_indicator = function(state) {
      // remove all colors
      $('#state').removeClass("label-danger").removeClass("label-warning").removeClass("label-info").removeClass("label-success");
      
      // set label state
      if (state == 3) {
        $('#state').html("Starting");
        $('#state').addClass("label-success");
      } else if (state == 5) {
        $('#state').html("Suspended");
        $('#state').addClass("label-warning");
      } else if (state == 6) {
        $('#state').html("Unsuspended");
        $('#state').addClass("label-info");
      } else if (state == 7) {
        $('#state').html("Decommissioned");
        $('#state').addClass("label-danger");
      } else if (state == 10) {
        $('#state').html("Reserved");
        $('#state').addClass("label-danger");
      } else if (state == 11) {
        $('#state').html("Loading Image");
        $('#state').addClass("label-success");
      }
    }

    // handle channel messages
    onMessage = function(packet) {
      var data = JSON.parse(packet.data);
      var name = data.name;

      // if our ajax state is larger than the existing state
      if (data.state > state) {
        if (data.state == 4) {
          // moving to state 4, we reload so we get the IPs
          window.location.reload();
        } else {
          state_indicator(data.state);
          state = data.state;
        }
      } else if (data.state < state) {
        // we went back a state, which means openstack is loading image
        state_indicator(11);
        state = data.state;
      } else if (data.state == 4) {
        // we're getting a reload while we're running, so update console
        $.ajax("/api/v1/instances/"+name+"/")
          .success(function(data) {
            var console_log = atob(data.result.instance.console_output);
            console.log("updating console log");
            $('#console_log').html(console_log);
          });
      }
    };
    
    // highlight entire IP for copying
    $(".ip").click(function() {
      var $this = $(this);
      $this.select();
      // Work around Chrome's little problem
      $this.mouseup(function() {
          // Prevent further mouseup intervention
          $this.unbind("mouseup");
          return false;
      });
    });

    // 'disable' deleting IP addresses from input boxes
    $('.ip').on('input', function() {
      var ip = $(this).attr('id');
      $(this).val(ip);
    });

    // tabs 
    $('#tabs').tab();

    // map
    var location = [{{ instance.appliance.get().location }}];
    var themap = L.mapbox.map('instance-map', 'kordless.gnm28jg1', {scrollWheelZoom: true}).setView(location, 8);
    var marker = L.marker(location).addTo(themap);
    
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;
  });
</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/js/jquery.qrcode.js"></script>
  <script type="text/javascript" src="/js/qrcode.js"></script>
  <script type="text/javascript" src="/js/jquery.knob.js"></script>
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
{% endblock %}
