{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Appliances :: {% endblock %}

{% block page_styles %}
  <link href="/css/appliance.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'site/navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ uri_for('account') }}">Status</a></li>
        <li><a href="{{ uri_for('account-clouds') }}">Clouds</a></li>
        <li><a href="{{ uri_for('account-settings') }}">Settings</a></li>
        <li class="active"><a href="{{ uri_for('account-appliances') }}">Appliances</a></li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Account Appliances</small></h2>
            <p>You don't have any appliances configured. Click the <strong>'New Appliance'</strong> button below to create your first appliance.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
        	<button type="button" id="new-appliance-button" class="btn btn-success">New Appliance</button>
        </div>
      </div>  
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // go to new appliance instructions
    $('#new-appliance-button').click( function() {
      window.location.href = "{{ uri_for('account-appliances-new') }}";
    });

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;
  });
</script>

{% endblock %}
