{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Appliances :: {% endblock %}

{% block page_styles %}
  <link href="/css/appliance.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Deleting this appliance will cause the cluster it's running on to disconnect from the pool controller.  Are you sure you want to do this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="delete-button" class="btn btn-danger">Delete Appliance</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ uri_for('account') }}">Status</a></li>
        <li><a href="{{ uri_for('account-clouds') }}">Clouds</a></li>
        <li><a href="{{ uri_for('account-settings') }}">Settings</a></li>
        <li class="active"><a href="{{ uri_for('account-appliances') }}">Appliances</a></li>
        <li><a href="{{ uri_for('account-appliances-groups') }}">Groups</a></li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Account Appliances</small></h2>
            {% if appliances %}
            <div class="row">
              <div class="col-md-12">
                <p>The following virtual appliances are tied to your provider account. You may click on the <strong>New Appliance</strong> button below to view instructions for adding a new appliance. If you need to change an appliance's group, delete it and then add it back to the system from the virtual appliance's interface.</p>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Group</th>
                      <th>Token</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for appliance in appliances %}
                    <tr>
                      <td>{{ appliance.name }}</td>
                      <td>{{ appliance.group.get().name }}</td>
                      <td>{{ appliance.token }}</td>
                      <td><span class="glyphicon glyphicon-ok"></span></td>
                      <td>
                        <button type="button" id="remove-{{appliance.key.id()}}" class="btn btn-danger btn-xs" title="remove" href="#"><span class="glyphicon glyphicon-remove"></span></button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% else %}
            <p>You don't have any appliances configured. Click the <strong>'New Appliance'</strong> button below to create your first appliance.</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
        	<button type="button" id="new-appliance-button" class="btn btn-success">New Appliance</button>
        </div>
      </div>  
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // go to new appliance instructions
    $('#new-appliance-button').click( function() {
      window.location.href = "{{ uri_for('account-appliances-new') }}";
    });

    // remove buttons
    $('button[id^="remove-"]').each(function(index){
      $('#'+this.id).click(function() {
        appliance_id = this.id.split("-").pop();
        button_id = '#'+this.id;
        $('#delete').modal();
        $('#delete-button').click(function() {
          $.ajax({
            url: '/appliances/'+appliance_id+'/?_csrf_token='+csrf_token+'&channel_token='+channel_token,
            type: 'DELETE',
            success:(function() {
              $(button_id).unbind("click");
              $(button_id).addClass("disabled");
            })
          });
        });
      })
    });

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;
  });
</script>

{% endblock %}
