{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Appliance Edit :: {{ appliance.name }} :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden create modal -->
<div id="modal-create" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add New Appliance Group</h4>
      </div>
      <div class="modal-body">
        <p>Enter the name for the new private appliance group.  The group will be created in the system after you finish creating the new appliance.</p>
        <div class="row form-group">
          <div class="col-md-12">
            <div class="row">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              {{ macros.input(gform, "name", "Name", "col-xs-10", placeholder="My Shibes", class="form-control required group-input") }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" id="modal-create-button" class="btn btn-danger">Add Appliance Group</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("appliances", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Edit Appliance <strong>{{ appliance.name }}</strong></small></h2>
            <div class="row">
              <div class="col-md-12">
                <form id="form_edit_profile" action="{{ url|safe }}" method="post" class="form-horizontal">
                  <p>Please use the following form to edit your appliance settings. Please note that appliance settings such as location and instance settings are located inside the appliance UI, which will be accessable from the instance you run on your OpenStack cluster.</p>
                  <div class="row">

                      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                      <input type="hidden" id="hidden-custom" name="custom" value="Custom">
                      {{ macros.input(form, "name", "Name", "col-xs-8", placeholder="Awesome Appliance", class="form-control") }}
                      {{ macros.input(form, "token", "Token", "col-xs-8", placeholder="7DOItbpFuVYWFthFVYlxlBzMbaRuVyswpJ89mK94PfWjxpKBaa1KMARJh6SlRHEm", class="form-control") }}
                      <div class="row">
                        <div class="col-md-12">
                        {{ macros.input(form, "group", "Group", "col-xs-5", class="form-control pulldown") }}
                        <button type="button" id="new-group-create-button" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                      </div>
                  </div>
                  <button type="submit" id="save-appliance-button" class="btn btn-success">Save Appliance</button>
                  <button type="button" id="cancel-button" class="btn btn-danger">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

    // show new group modal
    $('#new-group-create-button').click(function() {
      $('#modal-create').modal();
    });

    // handle hitting enter on new group name field
    $('#name.group-input').keyup(function(e) {
      if(e.keyCode == 13) {
        $('#modal-create-button').click();
      }
    });

    // cancel appliance edit
    $('#cancel-button').click(function() {
      window.location = "{{ uri_for('account-appliances') }}";
    });

    // hack up the pulldown to display the correct group
    $('#group').val("{{ group_id }}");
    
    // ajaxify the new group creation form
    $('#modal-create-button').click(function() {
      var name = $('#name.group-input').val();
      $('#modal-create').modal("hide");
      $('#name.group-input').val('');
      $('#group').append(new Option(name, 'custom', true, true));
      $("#hidden-custom").val(name);
    });
  });
</script>

{% endblock %}

