{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Appliance Setup :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("appliances", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Setting Up a New Appliance</small></h2>
            <p>Creating a new appliance for your account is initiated by clicking on the <strong>Register API Token</strong> button in the <a target="_blank" href="https://github.com/StackMonkey/utter-va#appliance-configuration">StackMonkey Virtual Appliance</a> interface. There's a video guide to help you install the appliance:</p>
            <iframe class="install-video" src="//player.vimeo.com/video/100944207" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p>Once you've installed the virtual appliance on your <a target="_blank" href="https://openstack.org">OpenStack cluster</a>, you'll be able to click a button inside the virtual appliance UI to come back here and create a new appliance in your account.</p>
            <div class="bs-callout bs-callout-warning">
              <h4>Technical Support</h4>
              <p>Live technical support is available for installing both the appliance and OpenStack.  You may contact us by <a target="_blank" href="{{ uri_for('about') }}#contact">web form</a>, using the <a target="_blank" href="https://groups.google.com/forum/#!forum/stackmonkey">mailing list</a>, or hanging out in the <a target="_blank" href="https://gitter.im/StackMonkey/utter-va">StackMonkey Appliance</a> room on Gitter.</p>
            </div>
          </div>
          <div class="section-header steps">
            <h2><small>Step 1: Installing OpenStack</small></h2>
            <p>If you don't have OpenStack installed, proceed with the following steps:</p>
            <ul>
              <li><a target="_blank" href="https://www.ubuntu.com/download/desktop">Download and Install Ubuntu Desktop</a>.</li>
              <li><a target="_blank" href="https://www.stackgeek.com/guides/gettingstarted.html">Install OpenStack Icehouse on Ubuntu 14.04</a>.</li>
              <li>Configure IPv4 and/or IPv6 on OpenStack via the Icehouse guide.</li>
            </ul>
            <div class="bs-callout bs-callout-info">
              <h4>Watch the video!</h4>
              <p>The following video steps you through installing Icehouse, the latest version of OpenStack, on the Trusty version of Ubuntu:</p>
              <iframe class="install-video" src="https://player.vimeo.com/video/97757352" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <p>Once you have an OpenStack cluster running, you may continue to <strong>Step 2, Booting the Appliance</strong>.</p>
          </div>
          <div class="section-header steps">
            <h2><small>Step 2: Booting the Appliance</small></h2>
            <p>Booting/installing the appliance takes about 15 minutes. You'll start the appliance using one of two different ways, depending on how you installed OpenStack:</p>
            <ul>
              <li>If you used the StackGeek scripts, follow the <a target="_blank" href="https://github.com/StackMonkey/utter-va#automated-install">Automated Install</a> instructions.</li>
              <li>If you used another method, follow the <a target="_blank" href="https://github.com/StackMonkey/utter-va#manual-install">Manual Install</a> instructions.</li> 
            </ul>
            <div class="bs-callout bs-callout-info">
              <h4>Watch the video!</h4>
              <p>Follow along with the <a target="_blank" href="https://vimeo.com/100944207#t=1m46s" target="_blank">the video guide <strong>@1m46s</strong></a> for detailed information on booting the appliance.</p>
            </div>
            <p>Once you've finished launching the appliance, you may continue to <strong>Step 3, Setting Up the Virtual Appliance</strong>.</p>
          </div>
          <div class="section-header steps">
            <h2><small>Step 3: Setting Up the Virtual Appliance</small></h2>
            <p>Click on the links in the steps below to view the setup details for each of these tasks:</p>
            <ul>
              <li><a target="_blank" href="https://github.com/StackMonkey/utter-va#accessing-the-appliance">Log into the appliance's web UI</a> and <a target="_blank" href="https://github.com/StackMonkey/utter-va#admin-account">create an administrator account</a>.</li>
              <li><a target="_blank" href="https://github.com/StackMonkey/utter-va#pool-api-token">Register the Pool API Token</a> by clicking on the register button in the appliance.</li>
              <li><a target="_blank" href="https://github.com/StackMonkey/utter-va#coinbase-tokens">Create, enable and enter your Coinbase Client and Secret IDs</a>.</li>
              <li><a target="_blank" href="https://github.com/StackMonkey/utter-va#ngrok-token">Register and enter your Ngrok token</a> to start the SSL tunnel.</li>
              <li><a target="_blank" href="https://github.com/StackMonkey/utter-va#service-location">Set the geographical location</a> of the OpenStack cluster.</li> 
            </ul>
            <div class="bs-callout bs-callout-info">
              <h4>Watch the video!</h4>
              <p>Follow along with the <a target="_blank" href="https://vimeo.com/100944207#t=4m06s" target="_blank">the video guide <strong>@4m06s</strong></a> for detailed information on setting up the appliance.</p>
            </div>
          </div>
          <div class="section-header steps">
            <h2><small>Step 4: Test Purchasing an Instance</small></h2>
            <p>Once you get the appliance running, try test starting an instance with your Bitcoin wallet:</p>
            <ul>
              <li>Create a <a target="_blank" href="/wisps/new/">Default Wisp</a> for your account.</li>
              <li>In the <strong>Appliance</strong>, navigate to the <strong>Instances</strong> tab.</li>
              <li>Click on the <strong>Payment</strong> button next to an instance you want to start.</li>
              <li>Use a <a target="_blank" href="https://blockchain.info/wallet">Bitcoin wallet</a> to scan the QR code and send in a small amount of Bitcoin to the instance.</li>
            </ul>
            <div class="bs-callout bs-callout-info">
              <h4>Watch the video!</h4>
              <p>The following video demonstrates paying for an hour's worth of instance time on the <strong>Moraga OpenStack</strong> cluster.</p>
              <p><a target="_blank" href="https://vimeo.com/100944207#t=8m42s"><img src="/img/instance_video.png"/></a></p>
            </div>
          </div>
          <button type="button" id="list-appliance-button" class="btn btn-success">Back to Appliances List</button>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // go to new appliance instructions
    $('#list-appliance-button').click( function() {
      window.location.href = "{{ uri_for('account-appliances') }}";
    });

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;
  });
</script>

{% endblock %}
