{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Clouds :: {% endblock %}

{% block page_styles %}
  <link href="/css/appliance.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'site/navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ uri_for('account') }}">Status</a></li>
        <li><a href="{{ uri_for('account-clouds') }}">Clouds</a></li>
        <li><a href="{{ uri_for('account-settings') }}">Settings</a></li>
        <li class="active"><a href="{{ uri_for('account-appliances') }}">Appliances</a></li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>New Appliance Setup</small></h2>
            <p>The new appliance setup process consists of installing OpenStack and then deploying a new virtual appliance on the OpenStack cluster by starting an instance.  You can familarize yourself with the process by watching the following video.  Be sure to put the video in HD mode and take it fullscreen!</p>
            <iframe src="//player.vimeo.com/video/87528023" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p>Once you've installed OpenStack and the virtual appliance, you'll be able to click a button inside the virtual appliance UI to come back here and create a new appliance in your account.</p>
          	<div class="bs-callout bs-callout-warning">
    					<h4>Getting Help</h4>
    					<p>Support is available for installing OpenStack if you plan on running the StackMonkey virtual appliance to monitize your compute resources.  You may contact us by <a href="{{ uri_for('about') }}#contact">web form</a>, use the <a href="https://groups.google.com/forum/#!forum/stackmonkey">mailing list</a>, or join us in the <a href="http://webchat.freenode.net/?channels=stackmonkey">#stackmonkey channel on Freenode</a>.</p>
  					</div>
          </div>
          <div class="section-header steps">
          	<h2><small>Step 1: Installing OpenStack</small></h2>
            <p>Here are the OpenStack setup instructions you'll need for the install process:</p>
            <ul>
            	<li><a href="https://ubuntu.com/download/desktop/">Download and Install Ubuntu Desktop</a></li>
            	<li><a href="http://www.stackgeek.com/guides/gettingstarted.html">Install OpenStack In 10 Minutes</a></li>
            	<li><a href="https://github.com/stackmonkey/">Configure IPv6 on OpenStack</a></li>
            </ul>
            <p>The following video steps you through installing OpenStack on a single compute rig:</p>
          	<iframe src="//player.vimeo.com/video/87528023" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p>Once you've finished installing OpenStack, you may continue to booting the appliance.</p>
          </div>
	        <div class="section-header steps">
	        	<h2><small>Step 2: Booting the Appliance</small></h2>
	          <p>Installing the appliance takes about 15 minutes before the appliance becomes ready for configuration.</p>
	          <p>To start the appliance, do the following:</p>
            <ul>
              <li>Login to your OpenStack cluster as an admin user.</li>
              <li>Click on the <strong>'admin'</strong> tab to the left and then click on <strong>'projects'</strong>.</li>
              <li>Click on the <strong>'create project'</strong> button at the top right.</li>
              <li>Create a new project called <strong>StackMonkey</strong> and then click on the <strong>'create project'</strong> button.</li> 
            </ul>
            <div class="bs-callout bs-callout-info">
              <h4>Appliance Project Settings</h4>
              <p>keep in mind blah blah</p>
            </div>
	        </div>
	        <div class="section-header steps">
	        	<h2><small>Step 3: Register the Appliance Token</small></h2>
	          <p>Installing the appliance is a simple process. Once you initiate the appliance start, it takes about 15 minutes for the appliance to build itself and become ready for configuration.</p>
	          <p>To start the appliance, do the following:</p>

	          <div class="row">
	          	<div class="col-md-8">
	          		<pre>paste this shizzle</pre>
		      		</div>
		      	</div>
		      	<button type="button" id="list-appliance-button" class="btn btn-success">Back to Appliances List</button>
	        </div>
	      </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // go to new appliance instructions
    $('#list-appliance-button').click( function() {
      window.location.href = "{{ uri_for('account-appliances') }}";
    });

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;
  });
</script>

{% endblock %}
