{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}New Appliance :: {% endblock %}

{% block page_styles %}
  <link href="/css/appliance.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden new group modal -->
<div id="new-group-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create a New Appliance Group</h4>
      </div>
      <div class="modal-body">
        <p>Enter the name of the new appliance group you'd like to create. You will be the owner of this group and the group will be private.</p>
        <div class="row">
          <div class="col-md-8 form-padding" id="groupname-form">
            <label class="control-label" for="authcode">Group Name</label>
            <input length=20 class="form-control" id="groupname" name="groupname" placeholder="awesome group" type="text">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="new-group-modal-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="new-group-modal-create-button" class="btn btn-danger">Create New Group</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ uri_for('account') }}">Status</a></li>
        <li><a href="{{ uri_for('account-clouds') }}">Clouds</a></li>
        <li><a href="{{ uri_for('account-settings') }}">Settings</a></li>
        <li class="active"><a href="{{ uri_for('account-appliances') }}">Appliances</a></li>
        <li><a href="{{ uri_for('account-appliances-groups') }}">Groups</a></li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>New Appliance</small></h2>
          </div>
        </div>
      </div>
      <div class="row">
      	<div class="col-md-12">
					<form id="form_edit_profile" action="{{ url|safe }}" method="post" class="">
			      <p>Appliances are virtual machines with intent that run on your OpenStack deployment cluster.  The <strong>{{ app_name }} Virtual Appliance</strong> controls the start and stops of instances based on Bitcoin drips provided by the {{ app_name }} pool site.  Fill out this form to finish creating a new virtual appliance for this account.</p>
			      <div class="row">
			        <div class="col-md-8 form-padding" id="authcode-form">
			          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			   		    {{ macros.input(form, "name", "Name", "col-xs-12", placeholder="appliance name", class="form-control") }}
			          {{ macros.input(form, "token", "Token", "col-xs-12", placeholder="appliance token", class="form-control") }}
			          {{ macros.input(form, "group", "Group", "col-xs-5", class="form-control pulldown") }}
			          <button type="button" id="new-group-create-button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
			        </div>
			      </div>
			      <div class="row">
			      	<div class="col-md5 form-buttons">
		        		<button type="submit" id="new-appliance-create-button" class="btn btn-danger">Create Appliance</button>
		      		</div>
		      	</div>
		      </form>
		    </div>
		  </div>  
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // show new group modal
    $("#new-group-create-button").click(function() {
      $("#new-group-modal").modal();
    });

    // handle the new group creation
    $("#new-group-modal-create-button").click(function() {
      $.ajax({
          url: '/api/groups/?name='+$('#groupname').val()+"&_csrf_token="+csrf_token,
          type: 'POST',
          success: function() {
            // reload the page
            $('#groupname').val('');
            location.reload();
          },
          error: function() {
            // code failed, clear value and alert
            var name = $('#groupname').val();
            $('#groupname').val('');
            $('#groupname-form').addClass('has-error');
            alertify.log("Error while adding group <em>"+name+"</em> to groups.", "error");
          }
        });
    });

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;
  });
</script>

{% endblock %}

