{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}New Appliance :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden create modal -->
<div id="modal-create" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add New Appliance Group</h4>
      </div>
      <div class="modal-body">
        <p>Enter the name for the new private appliance group.  The group will be created in the system after you finish creating the new appliance.</p>
        <div class="row form-group">
          <div class="col-md-12">
            <div class="row">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              {{ macros.input(gform, "name", "Name", "col-xs-10", placeholder="My Shibes", class="form-control required group-input") }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" id="modal-create-button" class="btn btn-danger">Add Appliance Group</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("appliances", user_id, provider) }}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>New Appliance</small></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="bs-callout bs-callout-info bs-callout-top">
            <h4>Appliances</h4>
            <p><strong>Appliances</strong> are one or more <strong>Virtual Machines</strong> which run on top of an <strong>OpenStack Cluster</strong>.  Appliances provide <strong>Starts and Stops</strong> of <strong>Instances</strong> sold on the system.  Appliances can be optionally isolated within <strong>Private Appliance Groups</strong> for sharing infrastructure with <strong>Trusted Entities</strong>.</p>
            <p>Fill out this form to finish creating a new virtual appliance for this account.</p>
            <p><strong>Note:</strong> The virtual appliance page in the previous tab will auto refresh once you've submitted this form.</p>
          </div>
          <form id="form_edit_profile" action="{{ url|safe }}" method="post" class="">
            <div class="row">
              <div class="col-md-10 form-padding" id="authcode-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" id="hidden-custom" name="custom" value="Custom">
                {{ macros.input(form, "name", "Name", "col-xs-12", placeholder="Awesome Appliance", class="form-control appliance") }}
                {{ macros.input(form, "token", "Token", "col-xs-12", placeholder="7DOItbpFuVYWFthFVYlxlBzMbaRuVyswpJ89mK94PfWjxpKBaa1KMARJh6SlRHEm", class="form-control") }}
                {{ macros.input(form, "group", "Group", "col-xs-8", class="form-control pulldown") }}
                <button type="button" id="new-group-create-button" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
            </div>
            <div class="row">
              <div class="col-md5 form-buttons">
                <button type="submit" id="new-appliance-create-button" class="btn btn-success">Create Appliance</button>
              </div>
            </div>
          </form>
        </div>
      </div>  
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

    // show new group modal
    $('#new-group-create-button').click(function() {
      $('#modal-create').modal();
    });

    // set focus on the appliance name input
    $('#name.appliance').focus();

    // set focus on input when modal is done showing up
    $('#modal-create').on('shown.bs.modal', function () {
      $('#name.group-input').focus();
    });

    // handle hitting enter on new group name field
    $('#name.group-input').keyup(function(e) {
      if(e.keyCode == 13) {
        $('#modal-create-button').click();
      }
    });

    // ajaxify the new group creation form
    $('#modal-create-button').click(function() {
      var name = $('#name.group-input').val();
      $('#modal-create').modal("hide");
      $('#name.group-input').val('');
      $('#group').append(new Option(name, 'custom', true, true));
      $("#hidden-custom").val(name);
    });
  });
</script>

{% endblock %}

