{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}{{ appliance.name }} Appliance :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet"/>
  <link href="/css/docs.css" rel="stylesheet"/>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet'/>
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("appliances", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Appliance <strong>{{ appliance.name }}</strong></small></h2>
            <div class="row">
              <div class="col-md-12">
              	<div id='map'></div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
            		{{ appliance.updated }}
                {{ appliance.dynamicimages }}
            		{% for instance in instances %}
            		{{ instance.name }}
            		{% endfor %}
          		</div>
          	</div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // the map
    var map = L.mapbox.map('map', 'kordless.gnm28jg1', { zoomControl: false }).setView([{{ appliance.location }}], 12);
    var marker = L.marker([{{ appliance.location }}]).addTo(map);
    // Disable drag and zoom handlers.
    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;
  });
</script>

{% endblock %}



