html, body {
	padding-top: 25px;
}

#map {
	width: 100%;
	height: 540px;
	border: 1px solid #888;
	opacity: 0.8;
	margin-bottom: 4px;
}
h1 {
	margin-top: 40px;
}
.text-center > h3 {
	margin-top: 2px;
}
.inverse {
	background-color: #252525;
	color: #fff;
	padding-bottom: 60px;
}
.container > div.contact {

}
.form-padding {
	margin-bottom: 20px;
	text-align: left;
}
.paddme {
	margin-bottom: 60px;
}
.img-rounded {
	padding-top: 20px;
	padding-bottom: 20px;
}
.blurb {
	font-size: 16px;
}
.blurb > a{
	color: white;
}
.intro {
	text-align: center;
}
.address {
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}
.address > p {
	margin: 0px;
}
.team {
	overflow: hidden;
	padding-left: 0px;
	margin-top: 40px;
	margin-bottom: 48px;
}
.team li {
  position: relative;
  float: left;
  width: 208px;
  height: 208px;
  margin-right: 20px;
  list-style-type: none;
  display: inline-block !important;
  float: none !important;
}

.team a {
    position: absolute;
    right: 23px;
    bottom: 13px;
    z-index: 5;
    opacity: .8;
}

.team b {
	font-size: 12px;
	line-height: 1;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.team a:hover {
    opacity: 1;
}

.team a+a {
    right: 66px;
}

.team img {
    pointer-events: none;
    border-radius: 6px;
}

.team b {
    position: absolute;
    left: 25px;
    bottom: 20px;
    z-index: 4;
    color: #fff;
    text-shadow: 0 4px 14px rgba(0,0,0,0.3);
}

.team .mask {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 0 0 6px 6px;
    background: -webkit-linear-gradient(rgba(40,40,40,0), rgba(40,40,40,0.5));
    background: linear-gradient(rgba(40,40,40,0), rgba(40,40,40,0.5));
}
