/* General Styles */
html, body {
  height: 100%;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  color: #fff;
}
/* Navbar */
.navbar-inverse .navbar-brand {
  color: #ccc;
  padding-top: 20px;
  font-size: 20px;
  font-family: 'Open Sans',sans-serif;
  text-shadow: 2px 2px 3px gray;
}
.navbar .navbar-inner {
  background-image: -webkit-linear-gradient(top, #fff, #f8f8f8);
  background-image: -o-linear-gradient(top, #fff, #f8f8f8);
  background-image: linear-gradient(to bottom, #fff, #f8f8f8);
  border-bottom: 1px solid #d2d2d2;
}
.navbar-inverse .navbar-brand > a, 
.navbar-inverse .navbar-brand > a:hover, 
.navbar-inverse .navbar-brand > a:link, 
.navbar-inverse .navbar-brand > a:visited, 
.navbar-inverse .navbar-brand > a:active {
  color: #fff;
}
/* push nav down and make it taller */
ul.nav.navbar-nav > li.active > a,
ul.nav.navbar-nav > li > a {
  height: 66px;
  padding-top: 24px;
  text-decoration: none;
}
/* sign in button */
ul.nav.navbar-nav > li > button {
  margin-top: 16px;
  margin-left: 16px;
  height: auto;
}
a.navbar-brand.navbar-logo {
  text-decoration: none;
}
/* Footer */
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -194px;
  padding: 0 0 166px;
}
ul.unstyled, ol.unstyled {
  list-style: none;
  padding: 0px;
}
footer {
  vertical-align: baseline;
  margin-top: 19px;
  padding-top: 19px;
  font-size: 13px;
  background: #252525;
  border-top: 0;
  border-top: 0;
  min-height: 166px;
}
footer h4 {
  color: #999;
}
footer p {
  color: #999;
}
footer a {
  color: #fff;
}
footer ul.unstyled a {
  color: #fff;
  text-decoration: none;
}
footer ul.unstyled a:hover {
  text-decoration: underline;
}
footer #footer-floor {
  background: #1b1b1b;
  padding-top: 10px;
}
footer #footer-floor h3, footer #footer-floor h4 {
  color: #fff;
}
footer #footer-floor #elsewhere-msg {
  padding-top: 18px;
}
footer #elsewhere-icons {
  padding: 0px;
  margin: 0px;
}
footer #elsewhere-icons a {
  background: url("/img/social_icons.png") 0 0 no-repeat;
  float: left;
  width: 35px;
  height: 35px;
  overflow: hidden;
  text-indent: -900px;
  margin-right: 5px;
  margin-bottom: 10px;
}
footer #elsewhere-icons a.twitter { 
	background-position: -0px; 
}
footer #elsewhere-icons a.github { 
	background-position: -70px; 
}
footer #elsewhere-icons a.googleplus { 
	background-position: -35px; 
}
footer ul, h4 {
	margin-top: 4px;
}
footer ul {
	margin-bottom: 16px;
}
.footer, .push {
	height: 200px;
}