{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Admin Images :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Deleting this image will remove it from the database and remove it from the site.  You should ensure this image has been disabled for a few days before you delete it to ensure the appliances will know to uninstall it!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="delete-button" class="btn btn-danger">Delete Image</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<!-- hidden new image modal -->
<div id="new-image-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create a New Image</h4>
      </div>
      <form id="form_new_image" action="{{ url|safe }}" method="post" class="form-horizontal">
        <div class="modal-body">
          <p>Fill out the following form to create a new image.</p>
          <div class="row">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "name", "Name", "col-xs-9", placeholder="ubuntu_precise_64_12.04", class="form-control required") }}
            {{ macros.input(form, "description", "Description", "col-xs-12", placeholder="Ubuntu Image", class="form-control required") }}
            {{ macros.input(form, "url", "Source URL", "col-xs-12", placeholder="http://images.com/ubuntu.img", class="form-control required") }} 
            {{ macros.input(form, "disk_format", "Disk Format", "col-xs-6", placeholder="http://images.com/ubuntu.img", class="form-control pulldown") }} 
            {{ macros.input(form, "container_format", "Container Format", "col-xs-6", placeholder="http://images.com/ubuntu.img", class="form-control pulldown") }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="new-image-modal-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="new-image-modal-create-button" class="btn btn-danger">Create New Image</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.admin_side_menu("images") }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Admin Images</small></h2>
            <div class="row">
              <div class="col-md-12">
                {% if images %}
                <p>The following images are configured for the system to sell. You may click on the <strong>New Image</strong> button below to create a new image.</p>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Disk Format</th>
                      <th>Container Format</th>
                      <th>Serving</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for image in images %}
                    <tr>
                      <td><a href="{{ image.url }}">{{ image.name }}</td>
                      <td>{{ image.description }}</td>
                      <td>{{ image.disk_format }}</td>
                      <td>{{ image.container_format }}</td>
                      <td>
                        <div class="toggle-modern">
                          <div id="image-{{ image.key.id() }}" class="toggle{% if image.active %} enabled{% endif %}"></div>
                        </div>
                      </td>
                      <td>
                        <button type="button" id="remove-{{image.key.id()}}" class="btn btn-danger btn-xs" title="remove" href="#"><span class="glyphicon glyphicon-remove"></span></button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <p>No operating system images configured. Click the <strong>New Image</strong> button below to add a new image.</p>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <button type="button" id="new-image-button" class="btn btn-success">New Image</button>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}





{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";
    
    // show new image modal
    $('#new-image-button').click( function() {
      $("#new-image-modal").modal();
    });
    
    $('div[id^="image-"]').each(function(index){
      image_id = this.id.split("-").pop();
      $('#image-'+image_id).toggles({
        text: {
          on: 'ON',
          off:'OFF',
        },
        on: $(this).hasClass('enabled')
      });
      $('#image-'+image_id).click(function() {
        // button state to enabled 
        enabled = $('#'+this.id).children('.active').length;
        image_id = this.id.split("-").pop();
        console.log(image_id);
        if (enabled == 1) {
          var state_out = "enabled";
        } else {
          var state_out = "disabled";
        }
        $.ajax({
          url: '/admin/images/'+image_id+'/?channel_token='+channel_token,
          type: 'PUT',
          data: {_csrf_token: csrf_token, enable: enabled},
          success: function() {
            alertify.log("Image has been " + state_out +"!", "success");
          }
        });
      });
    });

    // remove buttons
    $('button[id^="remove-"]').each(function(index){
      $('#'+this.id).click(function() {
        image_id = this.id.split("-").pop();
        button_id = '#'+this.id;
        $('#delete').modal();
        $('#delete-button').click(function() {
          $.ajax({
            url: '/admin/images/'+image_id+'/?_csrf_token='+csrf_token+'&channel_token='+channel_token,
            type: 'DELETE'
          });
          $('#delete').modal("hide");
        });
      })
    });
    
    // show new image modal on any errors
    {% if messages|safe %}
      {% for message in messages %}
        {% if message[1] == 'error' %}
          $("#new-image-modal").modal();
        {% endif %}
      {% endfor %}
    {% endif %}

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;
  });
</script>

{% endblock %}
