{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Manage Group :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Remove Group Member</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this member from the group?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="delete-button" class="btn btn-danger">Remove Member</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<!-- hidden invite modal -->
<div id="modal-invite" class="modal fade">
  <div class="modal-dialog">
    <form id="form-new-group" action="{{ url|safe }}members/" method="post" class="form-horizontal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Invite a New Group Member</h4>
        </div>
        <div class="modal-body">
          <p>Enter the email address of the new member to invite.  An email will be sent to this email address.  <strong>Ensure you have a trusted relationship with this user!</strong></p>
          <div class="row form-group">
            <div class="col-md-12">
              <div class="row">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                {{ macros.input(gmform, "email", "Email", "col-xs-10", placeholder="servers@everywhere.com", class="form-control required") }}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="modal-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="modal-invite-button" class="btn btn-success">Invite Group Member</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("groups", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Manage Hybrid Group <strong>{{ group.name }}</strong></small></h2>
            <div class="row">
              <div class="col-md-12">
                {% if num_members < 2 %}
                <div class="bs-callout bs-callout-info bs-callout-top">
                  <h4>Hybrid Group Members</h4>
                  <p><strong>Hybrid Group Members</strong> are users who are members of a private <strong>Hybrid Group</strong>.  Members of this group are able to start <strong>Instances</strong> on <strong>OpenStack Clusters</strong> managed by <strong>Appliances</strong> in this group.  They may also add new appliances to the group.</p>
                  <p>As you are the only one in this group, you should click the <span class="label label-success">Invite Group Member</span> button below to invite a new member!</p>
                </div>
                {% else %}
                <p>The following users are members of this group.  These users are allowed to add appliances to the group or launch instances within the group's existing appliances. These users may also invite other users to the group, but they are not allowed to delete existing members.</p>
                {% if is_admin %}
                <p><strong>Note:</strong> As an admin, you may remove a user from the group by clicking on the <span class="glyphicon glyphicon-remove"></span> button next to their membership entry.</p>
                {% endif %}
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Email</th>
                      <th class="text-center"># Appliances</th>
                      {% if is_admin %}
                      <th>Actions</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for member in members %}
                    <tr>
                      <td>{{ member.username }}</td>
                      <td>{{ member.email }}</td>
                      <td class="text-center">{{ appliance_count[member.key.id()] }}</td>
                      <td>
                      {% if is_admin and member.username != username %}
                        <button type="button" id="remove-{{member.key.id()}}" class="btn btn-danger btn-xs" title="remove" href="#"><span class="glyphicon glyphicon-remove"></span></button>
                      {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button type="submit" id="invite-button" class="btn btn-success">Invite Group Member</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";
  
    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

    // add button
    $('#invite-button').click(function() {
      $('#modal-invite').modal();
    });

    // set focus on input when modal is done showing up
    $('#modal-invite').on('shown.bs.modal', function () {
      $('#email').focus();
    });

    // show create modal on any errors
    {% if messages|safe %}
      {% for message in messages %}
        {% if message[1] == 'error' %}
          $("#modal-invite").modal();
        {% endif %}
      {% endfor %}
    {% endif %}
    
    // remove buttons
    $('button[id^="remove-"]').each(function(index){
      $('#'+this.id).click(function() {
        object_id = this.id.split("-").pop();
        $('#delete').modal();
        $('#delete-button').click(function() {
          $('#delete').modal("hide");  
          $.ajax({
            url: 'members/'+object_id+'/?channel_token='+channel_token+'&_csrf_token='+csrf_token,
            type: 'DELETE'
          });
        });
      })
    });

  });
</script>
{% endblock %}

{% block extras %}
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
{% endblock %}

