{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Manage Group :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden invite modal -->
<div id="modal-invite" class="modal fade">
  <div class="modal-dialog">
    <form id="form-new-group" action="{{ url|safe }}members/" method="post" class="form-horizontal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Invite a New Group Member</h4>
        </div>
        <div class="modal-body">
          <p>Enter the email address of the new member to invite.  An email will be sent to this email address.  <strong>Ensure you have a trusted relationship with this user!</strong></p>
          <div class="row form-group">
            <div class="col-md-12">
              <div class="row">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                {{ macros.input(gmform, "email", "Email", "col-xs-10", placeholder="servers@everywhere.com", class="form-control required") }}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="modal-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="modal-invite-button" class="btn btn-success">Invite Group Member</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("groups") }}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Manage Group <strong>{{ group.name }}</strong></small></h2>
            <div class="row">
              <div class="col-md-10">
                <div class="bs-callout bs-callout-info bs-callout-top">
                  <h4>Inviting Group Members</h4>
                  <p><strong>Group Members</strong> are users who are members of a private <strong>Appliance Group</strong>.  Members of a this group are able to start <strong>Instances</strong> on <strong>OpenStack Clusters</strong> managed by <strong>Appliances</strong> in this group.  They may also add new appliances to the group.</p>
                  <p>Click the <span class="label label-success">Invite Group Member</span> button below to invite a new member to join the group.</p>
                </div>
              </div>
            </div>
            <div class="row">
            	<div class="col-md-4">
            		<button type="submit" id="invite-button" class="btn btn-success">Invite Group Member</button>
          		</div>
          	</div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";
  
    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

    // add button
    $('#invite-button').click(function() {
      $('#modal-invite').modal();
    });

    // show create modal on any errors
    {% if messages|safe %}
      {% for message in messages %}
        {% if message[1] == 'error' %}
          $("#modal-invite").modal();
        {% endif %}
      {% endfor %}
    {% endif %}

  });

</script>
{% endblock %}

{% block extras %}
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
{% endblock %}

