{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Groups :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Remove Hybrid Group</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this hybrid group from your account?  Any appliances in your account using this group will be automatically placed in the <strong>Public</strong> group.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="delete-button" class="btn btn-danger">Remove Hybrid Group</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<!-- hidden create modal -->
<div id="modal-create" class="modal fade">
  <div class="modal-dialog">
    <form id="form-new-group" action="{{ url|safe }}" method="post" class="form-horizontal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create New Hybrid Group</h4>
        </div>
        <div class="modal-body">
          <p>Enter the name for the new hybrid group.</p>
          <div class="row form-group">
            <div class="col-md-12">
              <div class="row">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                {{ macros.input(form, "name", "Name", "col-xs-8", placeholder="My Shibes", class="form-control required") }}
                {{ macros.input(form, "description", "Description", "col-xs-12", placeholder="This is a group going to the Moon.", class="form-control required") }}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="modal-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="modal-create-button" class="btn btn-success">Create Hybrid Group</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end modal -->

<!-- hidden edit modal -->
<div id="modal-edit" class="modal fade">
  <div class="modal-dialog">
    <form id="form-edit-group" action="{{ url|safe }}" method="post" class="form-horizontal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-edit-title">Edit Hybrid Group</h4>
        </div>
        <div class="modal-body">
          <p>Edit the name and description of the group and then click <strong>Save Hybrid Group</strong>.</p>
          <div class="row form-group">
            <div class="col-md-12">
              <div class="row">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                {{ macros.input(form, "name", "Name", "col-xs-8", placeholder="Operations Group", class="form-control required edit") }}
                {{ macros.input(form, "description", "Description", "col-xs-12", placeholder="This is the operations group.", class="form-control required edit") }}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="modal-close-button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="modal-save-button" class="btn btn-success">Save Hybrid Group</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("groups", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Hybrid Groups</small></h2>
            <div class="row">
              <div class="col-md-12">
                {% if not groups %}
                <div class="bs-callout bs-callout-info bs-callout-top">
                  <h4>Appliance Groups</h4>
                  <p><strong>Hybrid Groups</strong> are collections of <strong>Appliances</strong> owned, operated and optionally shared by one or more <strong>Cloud Operators</strong>. Hybrid groups allow operators to limit the sale and trust the use of <strong>Instances</strong> running on their <strong>Private OpenStack Clouds</strong>.</p>
                  <p><strong>Hybrid Groups</strong> can be utilized by <strong>Software Application Vendors</strong> to mangage deployments of their software onto <strong>Cloud Operators</strong>.</p>
                  <p>Click on the <span class="label label-success">Create Hybrid Group</span> button below to create a new hybrid group.</p>
                </div>
                {% else %}
                <p>The following hybrid groups are available for use with this account. These groups may be used with <a href="{{ uri_for('account-clouds') }}">clouds</a> or  <a href="{{ uri_for('account-appliances') }}">appliances</a>.</p>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th class="text-center"># Members</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for group in groups %}
                    <tr>
                      <td><a href="{{ uri_for('account-groups-configure', self.request, group_id=group.key.id()) }}">{{ group.name }}</a></td>
                      <td>{{ group.description }}</td>
                      <td class="text-center">{{ group_count[group.key.id()] }}</td>
                      <td>
                        {% if str(group.owner.id()) == str(user_id) %}
                        <button type="button" id="remove-{{group.key.id()}}" class="btn btn-danger btn-xs" title="Remove Group" href="#"><span class="glyphicon glyphicon-remove"></span></button>
                        <button type="button" data-name="{{ group.name }}" data-description="{{ group.description }}" id="edit-{{group.key.id()}}" class="btn btn-info btn-xs" title="Edit Group" href="#"><span class="glyphicon glyphicon-pencil"></span></button>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <button type="button" id="create-button" class="btn btn-success">Create New Hybrid Group</button>
        </div>
      </div>  
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

    // create button
    $('#create-button').click(function() {
      $('#modal-create').modal();
    });

    // edit buttons
    $('button[id^="edit-"]').each(function(index){
      $('#'+this.id).click(function() {
        group_id = this.id.split("-").pop();
        group_name = $('#'+this.id).attr('data-name');
        group_description = $('#'+this.id).attr('data-description');
        $('#name.edit').val(group_name);
        $('#description.edit').val(group_description);
        $('#form-edit-group').attr('action', "/groups/" + group_id + "/edit/");
        $('#modal-edit-title').html('Editing <em>' + group_name + '</em>');
        $('#modal-edit').modal();
      })
    });

    // remove buttons
    $('button[id^="remove-"]').each(function(index){
      $('#'+this.id).click(function() {
        object_id = this.id.split("-").pop();
        $('#delete').modal();
        $('#delete-button').click(function() {
          $('#delete').modal("hide");  
          $.ajax({
            url: '/groups/'+object_id+'/edit/?channel_token='+channel_token+'&_csrf_token='+csrf_token,
            type: 'DELETE'
          });
        });
      })
    });
    
    // show create modal on any errors
    {% if messages|safe %}
      {% for message in messages %}
        {% if message[1] == 'error' %}
          $("#modal-create").modal();
        {% endif %}
      {% endfor %}
    {% endif %}

  });
</script>

{% endblock %}
