{% extends base_layout %}

<!-- Set Title -->
{% block title %}
  {% trans %}Blog{% endtrans %}
{% endblock %}

{% block rssfeed %}
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/{{ app_feedburner_slug }}/" />
	<link rel="alternate" type="text/xml" title="RSS .92" href="http://feeds.feedburner.com/{{ app_feedburner_slug }}/" />
	<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://feeds.feedburner.com/{{ app_feedburner_slug }}/" />
{% endblock %}

{% block extra_nav %}
	{{ macros.nav_menu('blog', user_id) }}
{% endblock %}

{% block header_title_lead %}
{% endblock %}

{% block content %}
<div class="row blog">
	{% if is_mobile %}
	<div class="span3">
		<a class="twitter-timeline" href="https://twitter.com/stackgeek" data-widget-id="264213994309558272"></a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	{% endif %}
	<div class="span9">
	{% for item in blogposts %}
		<div class="apost">
			<h1 class="postdetail"><a href="/blog/{{ item.article_owner }}/{{ item.article_type }}/{{ item.article_slug }}">{{ item.article_title }}</a></h1>
			<div class="date_social">
    			<div class="date"><span class="label label-important">{{ item.created }}</span></div>
				{% if user_id %}
					{{ macros.fork_gist_widget(item.article_owner, item.article_id) }}
				{% endif %}
				{{ macros.hn_widget("http://%s/blog/%s/%s/%s"%(item.article_host, item.article_owner, item.article_type, item.article_slug), item.article_title) }}
				{{ macros.g_plus_widget("http://%s/blog/%s/%s/%s"%(item.article_host, item.article_owner, item.article_type, item.article_slug)) }}
				{{ macros.tweet_widget("http://%s/blog/%s/%s/%s"%(item.article_host, item.article_owner, item.article_type, item.article_slug), item.article_summary) }}
			</div>
			<p>by <a href="/blog/{{ item.article_owner }}/" rel="author">{{ item.article_author }}</a></p>
			{{ item.article_html }}
			<a class="btn" href="/blog/{{ item.article_owner }}/{{ item.article_type }}/{{ item.article_slug }}#disqus_thread">0 Comments</a>
		</div>
	{% endfor %}
	</div>
	
	{% if not is_mobile %}
	<div class="span3">
        <div class="recent_posts">
          <h3>Recent Posts<a href="http://feeds.feedburner.com/{{ app_feedburner_slug }}"><img class="rss_icon" src="/img/glyphicons_397_rss.png"/></a></h3>
          {% for item in blogposts %}
            <p><a href="{{ 'http://%s/blog/%s/%s/%s' % (item.article_host, item.article_owner, item.article_type, item.article_slug) }}">{{ item.article_title }}</a></p>
            <p class="recent_author">by <a href="#">{{ item.article_owner }}</a>
          {% endfor %}
        </div>		
		<a class="twitter-timeline" href="https://twitter.com/stackgeek" data-widget-id="264213994309558272"></a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<div class="ad_block">
        	{{ macros.google_ads() }}
      	</div>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
var disqus_shortname = 'stackgeek';

(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endblock %}