{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Blog :: {% endblock %}

{% block page_styles %}
  <link href="/css/blog.css" rel="stylesheet">
{% endblock %}

{% block rssfeed %}
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/{{ app_feedburner_slug }}/" />
  <link rel="alternate" type="text/xml" title="RSS .92" href="http://feeds.feedburner.com/{{ app_feedburner_slug }}/" />
  <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://feeds.feedburner.com/{{ app_feedburner_slug }}/" />
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>Blog</h1>
      <p class="blurb">&#8220;I am no poet, but if you think for yourselves, as I proceed, the facts will form a poem in your minds.&#8221; ― Michael Faraday</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      {% for post in blogposts %}
        <div class="row">
        <div class="col-md-1">
          <img height=120% width=120% src="{{ post.article_gravatar_url }}" class="img-rounded avatar" alt="Author Image">
        </div>
          <div class="col-md-3 col-sm-3">
            <span>{{ post.article_created }}</span>
            <div class="article-owner">
              by <strong>{{ post.article_owner }}</strong>
            </div>
          </div>
        </div>
        <div class="post" id="{{ post.article_slug }}">
          {{ post.article_html|safe }}
        </div>
        <a class="btn btn-success btn-comments" href="/blog/{{ post.article_slug }}#disqus_thread">0 Comments</a>
      {% endfor %}
    </div>
    <div class="col-md-3">
      {{ macros.tweet_timeline(twitter_handle, twitter_widget_id) }}
    </div>  
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(window).load(function(){
    // add links to titles (we use markdown for H1s, so yeah)
    $('.post').each(function() {
      article_link = '/blog/'+this.id;
      article_header = $('#'+this.id).find('h1');
      article_header_text = article_header.text();
      article_header.html('<a href="'+article_link+'">'+article_header_text+'</a>');
    });

    var disqus_shortname = '{{disqus_shortname}}';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  });
</script>
{% endblock %}