{% import "macros.html" as macros %}
{% extends base_layout %}

{% block page_styles %}
    <!-- Home Page -->
    <link href="/css/blog.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'site/navbar.html' %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><a href="/blog/">blog</a> / <a href="{{ uri_for("blog-article-list") }}">articles</a> / new</h3>
        <p class="lead">
          Enter a title and summary for your article and then enter the filename to be used as the article source.
        </p>
        <form id="form_edit_profile" action="{{ url|safe }}" method="post" class="well form-horizontal">
          <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "title", "Title", placeholder="Awesome Article", class="input-group-lg focused required") }}
            {{ macros.input(form, "summary", "Summary", placeholder="Article detail things.", class="input-group-lg focused required") }} 
            {{ macros.input(form, "article_type", "Article Type") }}
            <div class="form-actions">
              <button type="submit" class="btn btn-success btn-large">{% trans %}Create{% endtrans %}</button>
            </div>
          </fieldset>
          </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    $().ready(function() {
        $("#articletitle").focus();
    });
    </script>
{% endblock %}

{% block extras %}
{% endblock %}