  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <h4>Site</h4>
              <ul class="unstyled">
                <li>
                  <a href="/login">Sign In</a>
                </li>
                <li>
                  <a href="/projects">Projects</a>
                </li>
                <li>
                  <a href="{{ blog_url }}">Blog</a>
                </li>
                <li>
                  <a href="/sponsor">Sponsor</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4>More Info</h4>
              <ul class="unstyled">
                <li>
                  <a href="/about">About Us</a>
                </li>
                <li>
                  <a href="/privacy">Privacy Policy</a>
                </li>
                <li>
                  <a href="/terms">Terms of Use</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Help</h4>
              <ul class="unstyled">
                <li>
                  <a href="/about/#contact">Contact Us</a>
                </li>
                <li>
                  <a href="/docs">Documentation</a>
                </li>
                <li>
                  <a href="https://github.com/StackMonkey/">View the Code</a>
                </li>
                <li>
                  <a href="https://github.com/StackMonkey/utter-pool/issues">Open a Ticket</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Follow</h4>
                <ul class="unstyled" id="elsewhere-icons">
                  <li>
                    <a class="twitter" href="https://twitter.com/{{ twitter_handle }}" title="Tweet @{{ twitter_handle }} on Twitter">Twitter</a>
                    <a class="googleplus" href="https://plus.google.com/{{ google_plus_handle }}" title="Hangout with {{ app_name }} on Google+">Google Plus</a>
                    <a class="github" href="https://www.github.com/stackmonkey/" title="View code on Github.">Github</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-floor">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="copyright">
              <p>&copy; {{ copyright_date }} {{ copyright_name }} All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>