{# html level #}
  {# body level #}    
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand navbar-logo" href="/"><span class="glyphicon glyphicon-align-justify"></span> {{ app_name }}</a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                <li><a class='{% if "sponor" in path %}active{% endif %}' href='{{ uri_for('sponsor')}}'>Sponsor</a></li>
                <li><a class='{% if "blog" in path %}active{% endif %}' href='{{ blog_url }}'>Blog</a></li>
                <li><a class='{% if "projects" in path %}active{% endif %}' href='/projects/'>Projects</a></li>
                {% if user_id %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="//{{ gravatar_url }}" class="img-circle img-responsive" alt="Author Image" class="img-circle"/>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Account</li>
                    <li><a href="{{ uri_for('account-status') }}">Status</a></li>
                    <li><a href="{{ uri_for('account-projects') }}">Projects</a></li>
                    {% if has_cloud %}
                    <li><a href="{{ uri_for('lab-launcher') }}">Launcher</a></li>
                    <li><a href="{{ uri_for('account-clouds') }}">Clouds</a></li>
                    {% endif %}
                    <li><a href="{{ uri_for('account-wisps') }}">Wisps</a></li>
                    {% if provider %}
                    <li><a href="{{ uri_for('account-appliances') }}">Appliances</a></li>
                    {% endif %}
                    <li><a href="{{ uri_for('account-settings') }}">Settings</a></li>
                    {% if admin %}
                    <li class="divider"></li>
                    <li class="dropdown-header">Content</li>
                    <li><a id="dropdown-new-article" href="{{ uri_for('blog-article-list') }}#new">New</a></li>
                    <li><a href="{{ uri_for('blog-article-list') }}">Manage</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Pool Actions</li>
                    <li><a href="{{ uri_for('admin') }}">Admin</a></li>
                    <li><a target="_blank" href="{{ admin_interface_url }}">AppEngine</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{{ uri_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
                {% elif path != "/login" %}
                <li><button id="nav-login" class="btn btn-success" >Sign In</button></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {# end body level #}
{# end html level #}
