{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Cloud Wisps :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">  
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="modal-delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this wisp? This action cannot be reversed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="modal-delete-button" class="btn btn-danger">Delete Wisp</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("wisps", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Cloud Wisp <strong>{{ wisp.name }}</strong></small></h2>
            <div class="row">
              <div class="col-md-12">
                <div class="bs-callout bs-callout-info bs-callout-top">
                  <h4>Reserve an Instance with {{ wisp.name }}</h4>
                  <p>You may now reserve an instance using this wisp. Any changes you make to the wisp's configuration will not affect running instances.</p>
                  <button type="button" id="launch-button" class="btn btn-info">Reserve Instance</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div class="section-header">
                  <h2><small>Wisp Configuration</small></h2>
                  <form id="form-edit-wisp" action="{{ url|safe }}" method="post" class="form-horizontal">
                    <p>The following values can be edited for this wisp.  Changes to this wisp will only take effect on newly created instances.</p>
                    <div class="row">
                      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                      {{ macros.input(form, "name", "Name", "col-xs-10", placeholder="Awesome Instance Template", class="form-control required") }}
                      {{ macros.input(form, "wisp_type", "Wisp Type", "col-xs-4", class="form-control pulldown") }}
                      <div id="custom-callback" class="col-xs-12 form-padding hidden {% if form.callback_url.errors %}has-error{% endif %}">
                        <div class="row form-group" id="callback_url-field">
                          <div class="col-md-10">
                            {{ form.callback_url.label(class="control-label") }}
                            <div class="input-group">
                              {{ form.callback_url(id="callback_url", placeholder="https://gist.githubusercontent.com/kordless/7c59f33c0659d06948ce/raw/simpleboot.json", class="form-control") }}
                              <span class="input-group-btn">
                                <button id="callback-example-button" class="btn btn-default" type="button">
                                  <span title="Show callback example." class="glyphicon glyphicon-pencil"></span>
                                </button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="custom-callback-hide">                  
                        {{ macros.input(form, "image", "Boot Image", "col-xs-6", class="form-control pulldown") }}
                        <div id="dynamic-image" class="hidden">
                          {{ macros.input(form, "dynamic_image_url", "Dynamic Image URL", "col-xs-10", placeholder="http://example.com/myfavoriteimage.img", class="form-control") }}
                        </div>
                        <div id="image-disk-format" class="hidden">
                          {{ macros.input(form, "image_disk_format", "Image Disk Format", "col-xs-5", value="qcow2", class="form-control") }}
                        </div>
                        <div id="image-container-format" class="hidden">
                          {{ macros.input(form, "image_container_format", "Image Container Format", "col-xs-5", value="bare", class="form-control") }}
                        </div>
                      </div>
                      <div id="custom-project-hide" class="hidden">
                        {{ macros.input(form, "project", "Project", "col-xs-6", class="form-control pulldown") }}
                      </div>
                      <div id="custom-ssh-hide">
                        {{ macros.input(form, "ssh_key", "Authorized SSH Keys", "col-xs-10", class="form-control form-ssh-key", rows=6, placeholder="ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAklOUpkDHrfHY17SbrmTIpNLTGK9Tjom/BWDSUGPl+nafzlHDTYW7hdI4yZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4h9lFX5QVkbPppSwg0cda3Pbv7kOdJ/MTyBlWXFCR+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XAt3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/EnmZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbxNrRFi9wrf+M7Q== anonymous@bitcoin.local") }}
                      </div>
                      <div id="custom-config-hide">
                        {{ macros.input(form, "post_creation", "Cloud Configuration <a target='_blank' href='http://cloudinit.readthedocs.org/en/latest/topics/examples.html'>?</a>", "col-xs-10", class="form-control", rows=8, placeholder="#cloud-config") }}
                      </div>
                      <div class="col-xs-10 form-padding">
                        <label class="control-label" for="default">Default Wisp</label>
                        <input class="form-control" id="default" name="default" type="checkbox" {% if form.default.data %}checked{% endif %}>
                      </div>
                    </div>
                    
                    <button type="submit" id="create-button" class="btn btn-success">Save Wisp</button>
                    <button type="button" id="delete-button" class="btn btn-danger">Delete Wisp</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;
    
    // callback example
    $("#callback-example-button").click(function() {
      window.open("https://gist.github.com/kordless/7b496134997d233f2664#file-callback-json");
    });

    // configure form to show the right fields for custom settings
    if ($('#wisp_type option:selected').val() == "custom") {
      $('#custom-callback').removeClass('hidden');
      $('#custom-callback-hide').addClass('hidden');
      $('#custom-project-hide').addClass('hidden');
      $('#custom-config-hide').addClass('hidden');
      $('#custom-ssh-hide').addClass('hidden');
    }
    // configure form to show fields for project type
    if ($('#wisp_type option:selected').val() == "project") {
      $('#custom-callback-hide').addClass('hidden');
      $('#custom-callback').addClass('hidden');
      $('#custom-config-hide').addClass('hidden');
      $('#custom-project-hide').removeClass('hidden');
    }
    if ($('#image option:selected').val() == "custom") {
      $('#dynamic-image').removeClass('hidden');
      $('#image-disk-format').removeClass('hidden');
      $('#image-container-format').removeClass('hidden');
    }

    // show custom image input if selected
    $('#image').change(function() {
      if ($('#image option:selected').val() == "custom") {
        $('#dynamic-image').removeClass('hidden');
        $('#image-disk-format').removeClass('hidden');
        $('#image-container-format').removeClass('hidden');
      } else {
        $('#image-disk-format').addClass('hidden');
        $('#image-container-format').addClass('hidden');
        $('#dynamic-image').addClass('hidden');
        $('#dynamic_image_url').val('');
      }
    });

    // show custom callback input and hide others
    $('#wisp_type').change(function() {
      if ($('#wisp_type option:selected').val() == "custom") {
        $('#custom-callback').removeClass('hidden');
        $('#custom-callback-hide').addClass('hidden');
        $('#custom-config-hide').addClass('hidden');
        $('#custom-ssh-hide').addClass('hidden');
        $('#custom-project-hide').addClass('hidden');
      } else if ($('#wisp_type option:selected').val() == "project") {
        $('#custom-callback-hide').addClass('hidden');
        $('#custom-callback').addClass('hidden');
        $('#custom-config-hide').addClass('hidden');
        $('#custom-ssh-hide').removeClass('hidden');
        $('#custom-project-hide').removeClass('hidden');
      } else {
        $('#custom_callback_url').val('');
        $('#custom-callback').addClass('hidden');
        $('#custom-callback-hide').removeClass('hidden');
        $('#custom-project-hide').addClass('hidden');
        $('#custom-config-hide').removeClass('hidden');
        $('#custom-ssh-hide').removeClass('hidden');
      }
    });

    // remove wisp button
    $('#delete-button').click(function() {
      $('#modal-delete').modal();
      $('#modal-delete-button').click(function() {
        $('#modal-delete').modal("hide");
        $.ajax({
          url: '?_csrf_token='+csrf_token+'&channel_token='+channel_token,
          type: 'DELETE'
        });
      });
    });
  });

</script>
{% endblock %}

