{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Cloud Wisps :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="modal-delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this wisp? This action cannot be reversed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="modal-delete-button" class="btn btn-danger">Delete Wisp</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("wisps", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Cloud Wisps</small></h2>
            <div class="row">
              <div class="col-md-12">
                <p>These wisps are available for use when starting instances. If you need to rename a wisp, use the <strong>name link</strong> to edit.  Use <span class="glyphicon glyphicon-remove"></span> to delete the wisp.</p>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>  
                      <th>Boot Image</th>
                      <th>Public SSH Key</th>
                      <th class="text-center">Default</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for wisp in wisps %}
                    <tr>
                      <td><a href="{{ uri_for('account-wisps-detail', self.request, wisp_id=wisp.key.id()) }}">{{ wisp.name }}</a></td>
                      <td>{% if wisp.callback_url %}Custom{% elif wisp.project %}Project{% else %}Stock{% endif %}</td>
                      <td>{% if wisp.image %}{{ wisp.image.get().description|truncate(32, killwords=True) }}{% elif wisp.project %}{{ wisp.project.get().image.get().description }}{% elif wisp.callback_url %}Custom Callback{% elif wisp.dynamic_image_url %}<a href="{{ wisp.dynamic_image_url }}">{{ wisp.dynamic_image_url }}</a>{% endif %}</td>
                      <td class="form-ssh-key">{% if wisp.ssh_key %}{{ wisp.ssh_key|truncate(32, killwords=True) }}{% endif %}</td>
                      <td class="text-center">{% if wisp.default %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                      <td>
                        <button type="button" id="remove-{{wisp.key.id()}}" class="btn btn-danger btn-xs" title="Remove Wisp" href="#"><span class="glyphicon glyphicon-remove"></span></button>
                        <button type="button" id="launch-{{wisp.key.id()}}" class="btn btn-info btn-xs" title="Reserve Instance" href="#"><span class="glyphicon glyphicon-cloud"></span></button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <button type="button" id="new-wisp-button" class="btn btn-success">New Wisp</button>
        </div>
      </div>  
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

    // create new wisp button
    $('#new-wisp-button').click( function() {
      window.location = "{{ uri_for('account-wisps-new') }}"
    });

    // remove wisp buttons
    $('button[id^="remove-"]').each(function(index){
      $('#'+this.id).click(function() {
        object_id = this.id.split("-").pop();
        button_id = '#'+this.id;
        $('#modal-delete').modal();
        $('#modal-delete-button').click(function() {
          $('#modal-delete').modal("hide");
          $.ajax({
            url: '/wisps/'+object_id+'/edit/?_csrf_token='+csrf_token+'&channel_token='+channel_token,
            type: 'DELETE'
          });
        });
      })
    });
  });

</script>
{% endblock %}

