{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Cloud Wisps :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("wisps", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Create a <strong>New Wisp</strong></small></h2>
            <div class="row">
              <div class="col-md-12">
                <div class="bs-callout bs-callout-info bs-callout-top">
                  <h4>Cloud Wisps</h4>
                  <p><strong>Cloud Wisps</strong> are used by the <strong>Utter.io Intercloud</strong> to provision and start instances when you make payments to an instance reservation.</p>
                  <p>Wisps provide <strong>SSH Keys</strong> and <a target="_blank" href="http://cloudinit.readthedocs.org/en/latest/"><strong>Cloud Configuration</strong></a> settings to <strong>Instances</strong> after a callback request is made from an <strong>Intercloud Appliance</strong>. Appliances make these callbacks immediately after they observe payments on the Bitcoin blockchain and just before they provision an instance.</p>
                  <p>The system supports three different types of wisps: <strong>Stock Wisps</strong> allow you to define an image, SSH key and cloud configuration which will be served  by {{ app_name }} to the appliance booting the instance. <strong>Project Wisps</strong> allow you to use scripts hosted by <a href="{{ uri_for('projects') }}">Github projects</a> which are proxied to the appliance by {{ app_name }}. <strong>Custom Wisps</strong> will cause {{ app_name }} to 'bounce' the provisioning request to a remote server you control, which replies directly to the appliance with provisioning details.</p>
                  <p><strong>Note: </strong> Custom wisps can be used to increase instance anonymity and prevent sensitive provisioning content, like private keys, from being viewed by others.</p>
                </div>
                <form id="form-new-wisp" action="{{ url|safe }}" method="post" class="form-horizontal">
                  <div class="row">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    {{ macros.input(form, "name", "Name", "col-xs-10", placeholder="Awesome Instance Template", class="form-control required") }}
                    {{ macros.input(form, "wisp_type", "Wisp Type", "col-xs-4", class="form-control pulldown") }}
                    <div id="custom-callback" class="col-xs-10 form-padding hidden {% if form.callback_url.errors %}has-error{% endif %}">
                      <div class="row form-group" id="callback_url-field">
                        <div class="col-md-12">
                          {{ form.callback_url.label(class="control-label") }}
                          <div class="input-group">
                            {{ form.callback_url(value="", id="callback_url", placeholder="https://gist.githubusercontent.com/kordless/7c59f33c0659d06948ce/raw/simpleboot.json", class="form-control") }}
                            <span class="input-group-btn">
                              <button id="callback-example-button" class="btn btn-default" type="button">
                                <span title="Show callback example." class="glyphicon glyphicon-pencil"></span>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="custom-callback-hide">
                      {{ macros.input(form, "image", "Boot Image", "col-xs-6", class="form-control pulldown") }}
                      <div id="dynamic-image" class="hidden">
                        {{ macros.input(form, "dynamic_image_url", "Dynamic Image URL", "col-xs-10", placeholder="http://example.com/myfavoriteimage.img", class="form-control") }}
                      </div>
                      <div id="image-disk-format" class="hidden">
                        {{ macros.input(form, "image_disk_format", "Image Disk Format", "col-xs-5", value="qcow2", class="form-control") }}
                      </div>
                      <div id="image-container-format" class="hidden">
                        {{ macros.input(form, "image_container_format", "Image Container Format", "col-xs-5", value="bare", class="form-control") }}
                      </div>
                    </div>
                    <div id="custom-project-hide" class="hidden">
                      {{ macros.input(form, "project", "Project", "col-xs-6", class="form-control pulldown") }}
                    </div>
                    <div id="custom-ssh-hide">
                      {{ macros.input(form, "ssh_key", "Authorized SSH Keys", "col-xs-10", class="form-control form-ssh-key", rows=6, placeholder="ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAklOUpkDHrfHY17SbrmTIpNLTGK9Tjom/BWDSUGPl+nafzlHDTYW7hdI4yZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4h9lFX5QVkbPppSwg0cda3Pbv7kOdJ/MTyBlWXFCR+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XAt3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/EnmZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbxNrRFi9wrf+M7Q== anonymous@bitcoin.local") }}
                    </div>
                    <div id="custom-config-hide">
                      {{ macros.input(form, "post_creation", "Cloud Configuration <a target='_blank' href='http://cloudinit.readthedocs.org/en/latest/topics/examples.html'>?</a>", "col-xs-10", class="form-control", rows=8, placeholder="#cloud-config") }}
                    </div>
                    <div class="col-xs-10 form-padding">
                      <label class="control-label" for="default">Default Wisp</label>
                      <input class="form-control" id="default" name="default" type="checkbox">
                    </div>
                  </div>
                  <button type="submit" id="create-button" class="btn btn-success">Create Wisp</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";

    // callback example
    $("#callback-example-button").click(function() {
      window.open("https://gist.github.com/kordless/7b496134997d233f2664#file-callback-json");
    });

    // focus the name input field
    $('#name').focus();

    // show custom callback input and hide others
    $('#wisp_type').change(function() {
      if ($('#wisp_type option:selected').val() == "custom") {
        $('#custom-callback').removeClass('hidden');
        $('#custom-callback-hide').addClass('hidden');
        $('#custom-config-hide').addClass('hidden');
        $('#custom-ssh-hide').addClass('hidden');
        $('#custom-project-hide').addClass('hidden');
      } else if ($('#wisp_type option:selected').val() == "project") {
        $('#custom-callback-hide').addClass('hidden');
        $('#custom-callback').addClass('hidden');
        $('#custom-config-hide').addClass('hidden');
        $('#custom-ssh-hide').removeClass('hidden');
        $('#custom-project-hide').removeClass('hidden');
      } else {
        $('#custom_callback_url').val('');
        $('#custom-callback').addClass('hidden');
        $('#custom-callback-hide').removeClass('hidden');
        $('#custom-project-hide').addClass('hidden');
        $('#custom-config-hide').removeClass('hidden');
      }
    });

    // show custom image input if selected
    $('#image').change(function() {
      if ($('#image option:selected').val() == "custom") {
        $('#dynamic-image').removeClass('hidden');
        $('#image-disk-format').removeClass('hidden');
        $('#image-container-format').removeClass('hidden');
      } else {
        $('#dynamic-image').addClass('hidden');
        $('#image-disk-format').addClass('hidden');
        $('#image-container-format').addClass('hidden');
        $('#custom-config-hide').addClass('hidden');
        $('#dynamic_image_url').val('');
        $('#image_disk_format').val('');
        $('#image_container_format').val('');
      }
    });
  });

</script>
{% endblock %}

