{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Projects :: {{ project.name }} :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" >Confirm Removal</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this project from your account?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="confirm-remove-button" class="btn btn-danger">Remove Project</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("projects", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="section-header">
        <h2><small>Project <strong>{{ project.name }}</strong></small></h2>
      </div>
      {% if not project.is_configured() %}
      <div class="row">
        <div class="col-md-12">
          <div class="bs-callout bs-callout-danger bs-callout-top">
            <h4>Step #1: Modify the Project's Repository</h4>
            <p>This project's <a target="_blank" href="{{ project.url }}">repository</a> needs to be configured to allow {{ app_name }} to start instances for its users. Use the following commands to add the <em>utterio</em> directory structure to this repository:</p>
            <div class="row">
              <div class="col-md-8">
<pre>
git clone {{ project.url }}
cd {{ project.repo_name }}
curl -L http://goo.gl/SValjx > utterio.tar.gz
tar xvfz utterio.tar.gz
mv gist* utterio
rm utterio.tar.gz
git add .
git commit -m 'adding utter.io cloud capabilities'
git push
</pre>
              </div>
            </div>
            <p>Once you are done adding the directory to your repository, click the <strong>Sync Project w/Github</strong> button below. If the files necessary for configuration are present in the repository, this warning message will disappear.</p>
            <button type="button" id="refresh-button" class="btn btn-info">Sync Project w/Github</button>
          </div>
        </div>
      </div>
      {% elif not project.address > "" %}
      <div class="row">
        <div class="col-md-12">
          <div class="bs-callout bs-callout-warning bs-callout-top">
            <h4>Step #2: Setup Payment Address</h4>
            <p>Before you publish, you'll need to enter a Bitcoin payment address which will be used to send launch donations to your project. You will also need to pick a suggested donation percentage, which will be used to calculate the cost of the instance donation shown to the user.</p>
          </div>
        </div>
      </div>
      {% elif not project.public %}
      <div class="row">
        <div class="col-md-12">
          <div class="bs-callout bs-callout-info bs-callout-top">
            <h4>Step #3: Edit Files & Enable</h4>
            <p>The following project's configuration files have been located and loaded into {{ app_name }}:</p>
            <div>
            <ul>
              <li><a target="_blank" href="{{ project.readme_link }}">README.md</a></li>
              <li><a target="_blank" href="{{ project.json_link }}">utterio.json</a></li>
              <li><a target="_blank" href="{{ project.install_link }}">install.sh</a></li>
              <li><a target="_blank" href="{{ project.icon_link }}">icon.png</a></li>
            <ul>
            </div>
            <p>Please edit the <strong>utterio.json</strong> and <strong>install.sh</strong> files to match your repository's deployment flow</strong>. Update the <strong>icon.png</strong> file with a <strong>200px by 200px</strong> PNG image with a <strong>transparent or solid colored background</strong> for best results. You may also want to edit the <strong>README.md</strong> file, which will be show to the user while deploying an instance of your project.</p> 
            <p>Once you edit and commit the files to your repository, you may click the <strong>Sync Project w/Github</strong> button to sync the updated files to the site. Once you've done a sync, click the slider below to publish the project.</p>
            <button type="button" id="refresh-button" class="btn btn-info">Sync Project w/Github</button>
          </div>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-md-12">
          <div class="bs-callout bs-callout-success bs-callout-top">
            <div class="toggle-help-badge hidden">
              <h4>Step #4: Add the Badge</h4>
              <p>Congratulations! Your project is ready to start serving instances. It's time to add a badge to your main <strong>README file</strong>.</p>
              <p>Use the following markdown to add the badge to your README file:</strong>
              <div class="row">
                <div class="col-md-8">
                <p><img src="https://img.shields.io/badge/stackmonkey-deploy%20an%20instance-green.svg?style=flat-square"></p>
<pre>
[![Deploy with {{ app_name }}](https://img.shields.io/badge/stackmonkey-deploy%20an%20instance-green.svg?style=flat-square)](https://www.stackmonkey.com/projects/)
</pre>
                </div>
              </div>

              <p>To change the color and style of the button please refer to the <a target="_blank" href="http://shields.io">shields.io</a> site.</p>
              <button type="button" id="hide-help-button" class="btn btn-success">I'm Finished!</button>
            </div>
            <div class="toggle-help-done hidden">
              <h4>Remember, Maintenance is Important!</h4>
              <p>Your project is now serving instances, so be sure to keep your project's deployment scripts up-to-date and test them often! The more users that successfully launch instances, the more donations your project will receive.</p>
              <p><a id="badge-code-link" href="#">View Badge Code</a></p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if project.is_configured() and project.address > "" %}
      <div class="row">
        <div class="col-md-10">
          <div class="section-header">
            <h2><small>Preview & Publish</small></h2>
          </div>
          <div class="row">
            <a href="{{ uri_for('account-projects-view', project_id=project.key.id()) }}">
              <div class="col-md-5">
                <ul class="demos">
                  <li id="demo" class="software">
                    <b>{{ project.name }}</b>
                    <span><img src="{{ project.icon_url }}"></span>
                    <span class="mask"></span>
                  </li>
                </ul>
              </div>
            </a>
            <div class="col-md-6">
              <div class="toggle-modern">
                <p id="publish-state"></p>
                <div class="toggle-modern">
                  <div id="publish-slider" class="toggle {% if project.public %}enabled{% endif %}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="col-md-10">
          <form id="form-project" action="{{ url|safe }}" method="post" class="">
            
            <div class="section-header">
              <h2><small>Project Profile</small></h2>
              <p>The following profile information will be used to display the project's instance page. {% if not project.address %}Before you can publish the repository, you'll need to update its payment address so we can send you payments as instances are launched by users.{% else %} The payment address will be used to pay the project and the suggested donation percentage will be used to calculate the instance price shown to the end user.{% endif %}</p>
            </div>
            <div class="row">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              {{ macros.input(form, "name", "Project Name", "col-xs-6", placeholder="Github Project", class="form-control required") }}
              {{ macros.input(form, "description", "Description", "col-xs-10", placeholder="Description for the Github project.", class="form-control required") }}
            {% if not project.is_configured() %}
            <div class="hidden">
            {% endif %}
              {{ macros.input(form, "address", "Send Payments to Address", "col-xs-5", placeholder="1JT1mQS74Ub8jyxQ81aKEeoyudSRX8RJTA", class="form-control required") }}
              {{ macros.input(form, "amount", "Suggested Donation Percentage <a href=''>?</a> ", "col-xs-4", class="form-control required") }}
            {% if not project.is_configured() %}
            </div>
            {% endif %}
            </div>

            {% if not project.is_configured() %}
            <div class="hidden">
            {% endif %}
            <div class="section-header">
              <h2><small>Instance Specifications</small></h2>
              <p>The settings below specify the minimum system requirements for launching your project on an instance. When users are presented with the launch view, we'll use these settings to recommend a flavor which can handle the requirements you specify here. Remember, if you specify a dynamic image URL the image must be <a href="http://docs.openstack.org/image-guide/content/ch_obtaining_images.html">capable of running on OpenStack</a> and support the <a href="https://cloudinit.readthedocs.org/en/latest/">cloud-init  configuration framework</a>!</p>
            </div>

            <div class="row">
              {{ macros.input(form, "vpus", "Minimum VPUs", "col-xs-4", class="form-control pulldown") }}
              {{ macros.input(form, "memory", "Minimum Memory", "col-xs-4", class="form-control pulldown") }}
              {{ macros.input(form, "disk", "Minimum Disk", "col-xs-4", class="form-control pulldown") }}
              {{ macros.input(form, "image", "Disk Image", "col-xs-8", class="form-control pulldown") }}
              <div id="dynamic-image" class="hidden">
                {{ macros.input(form, "dynamic_image_url", "Dynamic Image URL", "col-xs-10", placeholder="http://example.com/myfavoriteimage.img", class="form-control") }}
                {{ macros.input(form, "dynamic_image_name", "Dynamic Image Name", "col-xs-10", placeholder="Ubuntu Utopic 14.10", class="form-control")}}
              </div>
            </div>
            <div class="section-header">
              <h2><small>Instance Access</small></h2>
              <p>The following fields will be used to format instance access information for the user after launch.</p>
            </div>
            <div class="row">
              {{ macros.input(form, "port", "Web Access Port", "col-xs-4", placeholder="80", class="form-control") }}
            </div>
            {% if not project.is_configured() %}
            </div>
            {% endif %}

            <div class="controls">
              <button type="submit" id="save-button" class="btn btn-success">Save Project</button>
              {% if project.public %}
              <button type="button" id="refresh-button" class="btn btn-info">Sync Project w/Github</button>
              {% endif %}
              <button type="button" id="remove-button" class="btn btn-danger">Remove Project</button>
            </div>
          </form>
        </div>
      </div>
    
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";
  
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    // publish slider
    $('#publish-slider').toggles({
      on: $('#publish-slider').hasClass('enabled')
    });

    // states
    var public_state_enabled = "This project is live and serving instances.";
    var public_state_disabled = "This project is currently disabled. Use the slider below to enable."

    // set initial state
    $('#publish-state').html({% if project.public %}public_state_enabled{% else %}public_state_disabled{% endif %});

    // make calls to publish/private the project
    $('#publish-slider').on('toggle', function (e, active) {
      var action = "";
      if (active) {
        action = "public";
        $('#publish-state').html(public_state_enabled);
      } else {
        action = "private";
        $('#publish-state').html(public_state_disabled);
      }
      $.ajax({
        url: '/projects/'+{{ project.key.id() }}+'/'+action+'/?_csrf_token='+csrf_token+'&channel_token='+channel_token,
        type: 'GET'
      });
    });

    // confirm remove
    $('#refresh-button').click(function() {
      $.ajax({
        url: '/projects/'+{{ project.key.id() }}+'/refresh/?_csrf_token='+csrf_token+'&channel_token='+channel_token,
        type: 'GET'
      });
    });

    // remove project modal
    $('#remove-button').click(function() {
      $('#delete').modal();
    });

    // confirm remove
    $('#confirm-remove-button').click(function() {
      $('#delete').modal("hide");
      $.ajax({
        url: '/projects/'+{{ project.key.id() }}+'/edit/?_csrf_token='+csrf_token+'&channel_token='+channel_token,
        type: 'DELETE'
      });
    });

    // hide help section
    $('#hide-help-button').click(function() {
      $.cookie('project-edit-help', 'hide', { expires: 3650, path: '/' });
      $('.toggle-help-badge').addClass('hidden');
      $('.toggle-help-done').removeClass('hidden');
    });
    if ($.cookie('project-edit-help') == 'hide') {
      $('.toggle-help-badge').addClass('hidden');
      $('.toggle-help-done').removeClass('hidden');
    } else {
      $('.toggle-help-badge').removeClass('hidden');
      $('.toggle-help-done').addClass('hidden');
    }
    $('#badge-code-link').click(function() {
      $.cookie('project-edit-help', 'show', { expires: 3650, path: '/' });
      $('.toggle-help-badge').removeClass('hidden');
      $('.toggle-help-done').addClass('hidden');
    });

    // show custom image input if selected
    $('#image').change(function() {
      if ($('#image option:selected').val() == "custom") {
        $('#dynamic-image').removeClass('hidden');
      } else {
        $('#dynamic-image').addClass('hidden');
        $('#dynamic_image_url').val('');
      }
    });

    {% if project.vpus %}
    // hack the pulldowns for the correct values, if they are set
    $('#vpus').val("{{ project.vpus }}");
    $('#mem').val("{{ project.mem }}");
    $('#disk').val("{{ project.disk }}");
    $('#amount').val("{{ project.amount }}");
    $('#image').val("{{ project.image.get().key.id() }}");
    {% endif %}

    // show image URL entry if set to dynamic
    if ($('#image option:selected').val() == "custom") {
      $('#dynamic-image').removeClass('hidden');
    }

    // listen to our refresh channel for page reload
    onMessage = function() {
      window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;
  });

</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <script type='text/javascript' src='/js/jquery.cookie.js'></script>
  <script type="text/javascript" src="/js/jquery.qrcode.js"></script>
  <script type="text/javascript" src="/js/qrcode.js"></script>
  <script type="text/javascript" src="/js/toggles.js"></script>
{% endblock %}

