{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Projects :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("projects", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Add a <strong>New Project</strong></small></h2>
            <div class="row">
              <div class="col-md-12">
                <div class="bs-callout bs-callout-info bs-callout-top">
                  <h4>Adding New Projects</h4>
                  <p><strong>Projects</strong> are software repositories hosted on <strong>Github</strong> which are used by the system to create <strong>Wisps</strong> for users. <strong>Wisps</strong> are scripts used by <strong>Appliances</strong> to launch <strong>Instances</strong> with the deployed project after noting a payment to a given <strong>Bitcoin Address</strong>.</p>
                  <p>To create a new project, paste the URL of a <strong>Public Repository</strong> below and then click <span class="label label-success">Add Project</span>.</p>

                  <p>Alternately, a new project can be added by placing a launcher badge at the top of the application's README.md file and then clicking on it from Github:</p>
              
                  <div class="row">
                    <div class="col-md-8">
<pre>
[![Deploy with {{ app_name }}](https://img.shields.io/badge/stackmonkey-deploy%20an%20instance-green.svg?style=flat-square)]({{ website_url }}projects/)
</pre>
                    </div>
                  </div>
                  <p><img src="https://img.shields.io/badge/stackmonkey-deploy%20an%20instance-green.svg?style=flat-square"></p>
                  <p>You may change the color and style of the button by referring to the <a href="http://shields.io">shields.io site</a>.</p>
                </div>
                <form id="form-new-app" action="{{ url|safe }}" method="post" class="form-horizontal">
                  <div class="row">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    {{ macros.input(form, "url", "Repository URL", "col-xs-10", placeholder="https://www.github.com/kordless/utter-application", class="form-control required") }}
                  </div>
                  <button type="submit" id="create-button" class="btn btn-success">Add Project</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // listen to our refresh channel for page reload
    onMessage = function() {
        window.location.reload();
    };
    channel = new goog.appengine.Channel(refresh_channel);
    socket = channel.open();
    socket.onmessage = onMessage;

    // focus the name input field
    $('#name').focus();

  });

</script>
{% endblock %}

