{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Projects :: {{ project.name }} {% endblock %}

{% block description %}Let's launch {{ project.name }}.{% endblock %}

{% block page_styles %}
  <link href="/css/demo.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <div class="logo col-md-1">
        <img src="{{ project.icon_url }}">
      </div>
      <div class="col-md-10">
        <h1>{{ project.name }}</h1>
        <p class="blurb">{{ project.description }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {% if plenty %}
    <div class="col-md-10">
      <h3 id="step">Step #1: Reserve Your Instance</h3>
      <p>Select the provider and flavor you would like to launch this instance on and then click <strong>Reserve Instance</strong> to locate and reserve an instance for payment. If you would like shell access to the instance after it starts, please paste a <strong>public SSH key</strong> in the field below.</p>
      {% if not user_id %}
      <p>An account is not necessary to launch an instance, but <a href="/login/?next={{ url|safe }}">linking a Google account</a> can make it easier to find it later.</p>
      {% endif %}
      <form id="form-project" action="{{ url|safe }}" method="post" class=""> 
        <div class="row form-group">
          <div class="col-md-12"> 
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              <div class="row">
                {{ macros.input(form, "provider", "Cloud Provider", "col-xs-6", class="form-control pulldown") }}
              </div>
              <div class="row">
                {{ macros.input(form, "flavor", "Flavor", "col-xs-8", class="form-control pulldown") }}
              </div>
              <div class="row">
                {{ macros.input(form, "ssh_key", "Public SSH Key (optional)", "col-xs-12", class="form-control form-ssh-key", rows=4, placeholder="ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAklOUpkDHrfHY17SbrmTIpNLTGK9Tjom/BWDSUGPl+nafzlHDTYW7hdI4yZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4h9lFX5QVkbPppSwg0cda3Pbv7kOdJ/MTyBlWXFCR+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XAt3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/EnmZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbxNrRFi9wrf+M7Q== anonymous@bitcoin.local") }}
              </div>
          </div>
        </div>
        <div class="launch-buttons">
          <button type="submit" id="launch-button" class="btn btn-success">Reserve Instance</button>
          {% if owner %}
          <button type="button" id="edit-button" class="btn btn-info">Edit Project</button>
          {% endif %}
        </div>
      </form>
    </div>
    {% else %}
    <div class="col-md-10">
      <h3 id="step">Step #1: Reserve Your Instance</h3>
      <div class="bs-callout bs-callout-danger bs-callout-top">
        <h4>Project Instance Unavailable</h4>
        <p>A search for a minimum flavor size required by this project resulted in zero matches from inside the Intercloud. The minimum instance size required for this project is <strong>{{ project.memory }}MB of RAM, {{ project.vpus }} VPUs, and {{ project.disk }}GB of disk.</strong></p>
        <p>This can be due to limited public instance resource availablity or a failure of an Intercloud appliance which previously supported this project. You may try again later, <a href="{{ uri_for('account-appliances-new')}}">add your own cluster</a>, or contact the project maintainer by visiting the <a href="{{ project.url }}">project's Github page</a>.</p>
        <p>The StackMonkey admins have been notified of this event.</p>
      </div>
      <div class="launch-buttons">
        <button type="button" id="public-projects" class="btn btn-success">View Other Projects</button>
        {% if owner %}
        <button type="button" id="edit-button" class="btn btn-info">Edit Project</button>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>

  <script type="text/javascript">
    $().ready(function() {
      // list of provider's various flavors which match project specs
      {#
      // the {{ providers }} object is safe because the appliance name, the only
      // user editable item in this object, is stripped when it is submitted by the 
      // user during POST creation and update in appliancehandlers.py
      #}
      var providers = {{ providers|safe }};

      // function to update flavor pulldown
      var update_pulldowns = function() {
        // grab provider ID
        var provider = $("#provider option:selected").val();
        
        // empty the flavor pulldown  
        $('#flavor').empty();

        {% if plenty %}
        // loop through the flavors
        $.each( providers[provider].flavors, function(index, flavor) {
          // update the flavor pulldown
          $("<option />", {
            val: flavor.id,
            text: flavor.description
          }).appendTo('#flavor');
        });
        {% endif %}
      }

      // run first page view
      update_pulldowns();

      // run when provider is changed
      $("#provider").change(function () {
        update_pulldowns();
      }); 

      // other projects
      $('#public-projects').click(function() {
        window.location = "{{ uri_for('projects') }}";
      });

      // edit, if possible
      $('#edit-button').click(function() {
        window.location = "edit/";
      });

    });
  </script>
{% endblock %}