{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Projects :: {{ project.name }} {% endblock %}

{% block description %}Let's launch {{ project.name }}.{% endblock %}

{% block page_styles %}
  <link href="/css/demo.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <div class="logo col-md-1">
        {% if project.icon_url %}
        <img src="{{ project.icon_url }}">
        {% else %}
        <img src="/img/site/tldr.png">
        {% endif %}
      </div>
      <div class="col-md-10">
        <h1>{{ project.name }}</h1>
        <p class="blurb">{{ project.description }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {% if not project.is_configured() %}
    <div class="col-md-10">
      <h3 id="step">Step #1: Reserve Your Instance</h3>
      <div class="bs-callout bs-callout-danger bs-callout-top">
        <h4>Project Not Configured</h4>
        <p>It is unfortunate it has come to this, you here, looking at these words. The best suggestion, assuming you are the project owner, is to go back and follow the instructions on the <a href="edit/">edit project</a> page and then try coming back to see if it works!</p>
        <p>If you've put the launch instance badge on your project, please be aware that your users will be shown this message as well.</p>
      </div>
      <div class="launch-buttons">
        <button type="button" id="public-projects" class="btn btn-success">View Other Projects</button>
        {% if owner %}
        <button type="button" id="edit-button" class="btn btn-info">Edit Project</button>
        {% endif %}
      </div>
    </div>
    {% elif not plenty %}
    <div class="col-md-10">
      <h3 id="step">Step #1: Reserve Your Instance</h3>
      <div class="bs-callout bs-callout-danger bs-callout-top">
        <h4>Project Instance Unavailable</h4>
        <p>A search for a minimum flavor size required by this project resulted in zero matches from inside the Intercloud. The minimum instance size required for this project is <strong>{{ project.memory }}MB of RAM, {{ project.vpus }} VPUs, and {{ project.disk }}GB of disk.</strong></p>
        <p>This can be due to limited public instance resource availablity or a failure of an Intercloud appliance which previously supported this project. You may try again later, <a href="{{ uri_for('account-appliances-new')}}">add your own cluster</a>, or contact the project maintainer by visiting the <a href="{{ project.url }}">project's Github page</a>.</p>
        <p>The StackMonkey admins have been notified of this event.</p>
      </div>
      <div class="launch-buttons">
        <button type="button" id="public-projects" class="btn btn-success">View Other Projects</button>
        {% if owner %}
        <button type="button" id="edit-button" class="btn btn-info">Edit Project</button>
        {% endif %}
      </div>
    </div>
    {% else %}
    <div class="col-md-10">
      <h3 id="step">Step #1: Reserve Your Instance</h3>
      <div id="help" class="bs-callout bs-callout-info bs-callout-top hidden">
        <h4>Howdy Partner!</h4>
        <p>{{ app_name }} is a Bitcoin powered deployment tool for supporting and trying out Open Source software. When you click <strong>Reserve Instance</strong> at the bottom of the page, a Bitcoin address and the cost for starting the instance will be shown. When you make a payment to that address, an instance running the project's software will be started on the provider you select below.</p>
        <p>In most cases, instance payments are shared with the Open Source project's maintainers. The maintainers choose the percentages they charge above and beyond the provider's charge for launching and running the instance.</p>
        {% if not user_id %}
        <p>An account is not necessary to launch an instance, but <a href="/login/?next={{ url|safe }}">linking a Google account</a> can make it easier to find it later.</p>      {% endif %}
        <button type="button" id="ok-button" class="btn btn-info">OK, I understand now.</button>
      </div>
      <div id="help-done">
        <p>Select the provider and flavor you would like to launch this instance on and then click <strong>Reserve Instance</strong> to locate and reserve an instance for payment. If you would like shell access to the instance after it starts, please paste a <strong>public SSH key</strong> in the field below.</p>
      </div>
      <div class="row form-group">
        <div class="col-md-12"> 
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <div class="row">
              {{ macros.input(form, "provider", "Cloud Provider", "col-xs-6", class="form-control pulldown") }}
            </div>
            <div class="row">
              {{ macros.input(form, "flavor", "Flavor", "col-xs-8", class="form-control pulldown") }}
            </div>
            <div class="row">
              {{ macros.input(form, "ssh_key", "Public SSH Key (optional)", "col-xs-12", class="form-control form-ssh-key", rows=4, placeholder="ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAklOUpkDHrfHY17SbrmTIpNLTGK9Tjom/BWDSUGPl+nafzlHDTYW7hdI4yZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4h9lFX5QVkbPppSwg0cda3Pbv7kOdJ/MTyBlWXFCR+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XAt3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/EnmZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbxNrRFi9wrf+M7Q== anonymous@bitcoin.local") }}
            </div>
        </div>
      </div>
      <div class="launch-buttons">
        <button type="button" id="reserve-button" class="btn btn-success">Reserve Instance</button>
        {% if owner %}
        <button type="button" id="edit-button" class="btn btn-info">Edit Project</button>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // list of provider's various flavors which match project specs
    {#
    // the {{ providers }} object is safe because the appliance name, the only
    // user editable item in this object, is stripped when it is submitted by the 
    // user during POST creation and update in appliancehandlers.py
    #}
    var providers = {{ providers|safe }};

    // function to update flavor pulldown
    var update_pulldowns = function() {
      // grab provider ID
      var provider = $("#provider option:selected").val();
      
      // empty the flavor pulldown  
      $('#flavor').empty();

      {% if plenty %}
      // loop through the flavors
      $.each( providers[provider].flavors, function(index, flavor) {
        // update the flavor pulldown
        $("<option />", {
          val: flavor.name,
          text: flavor.description
        }).appendTo('#flavor');
      });
      {% endif %}
    }

    // run first page view
    update_pulldowns();

    // run when provider is changed
    $("#provider").change(function () {
      update_pulldowns();
    }); 

    // other projects
    $('#public-projects').click(function() {
      window.location = "{{ uri_for('projects') }}";
    });

    // edit, if possible
    $('#edit-button').click(function() {
      window.location = "edit/";
    });

    // hide help section
    $('#ok-button').click(function() {
      $.cookie('project-view-help', 'hide', { expires: 3650, path: '/' });
      $('#help').addClass('hidden');
      $('#help-done').removeClass('hidden');
    });
    if ($.cookie('project-view-help') == 'hide') {
      $('#help').addClass('hidden');
      $('#help-done').removeClass('hidden');
    } else {
      $('#help').removeClass('hidden');
      $('#help-done').addClass('hidden');
    }

    // create a wisp
    var create_wisp = function(ssh_key, project_id) {
      var wisp_post_data = {
        "ssh_key": ssh_key,
        "project_id": project_id
      }

      // create a new wisp
      $.ajax({
        type: "POST",
        url: "{{ uri_for('api-wisp') }}",
        data: JSON.stringify(wisp_post_data),
        dataType: "json",
        processData: false
      }).fail(function(data) {
        if ("responseJSON" in data) {
          alertify.error(data.responseJSON.result.message);
        } else {
          alertify.error("Something went horribly wrong. Maybe you aren't connected?");
        }
        $('#reserve-button').prop("disabled", false);
      }).done(function(data) {
          // create instance bid
          var wisp_id = data.result.wisp.id;
          var bid_post_data = {
            "flavor": $('#flavor').val(),
            "providers": [
              {
                'id': $('#provider').val(), 
                'name': providers[$('#provider').val()].name
              }
            ],
            "wisp_id": data.result.wisp.id
          }
          // create a new bid
          $.ajax({
            type: "POST",
            url: "{{ uri_for('api-bids') }}",
            data: JSON.stringify(bid_post_data),
            dataType: "json",
            processData: false
          }).fail(function(data) {
            if ("responseJSON" in data) {
              if (data.responseJSON.result.bid) {
                // go to bid/instance page
                alertify.log("Found existing bid. Forwarding...");
                setTimeout(function() {
                  window.location = "/projects/bid/" + data.responseJSON.result.bid.token + "/";
                }, 2000);
              } else {
                alertify.error(data.responseJSON.result.message);
                alertify.log("Please try again in a few minutes.")
                setTimeout(function() {
                  window.location = "{{ uri_for('projects') }}";
                }, 5000);
              }
            } else {
              alertify.error("Something went horribly wrong. Maybe you aren't connected?");
              $('#reserve-button').prop("disabled", false);
            }
          }).done(function(data) {
            console.log(data.result);
            // go to bid/instance page
            window.location = "/projects/bid/" + data.result.bid.token+"/";
          });
      });
    }

    // reserve instance button
    $('#reserve-button').click(function() {
      create_wisp($('#ssh_key').val(), "{{ project.key.id() }}");
      $('#reserve-button').attr('disabled', 'disabled');
    });


  });
</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <script type='text/javascript' src='/js/jquery.cookie.js'></script>
  <script type="text/javascript" src="/js/jquery.qrcode.js"></script>
  <script type="text/javascript" src="/js/qrcode.js"></script>
  <script type="text/javascript" src="/js/toggles.js"></script>
{% endblock %}

