{% extends base_layout %}


{% block title %}
    Change Email - 
{% endblock %}

{% block extra_nav %}{{ macros.nav_menu('', user_id) }}{% endblock %}

{% block header_title_lead %}
    <h1>Change Email Address</h1>
    <p class="lead">
        Use the form below to change your email address.  Use the precious password to save.
    </p>
{% endblock %}

{% block content %}

    <form id="form_edit_email" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        	{{ macros.input(form, "new_email", _("Email Address"), placeholder=_("Enter a new email address"), class="input-xlarge focused required email", type="email", value=current_email) }}
            {{ macros.input(form, "password", _("Current Password"), placeholder=_("Enter your")+" "+_("Password"), class="input-xlarge focused required", type="password") }}
            <div class="form-actions">
                <button type="submit" class="btn btn-inverse btn-large"><i class="icon-white icon-envelope"></i> {% trans %}Change Email{% endtrans %}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_edit_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}