{% extends base_layout %}

<!-- Set Title -->
{% block title %}
  Edit Password - 
{% endblock %}

{% block extra_nav %}{{ macros.nav_menu('', user_id) }}{% endblock %}

{% block header_title_lead %}
    <h1>Change Password</h1>
    <p class="lead">
        Use the form below to change your password.  Or not.
    </p>
{% endblock %}

{% block content %}

    <form id="form_edit_password" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "current_password", _("Current Password"), class="input-xlarge focused required", type="password") }}
            {{ macros.input(form, "password", _("New Password"), class="input-xlarge focused required", type="password") }}
            <div class="form-actions">
                <button type="submit" class="btn btn-inverse btn-large"><i class="icon-white icon-lock"></i> {% trans %}Change Password{% endtrans %}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_edit_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}