{% extends base_layout %}

<!-- Set Title -->
{% block title %}
  Login - 
{% endblock %}

{% block extra_nav %}{{ macros.nav_menu('', user_id) }}{% endblock %}

{% block header_title_lead %}
    <h1>Login to TinyProbe</h1>
    <p class="lead">
        {% trans %}Don't have an account?  Not a problem partner, you can {% endtrans %}  <a href="/preregister">{% trans %}create an account{% endtrans %}</a> {% trans %}for free!{% endtrans %}
    </p>
{% endblock %}

{% block content %}
    <form id="form_login_user" action="{{ url|safe }}" method="post" class="well form-vertical auth-at-loginpage">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "username", _("Username"), class="input-xlarge focused") }}
            {{ macros.input(form, "password", _("Password"), class="input-xlarge focused", type="password") }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-inverse btn-large btn-login">{% trans %}Login{% endtrans %}</button>
                    <label><input type="checkbox" name="remember_me" value="on" /><span class="remember_me">{% trans %}Remember me?{% endtrans %}</span></label>
                    </p>
                </div>
            </div>

            {{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}
        </fieldset>
    </form>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_login_user").validate({
                submitHandler: function(form) {
                          form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}