{% extends base_layout %}

<!-- Set Title -->
{% block title %}
  Forgot Password - 
{% endblock %}

{% block extra_nav %}{{ macros.nav_menu('', user_id) }}{% endblock %}

{% block header_title_lead %}
    <h1>Forgot Your Password?</h1>
    <p class="lead">
        Enter your email address below and we'll email a link to reset your account password.
    </p>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var RecaptchaOptions = {
            theme : 'white'
        };
    </script>

    <form id="form_reset_password" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "email", _("Email"), placeholder=_("foobar@baz.com"), class="input-xlarge focused required email", type="email") }}
            <div class="control-group">
                <div class="controls" id="captcha">
                    {{captchahtml | safe}}
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-inverse btn-large">{% trans %}Reset Password{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_reset_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}