{% extends base_layout %}

<!-- Set Title -->
{% block title %}
  Reset Password - 
{% endblock %}

{% block extra_nav %}{{ macros.nav_menu('', user_id) }}{% endblock %}

{% block header_title_lead %}
    <h1>Reset Your Password</h1>
    <p class="lead">
        Enter a new password below to reset your account's login credentials.
    </p>
{% endblock %}

{% block content %}
    <form id="form_new_password" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "password", _("New Password"), placeholder=_("Enter your")+" "+_("New Password"), class="input-xlarge focused required", type="password") }}
            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-inverse">{% trans %}Reset Password{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_new_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}