{% extends base_layout %}

<!-- Set Title -->
{% block title %}
  Edit Profile - 
{% endblock %}

{% block extra_nav %}{{ macros.nav_menu('', user_id) }}{% endblock %}

{% block header_title_lead %}
    <h1>Edit User Profile</h1>
    <p class="lead">
        Update your user profile below.  Click button to save, then dance.
    </p>
{% endblock %}

{% block content %}

    <form id="form_edit_profile" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "username", _("Username"), placeholder=_("Enter your")+" "+_("Username"), class="input-xlarge focused required") }}
            {{ macros.input(form, "name", _("First Name"), placeholder=_("Enter your")+" "+_("first name"), class="input-xlarge focused") }}
            {{ macros.input(form, "last_name", _("Last Name"), placeholder=_("Enter your")+" "+_("last Name"), class="input-xlarge focused") }}
            {{ macros.input(form, "company", _("Company"), placeholder=_("Where you work"), class="input-xlarge focused") }}
            {{ macros.input(form, "country", _("Country")) }}

            {% if enable_federated_login %}
	            {% if used_providers %}
	                <div id="third_party_login" class="existing-accociation">
	                    <h4>{% trans %}Existing social associations{% endtrans %}:</h4>
	                    <table class=" social-login-icons">
	                        {% for provider in used_providers %}
	                            <tr>
	                                <td><a href="#" class="social-btn social-btn-{{ provider.name }}" title="{{ provider.label }}"></a></td>
	                                <td><a href="/social_login/{{ provider.name }}/delete" class="btn btn-remove btn-inverse"><i class="icon-trash icon-white"></i>&nbsp;{% trans %}Remove{% endtrans %}</a></td>
	                            </tr>
	                        {% endfor %}
	                    </table>
	                </div>
	            {% endif %}
	            {% if unused_providers %}
	                <div id="third_party_login" class="form-actions">
	                    <h4>{% trans %}Associate account with{% endtrans %}:</h4>
	                    <div class="social-login-icons">
	                        {% for provider in unused_providers %}
	                            <a href="{{ provider_uris[provider.name] }}" class="social-btn social-btn-{{ provider.name }}" title="{{ provider.label }}">{{ provider.label }}</a>
	                        {% endfor %}
	                    </div>
	                </div>
	            {% endif %}
            {% endif %}
            <div class="form-actions">
            <button type="submit" class="btn btn-inverse btn-large">{% trans %}Update Profile{% endtrans %}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_edit_profile").validate({
            submitHandler: function(form) {
                    form.submit();
            },
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
        {% if country != "" %}
        $('#country option[value="{{ country }}"]').attr("selected",true);
        {% endif %}
    });
</script>
{% endblock %}

